Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "docs/**/*": ["pnpm build:docs"]
}

✨ 增加网格吸附对齐功能
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/stage/Stage.tsx
  app/src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix, prettier --write

✨ 对齐面板增加上下左右翻转树结构的功能
  app/src/core/service/controlService/autoLayoutEngine/autoLayoutFastTreeMode.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix

🐛 修复导出选中部分的内容为svg时，section框内的内容丢失的问题
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportSvg.tsx
Due: eslint --fix

🔥 alt+方向键在节点周围创建新节点时不再自动连线（因为广度生长和深度正常功能已经有了）
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
Due: eslint --fix

✨ 节点生长时，自动继承父节点颜色
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
Due: eslint --fix

✨ 增加全局内容替换的逻辑节点
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/logicNodeNameEnum.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/mainTick.tsx
  app/src/pages/_fixed_panel/_logic_node_panel.tsx
Due: eslint --fix

📝 更新文档
  docs/src/zh/guide/features/compute-engine.md
Due: prettier --write, pnpm build:docs

:memo: Add outdated warning to English docs
  docs/src/.vitepress/theme/Layout.vue
  docs/src/.vitepress/theme/index.ts
Due: eslint --fix, pnpm build:docs

🔥 彻底去除alt+方向键在节点周围创建新节点时的自动连线
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
Due: eslint --fix

:memo: Change styles for docs
  docs/src/.vitepress/theme/custom.scss
Due: pnpm build:docs

🐛 修复设置界面滑动轨道右侧数字输入框无法修改设置项的bug
  app/src/components/Slider.tsx
Due: eslint --fix

🔥 移除ctrl+s时屏幕闪黑特效
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/dataFileService/StageSaveManager.tsx
  app/src/core/service/dataFileService/autoSaveBackupEngine/autoSaveEngine.tsx
Due: eslint --fix

🐛 修复有填充色的嵌套的section导出svg时，填充色覆盖内部内容的bug
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportSvg.tsx
  app/src/core/stage/stageManager/basicMethods/SectionMethods.tsx
Due: eslint --fix

🔥 暂时关闭涂鸦的粘连式移动
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
Due: eslint --fix

✨ 涂鸦粘连式移动改为在鼠标按下时触发，而非移动的过程中时时刻刻触发并造成碰撞。
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/stage/stageManager/basicMethods/PenStrokeMethods.tsx
Due: eslint --fix

✨ 将涂鸦的粘连式移动改为ctrl+q扩散选择
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/stage/stageManager/basicMethods/PenStrokeMethods.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

🚸 删除连线时自动删除产生的孤立质点
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
Due: eslint --fix

🧪 添加日期检测测试
  app/src/pages/index.tsx
  app/src/pages/test.tsx
  app/src/utils/dateChecker.tsx
Due: eslint --fix

🐛 修复section框复制后，内部嵌套的子section框连线丢失问题
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
  app/src/core/stage/stageManager/basicMethods/SectionMethods.tsx
Due: eslint --fix

🚸 绘制涂鸦时，设置的自动填充颜色在鼠标未松开时渲染生效
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/core/stage/stageObject/abstract/StageObject.tsx
Due: eslint --fix

🚸 优化涂鸦鼠标样式
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: eslint --fix

:globe_with_meridians: 修改文档i18n结构
  docs/src/.vitepress/config/index.ts
  docs/src/.vitepress/config/sidebar/en.ts
  docs/src/.vitepress/config/sidebar/zhCn.ts
  docs/src/.vitepress/theme/Layout.vue
  docs/src/en/contributing.md
  docs/src/en/faq.md
  docs/src/en/index.md
  docs/src/en/installation.md
  docs/src/en/privacy.md
  docs/src/en/terms.md
  docs/src/index.md
  docs/src/zh_CN/dev/iframe.md
  docs/src/zh_CN/dev/index.md
  docs/src/zh_CN/donate.md
  docs/src/zh_CN/guide/faq.md
  docs/src/zh_CN/guide/features/ai.md
  docs/src/zh_CN/guide/features/camera.md
  docs/src/zh_CN/guide/features/cli.md
  docs/src/zh_CN/guide/features/compute-engine.md
  docs/src/zh_CN/guide/features/connect-point.md
  docs/src/zh_CN/guide/features/edge.md
  docs/src/zh_CN/guide/features/export.md
  docs/src/zh_CN/guide/features/image.md
  docs/src/zh_CN/guide/features/import.md
  docs/src/zh_CN/guide/features/link-node.md
  docs/src/zh_CN/guide/features/node.md
  docs/src/zh_CN/guide/features/pen-stroke.md
  docs/src/zh_CN/guide/features/portal-node.md
  docs/src/zh_CN/guide/features/quick-action.md
  docs/src/zh_CN/guide/features/section.md
  docs/src/zh_CN/guide/features/split-merge.md
  docs/src/zh_CN/guide/features/tree.md
  docs/src/zh_CN/guide/features/url-node.md
  docs/src/zh_CN/guide/getting-started.md
  docs/src/zh_CN/guide/index.md
  docs/src/zh_CN/guide/installation.md
  docs/src/zh_CN/index.md
  docs/src/zh_CN/misc/privacy.md
  docs/src/zh_CN/misc/terms.md
Due: eslint --fix, prettier --write, pnpm build:docs

:memo: 修复文档中的双斜杠跳转
  docs/src/.vitepress/theme/Layout.vue
Due: pnpm build:docs

:memo: 修复错误的链接
  docs/src/.vitepress/config/index.ts
Due: eslint --fix, pnpm build:docs

✨ 添加逻辑节点：获取鼠标的世界坐标系下的位置
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/logicNodeNameEnum.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/mainTick.tsx
Due: eslint --fix

:sparkles: Add PluginWorker class
  app/package.json
  app/src/core/plugin/PluginWorker.tsx
  app/src/core/plugin/types.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🐛 修复逻辑节点：修改节点位置时报错
  app/src/core/service/dataGenerateService/autoComputeEngine/AutoComputeUtils.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
Due: eslint --fix

:white_check_mark: 添加插件相关测试
  app/package.json
  app/src/components/dialog.tsx
  app/src/core/plugin/PluginWorker.tsx
  app/src/utils/platform.tsx
  app/src/vite-env.d.ts
  app/tests/plugin.test.tsx
  app/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🚸 逻辑节点在指定位置创建节点后，该返回UUID
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
Due: eslint --fix

✨ 增加某位置是否存在实体的判断逻辑节点
  app/src/core/dataStruct/shape/Rectangle.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/logicNodeNameEnum.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/mainTick.tsx
Due: eslint --fix

✨ 增加获取当前日期时间的逻辑节点
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/logicNodeNameEnum.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/mainTick.tsx
Due: eslint --fix

✨ 增加日期加法逻辑节点
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/logicNodeNameEnum.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/mainTick.tsx
Due: eslint --fix

:construction_worker: 添加Changelog自动生成脚本
  .github/scripts/generate-changelog.sh
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: prettier --write

:green_heart: 修复CI报错
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: prettier --write

:green_heart: 修复CI
  .github/workflows/nightly.yml
Due: prettier --write

:construction_worker: 将更新日志生成器中的范围nightly..master改为[上一个release]..master
  .github/scripts/generate-changelog.sh
Due: none

:green_heart: 在删除和创建release间添加延迟 (see cli/cli#8458)
  .github/workflows/nightly.yml
Due: prettier --write

:memo: 在开发版下载链接处显示更新日志
  docs/src/.vitepress/theme/GithubRelease.vue
Due: pnpm build:docs

📝 更正两个逻辑节点显示的名字
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/logicNodeNameEnum.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/mainTick.tsx
Due: eslint --fix

📝 更新prettierignore文件
  .prettierignore
  app/src/router.ts
Due: eslint --fix
