Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

✨ 增加超边的渲染方式切换功能
  app/src/core/render/canvas2d/entityRenderer/multiTargetUndirectedEdge/MultiTargetUndirectedEdgeRenderer.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/stageObject/association/MutiTargetUndirectedEdge.tsx
  app/src/pages/_toolbar.tsx
  app/src/types/node.tsx
Due: eslint --fix

✨ 创建超边时，自动计算padding
  app/src/core/stage/stageManager/basicMethods/HyperGraphMethods.tsx
  app/src/core/stage/stageObject/association/MutiTargetUndirectedEdge.tsx
Due: eslint --fix

fix: :pencil2: 修订中文显示文本用字
  app/src/locales/zh_CN.yml
Due: prettier --write

fix: :pencil2: 修复有手刹时WASD键的左下角提示
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix

💄 优化凸包线渲染
  app/src/core/render/canvas2d/entityRenderer/multiTargetUndirectedEdge/MultiTargetUndirectedEdgeRenderer.tsx
Due: eslint --fix

🥚 增加秘籍键：将文本节点的详细信息和实际内容进行交换
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
Due: eslint --fix

🥚 增加秘籍键：生成超大量表情节点
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
Due: eslint --fix

🥚 优化kei和rua的生成位置和kei的生成间距
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
Due: eslint --fix

✨ 可解析文本节点详细信息第一行作为打开路径
  app/src/pages/_toolbar.tsx
  app/src/utils/externalOpen.tsx
Due: eslint --fix

✨ 任意实体的详细信息第一行都可以作为外部文件打开路径
  app/src/pages/_toolbar.tsx
  app/src/utils/externalOpen.tsx
Due: eslint --fix

🚸 弹出的输入框出现时自动获取焦点
  app/src/components/dialog.tsx
Due: eslint --fix

🚸 优化报错界面的呈现以供复制内容
  app/src/components/dialog.tsx
  app/src/pages/_fixed_panel/_error_handler.tsx
Due: eslint --fix

📝 非完全覆盖框选 -> 碰撞框选
  app/src/core/stage/stageObject/collisionBox/collisionBox.tsx
  app/src/locales/zh_CN.yml
  docs/content/docs/app/stage-object/entity/connectable-entity/text-node.mdx
Due: eslint --fix, prettier --write

✨ 增加横向滚轮的操作
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/Camera.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/control.tsx
Due: eslint --fix, prettier --write

📝 优化翻译
  app/src/locales/zh_CN.yml
Due: prettier --write

✨ 侧边滚轮增加向鼠标位置移动或相反方向移动的功能
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/MouseTipFeedbackEffect.tsx
  app/src/core/stage/Camera.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/control.tsx
Due: eslint --fix, prettier --write

🚸 将鼠标滚轮导致摄像机横向移动和纵向移动的过程更加丝滑
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
Due: eslint --fix

🚸 方向键移动选中节点且摄像机跟随时，摄像机的移动更加丝滑
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
Due: eslint --fix

📝 更正文档错误
  docs/content/docs/app/software-connect/xmind.mdx
Due: none

🐛 修复弹窗出现的bug
  app/src/components/dialog.tsx
Due: eslint --fix

🥚 增加一个手动触发报错弹窗的秘籍键
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
Due: eslint --fix

🐛 修复在框内实用连线拖拽创建质点，质点没有被框引入的问题
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
Due: eslint --fix

📝 更新文档
  app/src/pages/info.tsx
  docs/content/docs/app/stage-object/association/connectable-association/index.mdx
Due: eslint --fix

✨ 增加有向边和无向边的相互转换功能
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

✨ 直接通过工具栏创建无向边
  app/src/pages/_toolbar.tsx
Due: eslint --fix

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

Translated using Weblate (Chinese (Traditional Han script))
  app/src/locales/zh_TW.yml
Due: prettier --write

📝 文档
  app/src/types/node.tsx
  docs/content/docs/app/software-connect/obsidian.mdx
Due: eslint --fix

🚸 复制印章出现时，左键按下即可粘贴
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCopy.tsx
Due: eslint --fix

🚸 当右键拖拽空白部分设置为移动舞台时，中键拖拽移动会变为劈砍
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
Due: eslint --fix

🚸 涂鸦模式下禁用alt跳跃移动
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

⚡️ 当画面缩小到一定程度时，不渲染实体详细信息
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/textNode/TextNodeRenderer.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

🚸 增加线段碰撞箱的粗度
  app/src/core/dataStruct/shape/Line.tsx
  app/src/core/render/canvas2d/entityRenderer/CollisionBoxRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix

🚸 视野缩放至极小情况下，选中的绿色边缘变粗，以避免有遥远处的对象被遗忘
  app/src/core/render/canvas2d/entityRenderer/CollisionBoxRenderer.tsx
Due: eslint --fix

🚸 框内的文本节点随着输入变宽时，外部的全部的框会自动调整大小。
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/stage/stageManager/basicMethods/SectionMethods.tsx
Due: eslint --fix

🚸 简化鼠标滚轮缩放视野时鼠标旁边的提示性特效
  app/src/core/service/feedbackService/effectEngine/concrete/MouseTipFeedbackEffect.tsx
Due: eslint --fix

🚧 双向线的连线端点位置调整
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/StraightEdgeRenderer.tsx
Due: eslint --fix
