Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

🐛 修复子窗口尺寸问题
  app/src/pages/_render_sub_windows.tsx
  docs/content/docs/app/feature/sub-window.mdx
Due: eslint --fix

🐛 解决远古bug 鼠标拖动到dom元素上会粘住
  app/src/core/service/controlService/controller/ControllerClass.tsx
Due: eslint --fix

💡 补充注释
  app/src/components/dialog.tsx
  app/src/core/service/LastLaunch.tsx
  app/src/core/service/SubWindow.tsx
  app/src/pages/_render_sub_windows.tsx
Due: eslint --fix

🐛 修复pointer-events
  app/src/pages/_render_sub_windows.tsx
Due: eslint --fix

👷 先把foss版本禁用了
  .github/workflows/publish.yml
Due: prettier --write

♻️ 重写RecentFiles
  app/src/core/service/SubWindow.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/pages/_app.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
  app/src/pages/_render_sub_windows.tsx
  app/src/pages/_sub_window/AppMenuWindow.tsx
  app/src/pages/_sub_window/RecentFilesWindow.tsx
  app/src/state.tsx
Due: eslint --fix

✨ 给light和park主题添加多窗口配色
  app/src/pages/_sub_window/AppMenuWindow.tsx
  app/src/pages/_sub_window/SettingsWindow/index.tsx
  app/src/themes/dark.pg-theme
  app/src/themes/light.pg-theme
  app/src/themes/park.pg-theme
Due: eslint --fix

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

✨ 逻辑节点名称自动补全（未完成）
  app/src/core/render/domElement/inputElement.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/pages/_sub_window/AutoCompleteWindow.tsx
Due: eslint --fix

📝 添加DartNode赞助信息
  app/README.md
Due: prettier --write

🚧 Tabs
  app/package.json
  app/src/core/Project.tsx
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
  app/src/core/service/dataFileService/fileLoader.tsx
  app/src/core/stage/ProjectFormatUpgrader.tsx
  app/src/core/stage/StageLoader.tsx
  app/src/main.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ 完善Project工程类
  app/src/core/Project.tsx
  app/src/core/interfaces/Service.tsx
Due: eslint --fix

🚧 继续完善tabs
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRendererClass.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/StraightEdgeRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/SymmetryCurveEdgeRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/VerticalPolyEdgeRenderer.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/CircleChangeRadiusEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/CircleFlameEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EdgeCutEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityAlignEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityDashTipEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityJumpMoveEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityShakeEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityShrinkEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ExplodeDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/LineCuttingEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/LineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/MouseTipFeedbackEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/NodeMoveShadowEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/PenStrokeDeletedEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/PointDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleLittleNoteEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleNoteEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectanglePushInEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleRenderEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSlideEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSplitTwoPartEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TechLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRaiseEffectLocated.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRiseEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ViewFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ViewOutlineFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ZapLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/effectMachine.tsx
  app/src/core/service/feedbackService/effectEngine/effectObject.tsx
  app/src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
Due: eslint --fix

🚧 继续完善tabs
  app/src/core/Project.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/CircleChangeRadiusEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/CircleFlameEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EdgeCutEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityAlignEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityDashTipEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityJumpMoveEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityShakeEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityShrinkEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ExplodeDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/LineCuttingEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/LineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/MouseTipFeedbackEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/NodeMoveShadowEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/PenStrokeDeletedEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/PointDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleLittleNoteEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleNoteEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectanglePushInEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleRenderEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSlideEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSplitTwoPartEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TechLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRaiseEffectLocated.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRiseEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ViewFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ViewOutlineFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ZapLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/effectMachine.tsx
  app/src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
Due: eslint --fix

🚧 继续完善tabs
  app/src/core/Project.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/render/canvas2d/utilsRenderer/searchContentHighlightRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerAssociationReshape.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEdgeEdit.tsx
  app/src/core/service/controlService/controller/concrete/ControllerSectionEdit.tsx
  app/src/core/service/controlService/stageMouseInteractionCore/stageMouseInteractionCore.tsx
  app/src/core/service/dataFileService/StageSaveManager.tsx
  app/src/core/service/dataFileService/fileLoader.tsx
  app/src/core/service/dataFileService/stageFilePathManager.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/AutoComputeUtils.tsx
  app/src/core/service/dataGenerateService/generateFromFolderEngine/GenerateFromFolderEngine.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/core/service/dataManageService/contentSearchEngine/contentSearchEngine.tsx
  app/src/core/stage/Stage.tsx
  app/src/pages/_canvas.tsx
Due: eslint --fix

📝 添加 Feature Freeze 提示
  docs/app/global.css
  docs/content/docs/app/feature/index.mdx
  docs/content/docs/app/index.mdx
  docs/package.json
  pnpm-lock.yaml
Due: prettier --write

🚧 继续完善tabs
  app/src/core/Project.tsx
  app/src/core/render/canvas2d/entityRenderer/textNode/TextNodeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/stage/ProjectFormatUpgrader.tsx
  app/src/types/node.tsx
  app/src/utils/base64.tsx
Due: eslint --fix

🚧 继续完善tabs
  app/src/core/Project.tsx
  app/src/core/service/dataFileService/autoSaveBackupEngine/autoBackupEngine.tsx
  app/src/core/service/dataFileService/autoSaveBackupEngine/autoSaveEngine.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportSvg.tsx
Due: eslint --fix

📝 完善2.0文档
  docs/content/docs/app/donate.mdx
  docs/content/docs/app/history.mdx
  docs/content/docs/app/index.mdx
  docs/content/docs/app/meta.json
  docs/content/docs/app/v2-changelog.mdx
Due: prettier --write

📝 完善2.0文档
  app/src/core/Project.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerAssociationReshape.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera/mac.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCopy.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityCreate.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportSvg.tsx
  app/src/core/service/dataManageService/ComplexityDetector.tsx
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
  app/src/core/service/dataManageService/copyEngine/pasteImage.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ExplodeDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/MouseTipFeedbackEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/PointDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectanglePushInEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSlideEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSplitTwoPartEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRaiseEffectLocated.tsx
  app/src/core/service/feedbackService/effectEngine/effectObject.tsx
  app/src/core/service/feedbackService/stageStyle/StageStyleManager.tsx
  app/src/core/service/feedbackService/stageStyle/stageStyle.tsx
  app/src/core/stage/Stage.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageGeneratorAI.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSerializedAdder.tsx
  app/src/utils/path.tsx
Due: eslint --fix

📝 完善2.0文档
  docs/content/docs/app/v2-changelog.mdx
Due: none

📝 完善2.0文档
  app/src/core/service/feedbackService/SoundService.tsx
  app/src/main.tsx
  docs/app/docs/[[...slug]]/page.client.tsx
  docs/app/docs/[[...slug]]/page.tsx
  docs/content/docs/app/faq/mac.mdx
  docs/content/docs/core/Project.mdx
  docs/content/docs/core/Service.mdx
  docs/content/docs/core/index.mdx
  docs/content/docs/core/meta.json
  docs/mdx-components.tsx
  docs/package.json
  docs/source.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🚧 继续完善
  app/src/core/Project.tsx
  app/src/core/render/canvas2d/controllerRenderer/drawingRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerAssociationReshape.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera/mac.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityCreate.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeControl.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
  app/src/core/service/controlService/rectangleSelectEngine/rectangleSelectEngine.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/controlService/shortcutKeysEngine/KeyBinds.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutManualAlignManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutSectionManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutToSquareManager.tsx
  app/src/core/stage/stageManager/concreteMethods/stageNodeRotate.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
  app/src/pages/_toolbar.tsx
  app/src/utils/emacs.tsx
Due: eslint --fix

🚧 继续完善
  app/src/core/fileSystemProvider/FileSystemProviderFile.tsx
  app/src/core/interfaces/Service.tsx
Due: eslint --fix

🚧 使用tauri的fs插件
  app/package.json
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/capabilities/default.json
  app/src-tauri/src/cmd/fs.rs
  app/src-tauri/src/cmd/mod.rs
  app/src-tauri/src/lib.rs
  app/src/utils/fs.tsx
Due: eslint --fix, prettier --write

🚧 继续完善
  app/src/assets/versions.json
  app/src/cli.tsx
  app/src/components/IconButton.tsx
  app/src/core/Project.tsx
  app/src/core/interfaces/Service.tsx
  app/src/core/interfaces/interfaces.tsx
  app/src/core/plugin/UserScriptsManager.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/core/service/dataFileService/StartFilesManager.tsx
  app/src/core/service/dataGenerateService/generateFromFolderEngine/GenerateFromFolderEngine.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/stageExportEngine.tsx
  app/src/core/service/dataManageService/copyEngine/pasteImage.tsx
  app/src/core/service/feedbackService/SoundService.tsx
  app/src/core/stage/stageManager/StageHistoryManager.tsx
  app/src/core/stage/stageObject/association/EdgeCollisionBoxGetter.tsx
  app/src/core/stage/stageObject/entity/ImageNode.tsx
  app/src/core/stage/stageObject/entity/PortalNode.tsx
  app/src/index.css
  app/src/main.tsx
  app/src/pages/_app.tsx
  app/src/pages/_canvas.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
  app/src/pages/_fixed_panel/_export_text_panel.tsx
  app/src/pages/_fixed_panel/_start_file_panel.tsx
  app/src/pages/_popup_panel/_export_svg_panel.tsx
  app/src/pages/_sub_window/AppMenuWindow.tsx
  app/src/pages/_sub_window/FindWindow.tsx
  app/src/pages/_sub_window/RecentFilesWindow.tsx
  app/src/pages/_sub_window/SettingsWindow/plugins.tsx
  app/src/pages/_sub_window/SettingsWindow/sounds.tsx
  app/src/pages/_toolbar.tsx
  app/src/pages/secret.tsx
  app/src/pages/test.tsx
  app/src/state.tsx
  app/src/themes/dark.pg-theme
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🚧 继续完善
  app/src/core/render/canvas2d/controllerRenderer/drawingRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityDetailsButtonRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/portalNode/portalNodeRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/urlNode/urlNodeRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/SubWindow.tsx
  app/src/core/service/controlService/MouseLocation.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
  app/src/core/stage/stageManager/concreteMethods/StageTagManager.tsx
  app/src/index.css
  app/src/main.tsx
  app/src/pages/_app.tsx
  app/src/pages/_render_sub_windows.tsx
  app/src/pages/_sub_window/MenuWindow.tsx
  app/src/themes/dark.pg-theme
Due: eslint --fix

Better solution for `Error 71 (Protocol error) dispatching to Wayland display`
  app/src-tauri/src/lib.rs
Due: none

Update lib.rs
  app/src-tauri/src/lib.rs
Due: none

🚧 继续完善
  app/src/core/Project.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
  app/src/pages/_app.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
  app/src/pages/_sub_window/MenuWindow.tsx
Due: eslint --fix

🚧 继续完善
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/dataGenerateService/generateFromFolderEngine/GenerateFromFolderEngine.tsx
  app/src/pages/_sub_window/ColorWindow.tsx
  app/src/utils/externalOpen.tsx
Due: eslint --fix

🚧 标签页功能基本完成
  app/.browserslistrc
  app/src/core/Project.tsx
  app/src/core/loadAllServices.tsx
  app/src/core/render/canvas2d/controllerRenderer/drawingRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/ControllerClass.tsx
  app/src/core/service/controlService/controller/ControllerClassDragFile.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/stage/Canvas.tsx
  app/src/core/stage/stageObject/association/LineEdge.tsx
  app/src/core/stage/stageObject/entity/ConnectPoint.tsx
  app/src/pages/_app.tsx
Due: eslint --fix

👷 Actions添加prerelease选项
  .github/workflows/release.yml
Due: prettier --write

💚 修复ci
  .github/scripts/generate-changelog.mjs
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
