Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

🐛 修复报错
  app/src/core/Project.tsx
  app/src/core/fileSystemProvider/FileSystemProviderDraft.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/GlobalMenu.tsx
Due: eslint --fix

👷 移除Nightly Build
  .github/workflows/nightly.yml
Due: prettier --write

🔧 修改turborepo配置
  turbo.json
Due: prettier --write

👷 添加文档部署工作流
  .github/workflows/deploy-docs.yml
  docs/next.config.mjs
  docs/open-next.config.ts
  docs/package.json
  docs/wrangler.jsonc
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

👷 修复deploy-docs报错
  .github/workflows/deploy-docs.yml
Due: prettier --write

👷 添加workflow_dispatch
  .github/workflows/deploy-docs.yml
Due: prettier --write

👷 Fix ci
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
Due: prettier --write

👷 Fix ci
  .github/workflows/deploy-docs.yml
Due: prettier --write

👷 Fix ci
  docs/.gitignore
  docs/content/docs/app/donate.mdx
  docs/img/donate-littlefean.png
  docs/img/donate-zty012.png
Due: none

🐛 修复无法打开文件
  app/src/core/Project.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/AutoComputeUtils.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataGenerateService/generateFromFolderEngine/GenerateFromFolderEngine.tsx
  app/src/core/service/dataManageService/copyEngine/pasteImage.tsx
  app/src/core/service/dataManageService/copyEngine/pastePlainText.tsx
  app/src/core/service/helpService/helpService.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeAdder.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSerializedAdder.tsx
  packages/serializer/src/index.ts
Due: eslint --fix

⏪️ Revert
  docs/next.config.mjs
  docs/open-next.config.ts
  docs/package.json
  docs/wrangler.jsonc
Due: eslint --fix, prettier --write

🐛 (serializer) 修复第三方库无法获取类名
  packages/serializer/src/index.ts
Due: eslint --fix

Create no-issues.yml
  .github/ISSUE_TEMPLATE/no-issues.yml
Due: prettier --write

📦️ 将vite-plugin-original-class-name转换为unplugin
  app/package.json
  app/src/vite-env.d.ts
  app/vite.config.ts
  docs/content/docs/serializer/index.mdx
  docs/content/docs/serializer/unplugin-original-class-name.mdx
  docs/content/docs/unplugin-original-class-name/index.mdx
  docs/content/docs/unplugin-original-class-name/meta.json
  docs/mdx-components.tsx
  packages/serializer/package.json
  packages/serializer/tsconfig.json
  packages/unplugin-original-class-name/.gitignore
  packages/unplugin-original-class-name/.npmignore
  packages/unplugin-original-class-name/README.md
  packages/unplugin-original-class-name/package.json
  packages/unplugin-original-class-name/src/astro.ts
  packages/unplugin-original-class-name/src/client.d.ts
  packages/unplugin-original-class-name/src/esbuild.ts
  packages/unplugin-original-class-name/src/farm.ts
  packages/unplugin-original-class-name/src/index.ts
  packages/unplugin-original-class-name/src/nuxt.ts
  packages/unplugin-original-class-name/src/rollup.ts
  packages/unplugin-original-class-name/src/rspack.ts
  packages/unplugin-original-class-name/src/types.ts
  packages/unplugin-original-class-name/src/vite-env.d.ts
  packages/unplugin-original-class-name/src/vite.ts
  packages/unplugin-original-class-name/src/webpack.ts
  packages/unplugin-original-class-name/tsconfig.json
  packages/unplugin-original-class-name/tsdown.config.ts
  packages/vite-plugin-original-class-name/README.md
  packages/vite-plugin-original-class-name/package.json
  packages/vite-plugin-pg-theme/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

📝 修改文档
  docs/content/docs/app/donate.mdx
Due: none

✨ (serializer) 支持配置getOriginalNameOf函数
  app/src/main.tsx
  docs/content/docs/serializer/unplugin-original-class-name.mdx
  packages/serializer/package.json
  packages/serializer/src/index.ts
  packages/serializer/tsconfig.json
  packages/unplugin-original-class-name/package.json
Due: eslint --fix, prettier --write

🚧 添加按键序列支持
  .github/workflows/deploy-docs.yml
  app/src/components/KeyBind.tsx
  app/src/pages/_sub_window/SettingsWindow/keybinds.tsx
  app/src/utils/emacs.tsx
Due: eslint --fix, prettier --write

📝 修改图片路径
  docs/content/docs/app/donate.mdx
  docs/img/donate-littlefean.png
  docs/img/donate-zty012.png
  docs/next.config.mjs
Due: none

🐛 暂时注释 解决两个小报错
  app/src/core/render/canvas2d/entityRenderer/textNode/TextNodeRenderer.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleRenderEffect.tsx
Due: eslint --fix

📝 添加import.txt
  docs/app/docs/[[...slug]]/page.tsx
  docs/app/import.txt/route.ts
  docs/content/docs/app/feature/import.mdx
  docs/content/docs/app/software-connect/llm.mdx
Due: eslint --fix

🐛 尝试改动一下GraphMethods，模仿SectionMethods
  app/src/core/Project.tsx
  app/src/core/loadAllServices.tsx
  app/src/core/stage/stageManager/basicMethods/GraphMethods.tsx
Due: eslint --fix

✨ 保存和打开文件
  app/src/core/service/GlobalMenu.tsx
  packages/data-structures/package.json
  packages/data-structures/tsdown.config.ts
  packages/shapes/package.json
  packages/shapes/tsdown.config.ts
  packages/unplugin-original-class-name/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🐛 修复创建节点不在鼠标位置
  app/src/core/stage/stageManager/concreteMethods/StageNodeAdder.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
Due: eslint --fix

✨ 删除节点
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
Due: eslint --fix

✨ 连线和删除连线
  app/src/core/Project.tsx
  app/src/core/service/controlService/autoLayoutEngine/autoLayoutFastTreeMode.tsx
  app/src/core/service/controlService/autoLayoutEngine/mainTick.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/AutoComputeUtils.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/stageExportEngine.tsx
  app/src/core/service/dataManageService/ComplexityDetector.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeAdder.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageTagManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutSectionManager.tsx
  app/src/core/stage/stageManager/concreteMethods/stageNodeRotate.tsx
  app/src/core/stage/stageObject/association/MutiTargetUndirectedEdge.tsx
  app/src/pages/_fixed_panel/_export_text_panel.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix

📝 移除文档首页按钮缩放效果
  docs/app/(home)/page.tsx
Due: eslint --fix

📝 添加博客
  docs/app/blog/[slug]/page.tsx
  docs/app/blog/layout.tsx
  docs/content/blog/hello-world.mdx
  docs/lib/source.ts
  docs/source.config.ts
Due: eslint --fix

🗑️ 将Effect.getClassName改为getOriginalNameOf
  app/src/core/service/feedbackService/effectEngine/concrete/CircleChangeRadiusEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/CircleFlameEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EdgeCutEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityAlignEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityDashTipEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityJumpMoveEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityShakeEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityShrinkEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ExplodeDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/LineCuttingEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/LineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/MouseTipFeedbackEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/NodeMoveShadowEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/PenStrokeDeletedEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/PointDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleLittleNoteEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleNoteEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectanglePushInEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleRenderEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSlideEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSplitTwoPartEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TechLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRaiseEffectLocated.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRiseEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ViewFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ViewOutlineFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ZapLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/effectMachine.tsx
  app/src/core/service/feedbackService/effectEngine/effectObject.tsx
  docs/content/blog/deploy-docs-on-server-in-hong-kong.mdx
  docs/content/blog/hello-world.mdx
  docs/content/blog/start-of-2-0-development.mdx
  packages/unplugin-original-class-name/src/client.d.ts
Due: eslint --fix

🐛 修复特效渲染不见了的bug
  .cursor/rules/project-structure.mdc
  app/src/core/Project.tsx
  app/src/core/loadAllServices.tsx
Due: eslint --fix

🐛 修复了所有特效对象的render函数中，this.project->project
  app/src/core/service/feedbackService/effectEngine/concrete/EntityAlignEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityJumpMoveEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityShrinkEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/NodeMoveShadowEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRiseEffect.tsx
Due: eslint --fix

✨ 添加标签页选中状态的样式
  app/src/css/theme.pcss
  app/src/pages/_app.tsx
  app/src/themes/dark.pg-theme
Due: eslint --fix

📝 添加博客文章
  docs/app/(home)/layout.tsx
  docs/app/blog/page.tsx
  docs/content/blog/announcing-v2.0.0-alpha.1.mdx
  docs/content/blog/start-of-2.0-development.mdx
Due: eslint --fix

💚 Fix ci
  .github/workflows/publish.yml
Due: prettier --write

📄 修改许可证为GPL-3.0,MIT
  .fuck-csdn.txt
  .prettierignore
  app/LICENSE
  app/package.json
  app/src/assets/projectGraphTips.json
  docs/LICENSE
  docs/content/blog/changing-license-to-gpl3-and-mit.mdx
  docs/package.json
  packages/api/LICENSE
  packages/data-structures/LICENSE
  packages/data-structures/package.json
  packages/serializer/LICENSE
  packages/serializer/package.json
  packages/shapes/LICENSE
  packages/shapes/package.json
  packages/unplugin-original-class-name/LICENSE
  packages/unplugin-original-class-name/package.json
  packages/vite-plugin-pg-theme/LICENSE
  packages/vite-plugin-pg-theme/package.json
Due: prettier --write

👷 移除win7版本
  .github/workflows/publish.yml
Due: prettier --write

⬆️ 更新依赖
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

👷 修复Turborepo无法解析到依赖 (see vercel/turborepo#10705)
  turbo.json
Due: prettier --write
