Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

📝 更正特效描述
  app/src/locales/zh_CN.yml
Due: prettier --write

💄 优化右上角圆角
  app/src/pages/_app.tsx
  docs-pg/ProjectGraph项目架构.json
Due: eslint --fix, prettier --write

⬆️ 安全性引起的依赖更新
  pnpm-lock.yaml
Due: prettier --write

Revert "Bump tauri-plugin-shell from 2.2.0 to 2.2.1 in /app/src-tauri"
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
Due: none

Revert "Bump @tauri-apps/plugin-shell from 2.2.0 to 2.2.1 in /app"
  app/package.json
Due: prettier --write

🚸 优化涂鸦精度
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: eslint --fix

✨ ctrl+shift 画涂鸦时能够平行于坐标轴画直线
  app/src/core/render/canvas2d/controllerRenderer/drawingRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: eslint --fix

🚸 将“摄像机移动刹车”快捷键Pause，改为按下一次后切换允许/禁止移动的模式
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
  app/src/pages/_app_menu.tsx
Due: eslint --fix, prettier --write

💄 更新Pause键按下后的提示图标
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix

🐛 修复在无输入内容的情况下，点击“根据markdown文本内容生成树结构”按钮后，直接报错的问题
  app/src/pages/_popup_panel/_generate_node_panel.tsx
Due: eslint --fix

⏪ 还原修改：tauri-plugin-shell 2.2.0
  app/package.json
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  pnpm-lock.yaml
Due: prettier --write

🥚 添加切换CR曲线的秘籍键
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/pages/_app_menu.tsx
Due: eslint --fix

🐛 修复公园主题下量角器的颜色显示
  app/src/themes/park.pg-theme
Due: none

♻️ 简化KeyBinds的写法
  app/src/core/service/controlService/KeyBinds.tsx
  app/src/main.tsx
Due: eslint --fix

🚸 增加仅按下按键时进入劈砍状态的快捷键，松开时左键恢复默认状态
  app/src/locales/zh_CN.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

💄 使用右键移动摄像机时，松开鼠标恢复光标形状
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/stage/Stage.tsx
Due: eslint --fix

✨ shift+WSAD键疾跑
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
Due: eslint --fix

✨ 增加停止摄像机漂移的快捷键
  app/src/core/render/canvas2d/renderer.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

🐛 将“派蒙：前面的区域以后再来探索吧？”的彩蛋标注为bug
  app/src/core/stage/Camera.tsx
Due: eslint --fix

🥚 增加废档了，删除全部的秘籍键
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
Due: eslint --fix

📝 增加官网FAQ说明
  docs/content/docs/app/faq/windows.mdx
Due: none

📝 更新FAQ
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/_app_menu.tsx
  docs/content/docs/app/faq/windows.mdx
Due: eslint --fix, prettier --write

🐛 修复README中的贡献指南链接
  app/README.md
  app/src/pages/_app_menu.tsx
Due: eslint --fix, prettier --write

✨ 增加附带创建文件夹式的新建文件功能
  app/src/pages/_app_menu.tsx
  app/src/utils/fs.tsx
Due: eslint --fix

💚 Fix ci
  .github/workflows/nightly.yml
Due: prettier --write

🐛 解决多重连线后无法统一撤回的问题
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageObject/association/CublicCatmullRomSplineEdge.tsx
Due: eslint --fix

🚸 菜单栏里增加刷新全部实体功能
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/pages/_app_menu.tsx
Due: eslint --fix

🚸 菜单栏增加说明
  app/src/pages/_app_menu.tsx
Due: eslint --fix

🚸 优化菜单栏的提示信息
  app/src/locales/zh_CN.yml
  app/src/pages/_app_menu.tsx
Due: eslint --fix, prettier --write

💄 优化公园主题配色
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/themes/park.pg-theme
Due: eslint --fix

🚸 优化菜单栏内容表述
  app/src/pages/_app_menu.tsx
Due: eslint --fix

📝 增加提示说明
  app/src/locales/zh_CN.yml
  app/src/pages/_fixed_panel/_start_file_panel.tsx
Due: eslint --fix, prettier --write

📝 更新官网文档，增加重要公告
  docs/content/docs/app/announcement.mdx
  docs/content/docs/app/faq/backup.mdx
  docs/content/docs/app/faq/mac.mdx
  docs/content/docs/app/meta.json
  docs/content/docs/app/stage-object/index.mdx
Due: prettier --write

🐛 涂鸦模式下禁止拖拽节点之间的Edge连线
  app/src/core/service/controlService/controller/concrete/ControllerNodeRotation.tsx
Due: eslint --fix

💄 去除图片渲染时显示的边框
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
Due: eslint --fix

🧪 测试脚本型插件
  app/src/components/NavLinkButton.tsx
  app/src/core/plugin/PluginCodeParseData.tsx
  app/src/core/plugin/PluginWorker.tsx
  app/src/core/plugin/UserScriptsManager.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
  app/src/pages/settings/_layout.tsx
  app/src/pages/settings/scripts.tsx
  app/src/router.ts
  app/tests/jsonDump.test.tsx
  app/tests/plugin.test.tsx
Due: eslint --fix, prettier --write

✨ 增加鼠标滚轮无操作的选项
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

✨ 增加Alt+鼠标滚轮选项
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/Camera.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/control.tsx
Due: eslint --fix, prettier --write

🐛 涂鸦模式下才能看到量角器
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
