Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "docs/**/*": ["pnpm build:docs"]
}

📝 完善官网文档，将“画布”替换为“舞台”/“视野”等词汇。
  app/src/assets/projectGraphTips.json
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_hint_text.tsx
  docs/src/zh_CN/guide/faq.md
  docs/src/zh_CN/guide/features/ai.md
  docs/src/zh_CN/guide/features/camera.md
  docs/src/zh_CN/guide/features/node.md
  docs/src/zh_CN/guide/features/split-merge.md
  docs/src/zh_CN/guide/features/tree.md
  docs/src/zh_CN/guide/getting-started.md
Due: eslint --fix, prettier --write, pnpm build:docs

📝 完善导入markdown的文档
  app/src/pages/_popup_panel/_generate_node_panel.tsx
  app/src/pages/_special_day_dialog/fools_day.tsx
  docs/src/zh_CN/guide/features/compute-engine.md
  docs/src/zh_CN/guide/features/import.md
Due: eslint --fix, prettier --write, pnpm build:docs

🐛 绘制模式下禁止双击创建节点
  app/src/core/service/controlService/controller/concrete/ControllerEntityCreate.tsx
Due: eslint --fix

💄 优化工具栏样式
  app/src/pages/_toolbar.tsx
Due: eslint --fix

✨ 自定义三种左键功能
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeControl.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
  app/src/core/stage/Stage.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

💚 Remove GITHUB_TOKEN secret from workflows
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: prettier --write

💚 Add permissions to workflows
  .github/workflows/nightly.yml
Due: prettier --write

💄 优化显示效果
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeControl.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

♻️ 优化代码结构
  app/src/core/service/controlService/controller/concrete/ControllerEntityCreate.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

✨ 涂鸦增加直线绘制方式
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: eslint --fix

✨ 增加快捷键切换鼠标左键模式的功能
  app/src/assets/projectGraphTips.json
  app/src/core/stage/Stage.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix, prettier --write

🐛 修复涂鸦画直线重新打开文件后消失的问题
  app/src/assets/projectGraphTips.json
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: eslint --fix, prettier --write

📝 更新官网对于跨文件复制的内容说明
  docs/src/zh_CN/guide/features/split-merge.md
Due: prettier --write, pnpm build:docs

✨ 又把生长自由节点的功能加回来了，并重新命名术语
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyGraphEngine.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
  docs/src/zh_CN/guide/features/split-merge.md
Due: eslint --fix, prettier --write, pnpm build:docs

🚸 生成的图片文件全部改为文件名+UTC世界时间+uuid前四位。
  app/src/core/service/dataManageService/copyEngine/pasteImage.tsx
  app/src/utils/pathString.tsx
Due: eslint --fix

💄 修复莫兰迪主题下菜单栏标题文字颜色过浅的问题
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/themes/morandi.pg-theme
Due: eslint --fix

✨ 增加网状格式文本导入功能
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/stageExportEngine.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/basicMethods/GraphMethods.tsx
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
  app/src/pages/_fixed_panel/_export_text_panel.tsx
  app/src/pages/_popup_panel/_generate_node_panel.tsx
Due: eslint --fix

📝 更新官网文档
  docs/src/zh_CN/guide/features/import.md
Due: prettier --write, pnpm build:docs

🚸 菜单栏中的打开数据文件夹和打开当前文件夹的按钮可以直接调用任务管理器弹出文件夹窗口了
  app/src/locales/zh_CN.yml
  app/src/pages/_app_menu.tsx
Due: eslint --fix, prettier --write

💄 优化各种主题在”最近打开“页面的配色
  app/src/index.css
  app/src/locales/zh_CN.yml
  app/src/pages/_app.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
  app/src/pages/_fixed_panel/_export_text_panel.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
  app/src/pages/_popup_panel/_export_svg_panel.tsx
  app/src/pages/secret.tsx
  app/src/themes/dark.pg-theme
  app/src/themes/light.pg-theme
  app/src/themes/macaron.pg-theme
  app/src/themes/morandi.pg-theme
  app/src/themes/park.pg-theme
Due: eslint --fix, prettier --write

✨ 增加打开或关闭设置界面/标签面板/最近打开面板/启动文件面板的快捷键
  app/src/assets/projectGraphTips.json
  app/src/locales/zh_CN.yml
  app/src/main.tsx
  app/src/pages/_app.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
Due: eslint --fix, prettier --write

📝 优化彩蛋的注释说明
  app/src/pages/_special_day_dialog/fools_day.tsx
Due: eslint --fix

✨ 涂鸦模式下工具栏笔触切换颜色
  app/src/pages/_toolbar.tsx
Due: eslint --fix

✨ 将文本节点分为自动调整大小和手动调整宽度两种状态，直接使用ctrl+v粘贴文字创建节点时，才能创建可手动调整宽度的文本节点
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/textNode/TextNodeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityResize.tsx
  app/src/core/service/dataManageService/copyEngine/pastePlainText.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
  app/src/index.css
  app/src/types/node.tsx
Due: eslint --fix

🥚 增加秘籍键“ttt”，用于切换文本节点的大小调整模式为自动还是手动
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
Due: eslint --fix

🐛 增加版本转换函数
  app/src/core/stage/StageLoader.tsx
Due: eslint --fix

📝 优化涂鸦工具颜色说明
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🚸 增加涂鸦的颜色标识
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🚸 增加改变涂鸦粗细的快捷键
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeControl.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

✨ 增加快捷键：在鼠标位置创建节点
  app/src/locales/zh_CN.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

🥚 增加秘籍键“kei”，分割节点
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
Due: eslint --fix

🐛 修复自环有时缩放视野时看不到的问题
  app/src/core/dataStruct/shape/Circle.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/stage/stageObject/association/EdgeCollisionBoxGetter.tsx
Due: eslint --fix

🐛 修复右键拖拽连线时无法左键点击创建质点作为中转节点的问题
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
Due: eslint --fix

🥚 增加秘籍键“rua”合并多个文本节点
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
Due: eslint --fix

🚸 在使用rua秘籍键时，对较长文本采取换行处理
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
Due: eslint --fix

👷 Add run-name field in workflows
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: prettier --write

🐛 修复Windows上无法运行构建脚本
  app/scripts/tauri_build.js
Due: none

🐛 修复构建脚本
  app/scripts/tauri_build.js
Due: none

🐛 Fix
  app/scripts/tauri_build.js
Due: none
