Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

Translated using Weblate (Chinese (Traditional Han script))
  app/src/locales/zh_TW.yml
Due: prettier --write

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

🧪 尝试增加节点树转Section但发现还不方便删除连线
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/stage/stageManager/basicMethods/SectionMethods.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
Due: eslint --fix

✨ 增加方向键移动选中节点时视野跟随移动的设置开关
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
  app/src/core/stage/Camera.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/control.tsx
Due: eslint --fix, prettier --write

✨ 添加快捷键设置：展开收起标签节点面板
  app/src/components/IconButton.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
  app/src/pages/_app.tsx
Due: eslint --fix, prettier --write

✨ 增加复杂度统计界面
  app/src/components/panel.tsx
  app/src/core/service/dataManageService/ComplexityDetector.tsx
  app/src/index.css
  app/src/locales/en.yml
  app/src/locales/zh_TW.yml
  app/src/pages/_app_menu.tsx
  app/src/pages/_fixed_panel/_complexity_result_panel.tsx
  app/src/pages/ui_test.tsx
Due: eslint --fix, prettier --write

✨ 完善统计信息
  app/src/core/service/dataManageService/ComplexityDetector.tsx
  app/src/core/stage/stageManager/basicMethods/GraphMethods.tsx
  app/src/core/stage/stageManager/basicMethods/SectionMethods.tsx
  app/src/pages/_fixed_panel/_complexity_result_panel.tsx
Due: eslint --fix

✨ 增加双击鼠标中键的配置方案设置
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/Stage.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/control.tsx
Due: eslint --fix, prettier --write

🐛 还原工具栏中的删除内容按钮
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🚸 劈砍的时候鼠标超过窗口自动挥刀,以便于挥刀的时候可以放心大力的甩鼠标
  app/src/core/service/controlService/MouseLocation.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
Due: eslint --fix

🚸 中键拖拽视野支持超出窗口
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/MouseLocation.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/stage/Stage.tsx
Due: eslint --fix

🚸 左键拖拽框选时，超出窗口范围自动停止框选
  app/src/core/service/controlService/MouseLocation.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
Due: eslint --fix

🚸 优化统计信息界面
  app/src/components/panel.tsx
  app/src/core/service/controlService/MouseLocation.tsx
  app/src/pages/_app_menu.tsx
Due: eslint --fix

🐛 直接粘贴和打开链接时，支持识别任意协议的url、以及阻止纯英文单词被识别为url。
  app/src/utils/pathString.tsx
  app/tests/validUrl.test.tsx
Due: eslint --fix

🐛 fix: #340 粘贴时识别 markdown 链接
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
  app/src/utils/pathString.tsx
  app/tests/validUrl.test.tsx
Due: eslint --fix

🐛 fix: #327 空字符串渲染成了undefined
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
Due: eslint --fix

🐛 修复图片缩放逻辑和摄像机不一致的问题
  app/src/core/service/controlService/controller/concrete/ControllerImageScale.tsx
Due: eslint --fix

format
  app/src/index.css
  app/src/locales/en.yml
  app/src/locales/zh_TW.yml
  app/src/router.ts
Due: eslint --fix, prettier --write

🐛 修复复制Section框时，内部连线没有被复制的bug
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/stageManager/basicMethods/SectionMethods.tsx
  app/src/router.ts
Due: eslint --fix

🐛 修复编辑节点内容没有被历史记录记录的情况
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
Due: eslint --fix

⚡️ 移出了连线拖拽时的粒子特效，容易引起卡顿
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/stage/Stage.tsx
Due: eslint --fix

🐛 修复详情面板点击对勾按钮的bug，并减少不必要的按钮（很多是markdown语法常识）
  app/src/pages/_details_edit_side_panel.tsx
Due: eslint --fix

🚸 醒目化未保存时的标题
  app/src/index.css
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/_app.tsx
Due: eslint --fix, prettier --write

🐛 修复涂鸦蒸发问题（每次保存短一截）
  app/src/core/stage/stageObject/entity/PenStroke.tsx
Due: eslint --fix

🐛 涂鸦对象不参与对齐
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeControl.tsx
  app/src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
  app/src/core/stage/stageObject/abstract/StageEntity.tsx
  app/src/core/stage/stageObject/entity/PenStroke.tsx
Due: eslint --fix

🐛 涂鸦显示在最顶部
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectColorManager.tsx
Due: eslint --fix

✨ 增加涂鸦对象的粘连式移动
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
Due: eslint --fix

✨ 通过快捷键在节点四周创建节点时，和原节点保持在同一Section内
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
Due: eslint --fix

🐛 逻辑节点设置变量时禁止使用数字开头，仅限于字母或汉字开头
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/programLogic.tsx
Due: eslint --fix

🐛 对齐面板的磁铁不再旋转
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix

💄 标签面板节点左对齐
  app/src/pages/_fixed_panel/_tag_panel.tsx
Due: eslint --fix

✨ 标签面板自定义调节标签列表顺序
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageTagManager.tsx
  app/src/pages/_fixed_panel/_tag_panel.tsx
Due: eslint --fix

🚸 优化标签面板按钮显示
  app/src/pages/_fixed_panel/_tag_panel.tsx
Due: eslint --fix

✨ 节点颜色能够显示在标签面板加以区别
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageTagManager.tsx
  app/src/pages/_fixed_panel/_tag_panel.tsx
Due: eslint --fix

💄 标签节点巨大化视觉优化
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix

💄 Section巨大化后标题重叠视觉优化，添加半透明遮盖
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
  pnpm build:docs: any of: docs/**/*
