Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

📝 完善文档
  docs-pg/CublicCatmullRomSpline.md
  docs-pg/笔迹涂鸦功能设计.md
  docs/content/docs/app/stage-object/entity/pen-stroke.mdx
Due: prettier --write

📝 Add .fuck-csdn.txt
  .fuck-csdn.txt
Due: none

fix: 关闭mac的红绿灯内部的点符号
  .gitignore
  app/src/pages/_app.tsx
Due: eslint --fix

🚸 为macbook增加触摸板和鼠标滚轮的区分
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/Stage.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/control.tsx
Due: eslint --fix, prettier --write

💄 更新测试界面的数字显示防止过多
  app/src/pages/info.tsx
Due: eslint --fix

🚸 完善mac鼠标滚轮的缩放，区分平滑和非平滑滚动
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/Stage.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/control.tsx
Due: eslint --fix, prettier --write

🐛 将mac下的control s, control n, control o的修饰键替换为command
  app/src/pages/_app_menu.tsx
Due: eslint --fix

🚸 全选时，能够统计当前实体和关系数量
  app/src/core/stage/stageManager/StageManager.tsx
Due: eslint --fix

✨ 对齐面板增加宽度统一功能
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutResizeManager.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix

🚸 完善拖入json追加到舞台的交互提示
  app/src/core/service/Tourials.tsx
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
Due: eslint --fix

🚸 将 ctrl+n，ctrl+s，ctrl+o加入自定义设置
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysGroup.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_app_menu.tsx
Due: eslint --fix, prettier --write

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

📝 增加版本号名称
  app/src/assets/versions.json
  app/src/pages/settings/about.tsx
Due: eslint --fix, prettier --write

🐛 修复UI提示文字栏没有随设置的开关而显示和隐藏的问题
  app/src/pages/_canvas.tsx
Due: eslint --fix

♻️ 优化定时器启动的代码结构，并优化性能设置界面，增加分类
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/stage/Stage.tsx
  app/src/pages/_canvas.tsx
  app/src/pages/settings/performance.tsx
Due: eslint --fix

📝 完善项目贡献文档
  docs/content/docs/contribute/dev.mdx
  docs/content/docs/contribute/env.mdx
  docs/content/docs/contribute/index.mdx
  docs/content/docs/contribute/meta.json
  docs/content/docs/contribute/weblate.mdx
Due: prettier --write

📝 更新官网文档
  docs/content/docs/app/donate.mdx
  docs/content/docs/contribute/dev.mdx
  docs/content/docs/contribute/env.mdx
  docs/content/docs/contribute/weblate.mdx
Due: none

📝 更新官网社群文档
  docs/app/components/GithubRelease.tsx
  docs/content/docs/app/community.mdx
  docs/content/docs/app/index.mdx
  docs/content/docs/app/meta.json
Due: eslint --fix, prettier --write

📝 更新官网重要公告部分
  docs/content/docs/app/announcement.mdx
Due: none

💄 贝塞尔曲线在窗口半透明情况下，连线上的文字背景遮罩的透明度自动化调整
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/SymmetryCurveEdgeRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix

💄 增加选中连线时的端点标注渲染
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  app/src/core/stage/stageObject/association/Edge.tsx
Due: eslint --fix

🧪 增加一些可供测试的textarea输入框
  app/src/pages/test.tsx
  app/src/pages/ui_test.tsx
Due: eslint --fix

fix: 优化mac双指缩放
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera/mac.tsx
  app/src/pages/info.tsx
Due: eslint --fix

🚸 优化mac双指缩放和鼠标滚轮缩放画面的功能
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera/mac.tsx
Due: eslint --fix

🥚 秘籍键增加对连线端点的调整功能
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
Due: eslint --fix

💄 增加视野各种操作时，鼠标身上浮现一定特效提示。
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera/mac.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/MouseTipFeedbackEffect.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

🐛 优化亮色主题下设置界面右上角X看不清的问题
  app/src/pages/_floating_outlet.tsx
Due: eslint --fix

🐛 修复：反转连线的操作导致选中状态失效，以及颜色丢失
  app/src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
Due: eslint --fix

✨ shift + 方向键切换选择节点时，可以多选
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
Due: eslint --fix

✨ 增加横向或纵向的紧密堆积自动布局
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutManualAlignManager.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix

📝 更正链接
  .github/FUNDING.yml
Due: prettier --write

🐛 完善脚本系统
  app/src/core/plugin/PluginWorker.tsx
  app/src/core/plugin/UserScriptsManager.tsx
  app/src/core/plugin/types.tsx
  app/src/pages/test.tsx
Due: eslint --fix

📝 增加脚本型插件说明文档
  docs/content/docs/core/index.mdx
  docs/content/docs/plugins/index.mdx
  docs/content/docs/plugins/meta.json
Due: prettier --write

✨ 增加脚本API：调用弹窗
  app/src-tauri/capabilities/default.json
  app/src/core/plugin/PluginWorker.tsx
  app/src/core/plugin/UserScriptsManager.tsx
  app/src/core/plugin/types.tsx
Due: eslint --fix, prettier --write

🚸 脚本路径默认不显示，以保护隐私
  app/src/core/plugin/UserScriptsManager.tsx
  app/src/pages/settings/scripts.tsx
Due: eslint --fix

🐛 脚本可以在软件内关闭禁用，不再需要重启软件
  app/src/core/plugin/UserScriptsManager.tsx
  app/src/pages/settings/scripts.tsx
Due: eslint --fix

♻️ 更新脚本开关，但还有问题
  app/src/core/plugin/UserScriptsManager.tsx
  app/src/pages/settings/scripts.tsx
Due: eslint --fix

📝 Add sitemap to docs
  docs/app/sitemap/route.ts
  turbo.json
Due: eslint --fix, prettier --write

📝 更新文档
  docs-pg/ProjectGraph项目架构.json
  docs/app/components/GithubRelease.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
