Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "docs/**/*": ["pnpm build:docs"]
}

:construction_worker: Update CI
  .github/workflows/nightly.yml
Due: prettier --write

:construction_worker: Update CI
  .github/workflows/nightly.yml
  turbo.json
Due: prettier --write

📝 更新引导文件
  app/src/assets/projectGraphTips.json
Due: prettier --write

:construction_worker: Update CI
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .prettierignore
  package.json
Due: prettier --write

:construction_worker: Update CI
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: prettier --write

:construction_worker: Update CI
  app/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

:construction_worker: Update CI
  .github/workflows/release.yml
  app/package.json
  app/scripts/tauri_build.js
  app/src-tauri/tauri.conf.json
  app/tsconfig.node.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

:construction_worker: Update CI
  turbo.json
Due: prettier --write

🐛 导出图片可自定义是否透明
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

♻️ 改进粘贴功能的代码结构
  app/src/assets/projectGraphTips.json
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
  app/src/core/service/dataManageService/copyEngine/pasteImage.tsx
  app/src/core/service/dataManageService/copyEngine/pastePlainText.tsx
Due: eslint --fix, prettier --write

✨ 增加逻辑节点：SEARCH_CONTENT，搜索全部匹配的节点内容
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/logicNodeNameEnum.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/mainTick.tsx
  app/src/core/service/dataManageService/copyEngine/pasteImage.tsx
  docs/src/zh_CN/guide/features/compute-engine.md
Due: eslint --fix, prettier --write, pnpm build:docs

✨ 增加逻辑节点：#GET_LOCATION_BY_UUID#，根据UUID获得节点位置
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/logicNodeNameEnum.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/mainTick.tsx
Due: eslint --fix

✏️ 标签巨大化初次安装软件时默认开启，节点换行默认改为：shift+enter换行，演示模式名称改为专注模式
  app/src/core/service/Settings.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

🐛 尝试修复mac左上角窗口控制红绿灯按钮和颜色色块按钮不显示的问题
  app/src/pages/_app.tsx
  app/src/pages/_popup_panel/_color_panel.tsx
Due: eslint --fix

🚑 修复背景透明度调整失效问题
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

💄 更新部分按钮icon图标
  app/src/pages/_app.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/secret.tsx
Due: eslint --fix

🚸 win/linux系统下，鼠标移动到最右上角自动出现关闭按钮
  app/src/pages/_app.tsx
Due: eslint --fix

🐛 点击最右上角弹出的关闭按钮后，退出软件
  app/src/pages/_app.tsx
Due: eslint --fix

🧪 测试增加ipad重置网页窗口大小的功能
  app/src/pages/_app.tsx
Due: eslint --fix

🚸 增加平板上的双击触发概率
  app/src/core/service/controlService/controller/ControllerClass.tsx
Due: eslint --fix

🐛 关闭网页版右上角闪电面板的显示
  app/src/pages/_app.tsx
Due: eslint --fix

🔥 废除原有的Tab键生长节点，原因是太难用了。将“深度生长节点”默认快捷键改为tab键
  app/src/assets/projectGraphTips.json
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

✨ 增加微调窗口透明度值的快捷键
  app/src/locales/zh_CN.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

🚧 增加文本节点右下角的拖拽更改大小的小拖拽块，但还有bug
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityResize.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/stage/stageObject/abstract/StageObjectInterface.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
Due: eslint --fix

🚸 记忆一下上一次填写的通过文本生成节点面板中的“缩进数量的数字”
  app/src/core/service/Settings.tsx
  app/src/pages/_popup_panel/_generate_node_panel.tsx
Due: eslint --fix

✨ 手动调整文本节点宽度功能
  app/src/core/render/canvas2d/basicRenderer/textRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityDetailsButtonRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/portalNode/portalNodeRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/urlNode/urlNodeRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/render/canvas2d/utilsRenderer/backgroundRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityResize.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
Due: eslint --fix

🚸 完善文本节点右侧拖拽的区域
  app/src/core/render/canvas2d/basicRenderer/textRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
Due: eslint --fix

🐛 修复文本节点在短小情况下的渲染bug
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityResize.tsx
Due: eslint --fix

💄 优化视觉效果
  app/src/core/service/controlService/controller/concrete/ControllerEntityResize.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityDashTipEffect.tsx
Due: eslint --fix

🚸 在文本节点输入状态下，减小textarea框的遮挡概率
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/domElement/RectangleElement.tsx
  app/src/core/render/domElement/inputElement.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
Due: eslint --fix

🐛 修复section重命名过长时输入框遮挡问题
  app/src/core/render/domElement/inputElement.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
Due: eslint --fix

🚸 选中文本节点及其Section文字内部的内容时，鼠标可以在节点之外释放而不会失去编辑状态了
  app/src/core/render/domElement/inputElement.tsx
Due: eslint --fix

🚸 给实体上色后不取消选中颜色，因为常常发现颜色不理想
  app/src/core/stage/stageManager/concreteMethods/StageObjectColorManager.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix
