Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

🐛 向右自动树形布局时，根节点不再移动
  app/src/core/service/controlService/autoLayoutEngine/autoLayoutFastTreeMode.tsx
Due: eslint --fix

🐛 修复对齐面板磁铁图标显示问题
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix

🐛 将颜色圆改为正方形卡片（猜测mac不允许使用完全圆角）
  app/src/pages/_popup_panel/_color_panel.tsx
Due: eslint --fix

♻️ 减小StageManager.tsx的体积
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/README.md
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix, prettier --write

♻️ 减小StageManager.tsx体积
  app/src/core/service/controlService/autoLayoutEngine/autoLayoutFastTreeMode.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectColorManager.tsx
  app/src/main.tsx
  app/src/pages/_popup_panel/_color_panel.tsx
Due: eslint --fix

♻️ 减小StageManager体积
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeRotation.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

♻️ 减小StageManager.tsx体积
  app/src/core/service/controlService/controller/concrete/ControllerEntityCreate.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeTextTransfer.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
  app/src/main.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

♻️ 减小StageManager.tsx体积
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
Due: eslint --fix

♻️ 优化Controller结构
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
Due: eslint --fix

✨ 增加连线改变目标的移接操作
  app/src/assets/projectGraphTips.json
  app/src/core/service/controlService/controller/concrete/ControllerNodeRotation.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
Due: eslint --fix, prettier --write

✨ 双击鼠标中键可以根据鼠标选中的内容重置视野
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
Due: eslint --fix

✨ 增加树形结构一键转框嵌套结构的功能
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix

🐛 修复mac无法编辑section文字的功能
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerSectionEdit.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/stage/stageObject/entity/Section.tsx
Due: eslint --fix

🐛 禁用ctrl+R或者ctrl shift r刷新页面，导致内容消失
  app/src/core/service/controlService/controller/Controller.tsx
Due: eslint --fix

✨ 增加ctrl+0切换窗口是否透明的快捷键
  app/src/locales/zh_CN.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

♻️ 优化结构
  app/src/core/service/controlService/MouseLocation.tsx
  app/src/core/service/controlService/controller/ControllerClass.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
Due: eslint --fix

🚸 鼠标移动节点时超出窗口自动停止移动
  app/src/core/service/controlService/MouseLocation.tsx
  app/src/core/service/controlService/controller/ControllerClass.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ViewOutlineFlashEffect.tsx
  app/src/core/stage/Stage.tsx
Due: eslint --fix

🚸 将复制和粘贴的快捷键设置为可以自定义修改，以适配macos系统
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCopy.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

🚸 增加自定义快捷键绑定的meta键设置
  app/src/components/KeyBind.tsx
  app/src/core/service/controlService/KeyBinds.tsx
Due: eslint --fix

💄 完善快捷键在不同平台下的显示
  app/src/components/KeyBind.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/_layout.tsx
  app/src/utils/platform.tsx
Due: eslint --fix, prettier --write

💄 优化黑夜主题在快捷键界面时的显示效果
  app/src/index.css
Due: none

🚸 适配mac：自动检测系统，当为mac时，将默认快捷键的control（control）改为command键（meta/win），需要删除软件数据目录下的keybinds.json
  app/src/main.tsx
Due: eslint --fix

🐛 修复曾经没有meta字段的快捷键兼容问题
  app/src/core/service/controlService/KeyBinds.tsx
Due: eslint --fix

✨ 增加新快捷键：ctrl+shift+g，将section框转变为文本节点，并将内部内容掉出身体。
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

Translated using Weblate (Chinese (Traditional Han script))
  app/src/locales/zh_TW.yml
Due: prettier --write

🐛 修复选中实体跳入文本节点，文本节点自动转换为框后，跳入的实体全都重叠在一点的情况
  .prettierignore
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
Due: eslint --fix

📝 更新文档
  app/src/assets/projectGraphTips.json
Due: prettier --write

🐛 修复搜索内容没搜到结果时依然点下一项弹窗报错的问题
  app/src/core/service/dataManageService/contentSearchEngine/contentSearchEngine.tsx
Due: eslint --fix

💄 完善Settings页面布局，防止左侧有项因屏幕过小而看不到
  app/src/pages/settings/_layout.tsx
Due: eslint --fix

💄 优化设置界面
  app/src/components/NavLinkButton.tsx
Due: eslint --fix

🧪 实验性的增加了xmind树形输入模式但还存在一些问题（反引号深入扩展、反斜杠广度扩展）
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/core/stage/stageManager/basicMethods/GraphMethods.tsx
Due: eslint --fix

📝 更新架构图
  .gitignore
  docs-pg/ProjectGraph项目架构.json
Due: prettier --write

🐛 修复深入生长时位置偏移问题
  app/src/core/service/controlService/autoLayoutEngine/autoLayoutFastTreeMode.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/core/stage/stageManager/basicMethods/GraphMethods.tsx
Due: eslint --fix

🐛 完善了广度键盘扩展节点和深度键盘扩展节点
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
Due: eslint --fix

✨ 添加框架模式
  app/src/core/render/canvas2d/renderer.tsx
  app/src/main.tsx
  app/src/pages/_app.tsx
  app/src/pages/index.tsx
  app/src/utils/platform.tsx
  app/src/vite-env.d.ts
Due: eslint --fix

🙈 忽略.vitepress缓存
  docs/src/.vitepress/cache/deps/_metadata.json
  docs/src/.vitepress/cache/deps/chunk-2L6FHRXU.js
  docs/src/.vitepress/cache/deps/chunk-2L6FHRXU.js.map
  docs/src/.vitepress/cache/deps/chunk-OPN432BB.js
  docs/src/.vitepress/cache/deps/chunk-OPN432BB.js.map
  docs/src/.vitepress/cache/deps/package.json
  docs/src/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/src/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  docs/src/.vitepress/cache/deps/vitepress___@vueuse_core.js
  docs/src/.vitepress/cache/deps/vitepress___@vueuse_core.js.map
  docs/src/.vitepress/cache/deps/vitepress___@vueuse_integrations_useFocusTrap.js
  docs/src/.vitepress/cache/deps/vitepress___@vueuse_integrations_useFocusTrap.js.map
  docs/src/.vitepress/cache/deps/vitepress___mark__js_src_vanilla__js.js
  docs/src/.vitepress/cache/deps/vitepress___mark__js_src_vanilla__js.js.map
  docs/src/.vitepress/cache/deps/vitepress___minisearch.js
  docs/src/.vitepress/cache/deps/vitepress___minisearch.js.map
  docs/src/.vitepress/cache/deps/vue.js
  docs/src/.vitepress/cache/deps/vue.js.map
Due: prettier --write, pnpm build:docs

:memo: 修改文档结构
  docs/src/.vitepress/config/index.ts
  docs/src/.vitepress/config/sidebar/zh.ts
  docs/src/zh/dev/iframe.md
  docs/src/zh/dev/index.md
  docs/src/zh/guide/faq.md
  docs/src/zh/guide/features/ai.md
  docs/src/zh/guide/features/camera.md
  docs/src/zh/guide/features/cli.md
  docs/src/zh/guide/features/compute-engine.md
  docs/src/zh/guide/features/connect-point.md
  docs/src/zh/guide/features/edge.md
  docs/src/zh/guide/features/export.md
  docs/src/zh/guide/features/image.md
  docs/src/zh/guide/features/import.md
  docs/src/zh/guide/features/link-node.md
  docs/src/zh/guide/features/node.md
  docs/src/zh/guide/features/portal-node.md
  docs/src/zh/guide/features/quick-action.md
  docs/src/zh/guide/features/section.md
  docs/src/zh/guide/features/split-merge.md
  docs/src/zh/guide/features/tree.md
  docs/src/zh/guide/features/url-node.md
  docs/src/zh/guide/getting-started.md
  docs/src/zh/guide/index.md
  docs/src/zh/guide/installation.md
  docs/src/zh/index.md
  docs/src/zh/installation.md
Due: eslint --fix, prettier --write, pnpm build:docs

🐛 ctrl+s之后不再清除历史记录
  app/src/core/service/dataFileService/StageSaveManager.tsx
Due: eslint --fix

🐛 修复文档页面丢失问题
  docs/src/zh/misc/privacy.md
  docs/src/zh/misc/terms.md
Due: prettier --write, pnpm build:docs

📝 更新文档
  docs/src/.vitepress/config/sidebar/zh.ts
  docs/src/zh/guide/features/camera.md
  docs/src/zh/guide/features/edge.md
  docs/src/zh/guide/features/node.md
  docs/src/zh/guide/features/pen-stroke.md
  docs/src/zh/guide/features/section.md
Due: eslint --fix, prettier --write, pnpm build:docs

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
  pnpm build:docs: any of: docs/**/*
