Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "docs/**/*": ["pnpm build:docs"]
}

🚸 优化Select组件的交互体验：多次点击能切换展开和收起状态
  app/src/components/IconButton.tsx
  app/src/components/Select.tsx
Due: eslint --fix

🐛 Select组件展开后滑动滚轮，下拉菜单需要消失
  app/src/components/Select.tsx
Due: eslint --fix

🚸 增加组件的鼠标悬浮效果
  app/src/components/Button.tsx
  app/src/components/Input.tsx
  app/src/components/KeyBind.tsx
  app/src/components/Select.tsx
  app/src/components/Slider.tsx
  app/src/components/Switch.tsx
Due: eslint --fix

🧪 测试纯文本内容拖入舞台失败
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
Due: eslint --fix

🚸 防止截屏导致滚屏的检测并直接切断移动动力
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/stage/Camera.tsx
  app/src/core/stage/Stage.tsx
Due: eslint --fix

✨ 增加了摄像机移动快速刹车的按键
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

🚸 性能优化，界面缩小的情况下不渲染文字
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
Due: eslint --fix

🐛 修复关于页面没有用用户浏览器打开网页的问题
  app/src/pages/settings/about.tsx
Due: eslint --fix

🐛 更新section框的颜色显示顺序和大标题显示顺序
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

💄 优化标签面板样式
  app/src/pages/_tag_panel.tsx
Due: eslint --fix

🚸 标签面板的节点按照舞台位置从上到下的位置排序（若顶部对齐，则从左到右）
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageTagManager.tsx
  app/src/pages/_tag_panel.tsx
Due: eslint --fix

✨ 一切舞台对象均可以添加到标签了
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageTagManager.tsx
  app/src/pages/_tag_panel.tsx
Due: eslint --fix

🚩 移出了标签在缩小情况下显示巨大化的特性
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/stage/stageManager/StageManager.tsx
Due: eslint --fix

🚸 优化标签面板增加透视功能、瞭望功能
  app/src/pages/_tag_panel.tsx
Due: eslint --fix

🚸 优化面板UI交互体验
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageTagManager.tsx
  app/src/pages/_tag_panel.tsx
Due: eslint --fix

💄 优化颜色面板和快速启动面板的UI
  app/src/pages/_start_file_panel.tsx
  app/src/pages/_toolbar.tsx
  docs-pg/ProjectGraph开发进程图.json
Due: eslint --fix, prettier --write

✨ 增加toolbar的钉住功能
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🚸 关闭debug信息的显示
  app/src/core/service/Settings.tsx
Due: eslint --fix

🐛 修复闪电面板在“原生标题栏”模式下残留出来显示的问题
  app/src/components/Box.tsx
Due: eslint --fix

🚸 关于界面的按钮增加tooltip
  app/src/pages/settings/about.tsx
Due: eslint --fix

✨ 增加标签节点的巨大化设置开关
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/Settings.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/settings/visual.tsx
Due: eslint --fix, prettier --write

🚸 增加显示设置分组
  app/src/pages/settings/visual.tsx
Due: eslint --fix

🐛 增加了一些浏览器事件的阻止
  app/src/core/service/controlService/controller/Controller.tsx
Due: eslint --fix

✨ 增加复制的文本节点和图片粘贴到系统粘贴板的功能
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCopy.tsx
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
  app/src/core/stage/stageObject/entity/ImageNode.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

✨ 增加传送门节点的数据结构
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/portalNode/portalNodeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeMove.tsx
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSerializedAdder.tsx
  app/src/core/stage/stageObject/entity/PortalNode.tsx
  app/src/index.css
  app/src/types/node.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✅ 添加了相对路径切换函数并通过测试
  app/src/core/render/canvas2d/entityRenderer/portalNode/portalNodeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/stage/stageObject/entity/PortalNode.tsx
  app/src/utils/pathString.tsx
  app/tests/relativePathToAbsolute.test.tsx
  package.json
Due: eslint --fix, prettier --write

✨ 基本完成了传送门跳转
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/service/dataFileService/stageFilePathManager.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ViewFlashEffect.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/pages/_app.tsx
Due: eslint --fix

🚧 完善传送门节点的标题编辑和渲染
  app/src/core/render/canvas2d/entityRenderer/portalNode/portalNodeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/stage/stageObject/entity/PortalNode.tsx
Due: eslint --fix

🚸 去除了”松开Tab键过快💨“的弹窗，改为文字浮现提示
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
Due: eslint --fix

💄 优化完全覆盖框选的渲染效果
  app/src/core/render/canvas2d/basicRenderer/shapeRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix

💄 优化alt+左键跳入时鼠标提示线的样子
  app/src/core/render/canvas2d/basicRenderer/curveRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix

✨ 增加了滚轮/shift+滚轮的自定义设置，缩放/纵向移动画布
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/Camera.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/settings/control.tsx
  app/src/pages/settings/visual.tsx
Due: eslint --fix, prettier --write

✨ 增加了节点详情的自定义选择：小型面板和Vditor编辑器
  app/src/core/service/Settings.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/_details_edit_small_panel.tsx
  app/src/pages/index.tsx
  app/src/pages/settings/visual.tsx
Due: eslint --fix, prettier --write

:memo: Add installation command for Scoop
  docs/src/.vitepress/cache/deps/_metadata.json
  docs/src/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/src/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  docs/src/.vitepress/cache/deps/vitepress___@vueuse_core.js
  docs/src/.vitepress/cache/deps/vitepress___@vueuse_integrations_useFocusTrap.js
  docs/src/.vitepress/cache/deps/vitepress___@vueuse_integrations_useFocusTrap.js.map
  docs/src/.vitepress/cache/deps/vitepress___mark__js_src_vanilla__js.js
  docs/src/.vitepress/cache/deps/vitepress___mark__js_src_vanilla__js.js.map
  docs/src/.vitepress/cache/deps/vitepress___minisearch.js
  docs/src/.vitepress/cache/deps/vitepress___minisearch.js.map
  docs/src/.vitepress/cache/deps/vue.js
  docs/src/installation.md
  docs/src/zh/installation.md
Due: prettier --write, pnpm build:docs

:see_no_evil: Remove .vitepress from gitignore
  .gitignore
Due: none

🎨 添加注释
  app/src/core/render/canvas2d/entityRenderer/portalNode/portalNodeRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
Due: eslint --fix

✨ 增加Ctrl+鼠标滚轮的设置
  .gitignore
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/Camera.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/index.tsx
  app/src/pages/settings/control.tsx
Due: eslint --fix, prettier --write

📝 更新教程文档
  app/src/assets/projectGraphTips.json
Due: prettier --write

✨ 增加Esc键取消全部选中内容
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
Due: eslint --fix

✨ 当无选中时，按下方向键会选中一个距离屏幕中心最近的节点
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
Due: eslint --fix
