Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "docs/**/*": ["pnpm build:docs"]
}

:memo: Change partial examples in docs to iframe
  app/src/main.tsx
  app/src/pages/index.tsx
  docs/src/.vitepress/config/index.ts
  docs/src/.vitepress/theme/Frame.vue
  docs/src/.vitepress/theme/index.ts
  docs/src/zh/dev/iframe.md
  docs/src/zh/guide/features/compute-engine.md
Due: eslint --fix, prettier --write, pnpm build:docs

:memo: Change all examples in docs to iframe
  docs/src/zh/guide/features/compute-engine.md
Due: prettier --write, pnpm build:docs

💄 大型section互相连线时，线条自动化变粗
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/StraightEdgeRenderer.tsx
Due: eslint --fix

♻️ 优化代码结构
  app/src/core/render/canvas2d/basicRenderer/curveRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/core/stage/stageObject/entity/PenStroke.tsx
Due: eslint --fix

🐛 禁止外部框跳入自己内部框导致的无限循环嵌套情况
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
Due: eslint --fix

👔 增加svg导出的图片节点绝对路径的API函数参数
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportSvg.tsx
Due: eslint --fix

✨ 增加了导出svg面板并增加自定义图片路径设置
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportSvg.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_app_menu.tsx
  app/src/pages/_popup_panel/_export_svg_panel.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix, prettier --write

🚸 优化拖入文字时的提示
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
Due: eslint --fix

:lipstick: Change styles for FieldGroup
  app/src/index.css
  app/src/pages/settings/_field.tsx
  app/src/pages/settings/_layout.tsx
Due: eslint --fix

:package: Change monorepo package name to @pg/...
  app/package.json
  coserver/package.json
  docs/package.json
Due: prettier --write, pnpm build:docs

:art: Move /coserver to /packages/coserver
  docs/package.json
  package.json
  packages/coserver/package.json
  packages/coserver/src/index.ts
  packages/coserver/src/logger.ts
  packages/coserver/tsconfig.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write, pnpm build:docs

:see_no_evil: Ignore storybook-static
  .gitignore
  package.json
Due: prettier --write

:memo: Add @pg/ui entry to docs
  docs/src/.vitepress/config/index.ts
  docs/src/.vitepress/config/sidebar/zh.ts
Due: eslint --fix, pnpm build:docs

🐛 section在编辑时，文字过长会撑宽
  app/src/core/stage/stageObject/entity/Section.tsx
Due: eslint --fix

🐛 对齐面板改为常驻工具栏，这样只选中了一些Section时也可以使用对齐
  app/src/pages/_toolbar.tsx
Due: eslint --fix

➕ decimal.js
  app/package.json
  docs/src/zh/dev/index.md
  pnpm-lock.yaml
Due: prettier --write, pnpm build:docs

🐛 修复逻辑节点出现0.1+0.2=0.300004的问题
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/mathLogic.tsx
Due: eslint --fix

🐛 防止连线两端是巨大框时，连线变得巨大
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/StraightEdgeRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/stage/stageObject/entity/Section.tsx
Due: eslint --fix

🚸 增加宏观视野下拖拽巨大框的便携性，仅需点击或拖拽含有巨大化标题的框内部空白区域即可选择该框。
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
Due: eslint --fix

💄 完善主题配色
  app/src/index.css
  app/src/pages/settings/_field.tsx
  app/src/pages/settings/plugins.tsx
Due: eslint --fix

🚸 增加官方音效
  sounds/bubble.mp3
  sounds/button_mouse_down.mp3
  sounds/button_mouse_enter.mp3
  sounds/connect_find_target.mp3
  sounds/connect_start.mp3
  sounds/cut_release.mp3
  sounds/switch_button_off.mp3
  sounds/switch_button_on.mp3
Due: none

✨ 实现一键配置官方音效功能
  app/src/pages/settings/sounds.tsx
  sounds/alignAndAttach.mp3
  sounds/connectFindTarget.mp3
  sounds/connectLineStart.mp3
  sounds/cuttingLineRelease.mp3
  sounds/cuttingLineStart.mp3
  sounds/uiButtonClick.mp3
  sounds/uiButtonEnter.mp3
  sounds/uiSwitchButtonOff.mp3
  sounds/uiSwitchButtonOn.mp3
Due: eslint --fix

🚸 完善提示
  app/src/pages/settings/sounds.tsx
Due: eslint --fix

📝 增加提示
  app/src/pages/settings/sounds.tsx
  sounds/README.md
Due: eslint --fix, prettier --write

:see_no_evil: Remove sounds dir
  sounds/README.md
  sounds/alignAndAttach.mp3
  sounds/connectFindTarget.mp3
  sounds/connectLineStart.mp3
  sounds/cuttingLineRelease.mp3
  sounds/cuttingLineStart.mp3
  sounds/uiButtonClick.mp3
  sounds/uiButtonEnter.mp3
  sounds/uiSwitchButtonOff.mp3
  sounds/uiSwitchButtonOn.mp3
Due: prettier --write

🥅 为mac适配滚轮：测试：显示滚轮时的距离
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
Due: eslint --fix

🥅 测试界面增加更详细的滚轮距离测试
  app/src/pages/info.tsx
Due: eslint --fix

🧑‍💻 增加一个去往test页面的隐藏按钮
  app/src/pages/settings/about.tsx
Due: eslint --fix

📝 更新test页面
  README.md
  app/src/pages/test.tsx
  app/src/router.ts
  packages/ui/src/stories/index.mdx
Due: eslint --fix, prettier --write

🐛 更新测试页面
  app/src/pages/settings/about.tsx
  app/src/pages/test.tsx
  app/src/router.ts
Due: eslint --fix

🐛 添加ipad的识别,并将鼠标滚轮事件取消检测
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/utils/platform.tsx
Due: eslint --fix

🐛 更新音效网页按钮链接
  app/src/pages/settings/sounds.tsx
Due: eslint --fix

✨ 支持自定义修改反引号键和反斜杠键的快捷键来创建子级节点和同级节点
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

✨ 将卷起窗口改为“迷你窗口”模式，顶部UI进一步压缩化，以便于更好的辅助工作场景
  app/src/pages/_app.tsx
Due: eslint --fix

⚡️ 提高涂鸦性能
  app/src/core/render/canvas2d/basicRenderer/curveRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/core/stage/stageObject/entity/PenStroke.tsx
Due: eslint --fix

✨ 涂鸦可以自定义颜色
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/StageLoader.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectColorManager.tsx
  app/src/core/stage/stageObject/entity/PenStroke.tsx
  app/src/pages/_popup_panel/_color_panel.tsx
  app/src/types/node.tsx
Due: eslint --fix

✨ 增加涂鸦绘制时自动填充预定义的颜色的功能
  app/src/core/dataStruct/Color.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/pages/_popup_panel/_color_auto_panel.tsx
  app/src/pages/_popup_panel/_color_panel.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🐛 修复绘制时预渲染的涂鸦粗细不匹配的问题
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write
