Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

Translated using Weblate (Chinese (Traditional Han script))
  app/src/locales/zh_TW.yml
Due: prettier --write

✅ 添加了创建自定义路径文件夹的功能并测试通过
  app/src-tauri/src/lib.rs
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/utils/fs.tsx
Due: eslint --fix

🚸 将备份文件统一装载到一个文件夹里
  app/src/core/service/dataFileService/StageSaveManager.tsx
  app/src/locales/en.yml
  app/src/locales/zh_TW.yml
  app/src/utils/fs.tsx
  app/src/utils/pathString.tsx
Due: eslint --fix, prettier --write

💄 修改节点特效闪光曲线
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateFlashEffect.tsx
Due: eslint --fix

🐛 修复Section嵌套时偶尔超出的问题
  app/src/core/stage/stageManager/StageManager.tsx
Due: eslint --fix

🚸 优化颜色库自动排序：灰度颜色统一在前按亮度排，有色彩的统一在后按色相排序
  app/src/core/service/feedbackService/ColorManager.tsx
Due: eslint --fix

🚸 优化颜色管理面板
  app/src/pages/_color_manager_panel.tsx
Due: eslint --fix

✨ 任何实体均可以拖拽吸附式对齐了
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
  app/src/pages/test.tsx
Due: eslint --fix

🐛 fix: #150 工程文件移动时，钉选界面的文件没有自动删除，点击加载后会崩溃
  app/src/core/service/dataFileService/StartFilesManager.tsx
  app/src/pages/_recent_files_panel.tsx
  app/src/pages/_start_file_panel.tsx
Due: eslint --fix

🐛 fix: #300 导出svg时发现图片不全
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/SymmetryCurveEdgeRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/VerticalPolyEdgeRenderer.tsx
Due: eslint --fix

🚸 fix: #282 增加设置开关：屏蔽windows笔记本触控板
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/Stage.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/settings/control.tsx
Due: eslint --fix, prettier --write

♻️ 更改一个Controller名字
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityMove.tsx
Due: eslint --fix

✨ 增加了ctrl、shift按下时鼠标左键单击实体的加选、矩形加选、交叉选的功能
  app/src/core/service/controlService/controller/concrete/ControllerEntityMove.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleNoteEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleRenderEffect.tsx
Due: eslint --fix

🐛 修复一次点击节点总是触发吸附对齐的问题
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
Due: eslint --fix

🐛 fix: #310 节点转化为框明显一点，但转换后还有向上移动一段距离的bug
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/core/stage/stageObject/entity/Section.tsx
Due: eslint --fix

📝 更新开发进程图
  app/src/pages/settings/sounds.tsx
  docs-pg/ProjectGraph开发进程图.json
Due: eslint --fix, prettier --write

✨ 笔迹对象支持删除
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

✨ 完成了PenStroke的移动
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeControl.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/core/stage/stageObject/entity/PenStroke.tsx
Due: eslint --fix

🐛 修复只要用笔迹工具点了一下就报错了的bug
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
  app/src/core/stage/Stage.tsx
Due: eslint --fix

🚸 增加操作时鼠标样式的变化
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeRotation.tsx
  app/src/pages/index.tsx
  app/src/types/cursors.tsx
Due: eslint --fix

:green_heart: Fix wrong paths in Feature Preview workflow
  .github/workflows/feature-preview.yml
Due: prettier --write

🐛 涂鸦时禁止拖动笔画误触
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
Due: eslint --fix

✨ 增加Esc或Ctrl+Enter退出Vditor详细信息面板编辑
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/pages/_details_edit_side_panel.tsx
Due: eslint --fix

🚸 完善vditor详细信息编辑界面的顶部按钮快捷键提示气泡
  app/src/pages/_details_edit_side_panel.tsx
Due: eslint --fix

🚸 详细信息编辑器vditor在失去焦点的时候保存内容
  app/src/pages/_details_edit_side_panel.tsx
  app/src/pages/_vditor_panel.tsx
Due: eslint --fix

🐛 修复右侧Vditor编辑器编辑时，点击左侧其他节点的右上角emoji按钮切换内容时的bug
  app/src/pages/_details_edit_side_panel.tsx
Due: eslint --fix

✨ alt键将节点跳到某个文本节点上时，文本节点自动转换成框
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/pages/_details_edit_side_panel.tsx
Due: eslint --fix

💄 完善切割实体的玻璃碎片崩裂特效，更解压了
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSplitTwoPartEffect.tsx
Due: eslint --fix

📝 完善侧边栏的Vditor编辑器提示
  app/src/pages/_details_edit_side_panel.tsx
Due: eslint --fix

🐛 修复help文件中有一个URL节点的未显示问题
  app/src/core/stage/stageManager/concreteMethods/StageSerializedAdder.tsx
Due: eslint --fix

🐛 修复section在没有内容时会逐渐往上走的情况
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/core/stage/stageObject/entity/Section.tsx
Due: eslint --fix

⚡️ 提高删除节点时的动画性能，限制粉尘对象的数量
  app/src/core/service/feedbackService/effectEngine/concrete/ExplodeDashEffect.tsx
Due: eslint --fix

📝 更新help文件
  .gitignore
  app/src/assets/projectGraphTips.json
Due: prettier --write

🚸 增加提示
  app/src/assets/projectGraphTips.json
  app/src/pages/_details_edit_side_panel.tsx
Due: eslint --fix, prettier --write

📝 更新文档说明
  app/src/assets/projectGraphTips.json
Due: prettier --write

:construction_worker: Add devtools for macOS builds
  .github/workflows/nightly.yml
Due: prettier --write

:green_heart: Add -i '' for sed commands on macOS CI
  .github/workflows/nightly.yml
Due: prettier --write

:green_heart: Fix usages of macOS sed command in CI
  .github/workflows/nightly.yml
Due: prettier --write

:bug: Fix lags on macOS (see tauri-apps/tauri#5812)
  app/src/pages/_app.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
  pnpm build:docs: any of: docs/**/*
