Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

🚸 新建文件和另存为时，自动更新“最近打开”历史
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/pages/_app_menu.tsx
Due: eslint --fix

🚸 加载引导文件时取消叠放选项，避免使用者产生误解
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
  app/src/core/service/helpService/helpService.tsx
  app/src/pages/_app_menu.tsx
Due: eslint --fix

📝 更新完善引导文件
  app/src/assets/projectGraphTips.json
Due: prettier --write

✨ 图片选中后可以通过工具栏的按钮直接以系统方式打开图片
  app/src/pages/_toolbar.tsx
  app/src/utils/externalOpen.tsx
  app/src/utils/pathString.tsx
Due: eslint --fix

✨ 增加鼠标拖动就自动刷新舞台的功能
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/Stage.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/performance.tsx
Due: eslint --fix, prettier --write

🚸 按ctrl+z和ctrl+y时，出现当前进度文字上浮提示特效
  app/src/core/stage/stageManager/StageHistoryManager.tsx
Due: eslint --fix

🚸 使用Dialog替代prompt输入框
  app/src/core/service/controlService/controller/concrete/ControllerEdgeEdit.tsx
  app/src/core/service/controlService/controller/concrete/ControllerSectionEdit.tsx
  app/src/pages/ui_test.tsx
Due: eslint --fix

♻️ 将秘籍键文件夹及其文件改名为secretKey
  app/src/core/service/controlService/secretKeyEngine/README.md
  app/src/core/service/controlService/secretKeyEngine/secretKeyEngine.tsx
  app/src/core/stage/Stage.tsx
Due: eslint --fix, prettier --write

♻️ secretKey -> secretKeys
  app/src/core/service/controlService/secretKeysEngine/README.md
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/stage/Stage.tsx
Due: eslint --fix, prettier --write

♻️ 更改全局注册快捷键函数的位置
  app/src/components/KeyBind.tsx
  app/src/core/service/controlService/shortcutKeysEngine/KeyBinds.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/main.tsx
  app/src/pages/settings/keybinds.tsx
Due: eslint --fix

💄 给快捷键界面添加分类
  app/src/core/service/controlService/shortcutKeysEngine/KeyBinds.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysGroup.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/keybinds.tsx
Due: eslint --fix, prettier --write

💄 给快捷键分组界面标题增加图标
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysGroup.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/keybinds.tsx
Due: eslint --fix, prettier --write

🐛 当内容为空时，禁止渲染PNG
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

🐛 导出png时，图片内容留100px（世界坐标系距离）边距
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
Due: eslint --fix

💄 优化工具栏单选切换效果
  app/src/index.css
  app/src/pages/_toolbar.tsx
  app/src/themes/dark.pg-theme
  app/src/themes/light.pg-theme
  app/src/themes/macaron.pg-theme
  app/src/themes/morandi.pg-theme
  app/src/themes/park.pg-theme
Due: eslint --fix

🐛 修复Cr曲线连接的实体删除后自身没有删除的问题
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
Due: eslint --fix

🚸 增加将选中连线切换为CR曲线的工具栏按钮
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

✨ 增加CR曲线松紧程度控制
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectSelectCounter.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🥚 将rua秘籍键的合并策略优化
  app/src/core/dataStruct/shape/CublicCatmullRomSpline.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
Due: eslint --fix

💄 优化CR曲线箭头指向
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  app/src/core/stage/stageObject/association/CublicCatmullRomSplineEdge.tsx
Due: eslint --fix

📝 补充支出
  docs/content/docs/app/donate.mdx
Due: none

💄 将设置页面改为浮动样式
  app/package.json
  app/src/pages/_app.tsx
  app/src/pages/_canvas.tsx
  app/src/pages/_floating_outlet.tsx
  app/src/pages/settings/_layout.tsx
  app/src/router.ts
  app/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ 连线增加出入点控制
  app/src/core/dataStruct/shape/Rectangle.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/StageLoader.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
  app/src/core/stage/stageObject/association/CublicCatmullRomSplineEdge.tsx
  app/src/core/stage/stageObject/association/Edge.tsx
  app/src/core/stage/stageObject/association/LineEdge.tsx
  app/src/pages/_toolbar.tsx
  app/src/types/node.tsx
Due: eslint --fix

✨ 添加Popin组件
  app/src/components/Popin.tsx
  app/src/pages/_app.tsx
  app/src/pages/_floating_outlet.tsx
Due: eslint --fix

✨ 增加连线端点设置面板
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
  app/src/pages/_popup_panel/_edge_extreme_point_panel.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🐛 修复修改连线端点后，直线的箭头显示异常问题
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/StraightEdgeRenderer.tsx
Due: eslint --fix

🚸 使用纯键盘xmind式树形创建节点时，连线的端点自动设定为从右侧发出，到左侧接收
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/basicMethods/GraphMethods.tsx
Due: eslint --fix

🧪 UI界面测试
  app/src/pages/_app_menu.tsx
  app/src/pages/ui_test.tsx
Due: eslint --fix

👽️ 修改turbo-tauri参数
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: prettier --write

📝 更新公告
  docs/content/docs/app/announcement.mdx
Due: none

🧪 增加测试：触发自动保存的debug
  app/src/core/service/dataFileService/StageSaveManager.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRaiseEffectLocated.tsx
  app/src/pages/_app.tsx
  app/src/pages/_app_menu.tsx
Due: eslint --fix

🚸 在最近打开界面增加隐私模式
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
  app/src/utils/font.tsx
Due: eslint --fix

🐛 修复通过快捷键打开设置界面的问题
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/pages/_floating_outlet.tsx
Due: eslint --fix

✨ 最近文件面板增加删除项的功能
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
Due: eslint --fix

♻️ 优化代码结构
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/README.md
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutManualAlignManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutSectionManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutToSquareManager.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix, prettier --write

📝 添加标注
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix

📝 完善文档
  docs/content/docs/app/feature/import.mdx
Due: none

📝 完善官网文档
  docs/content/docs/app/meta.json
  docs/content/docs/app/software-connect/index.mdx
  docs/content/docs/app/software-connect/joplin.mdx
  docs/content/docs/app/software-connect/mubu.mdx
  docs/content/docs/app/software-connect/obsidian.mdx
  docs/content/docs/app/software-connect/xmind.mdx
Due: prettier --write

📝 更新文档中关于CR曲线的内容
  docs/app/layout.tsx
  docs/content/docs/app/stage-object/association/connectable-association/edge/cr-edge.mdx
  docs/package.json
  docs/source.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

📝 更新关于涂鸦的文档
  docs/content/docs/app/stage-object/entity/pen-stroke.mdx
Due: none
