Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

📝 AI设置界面填写暂无内容的提示
  app/src/pages/settings/ai.tsx
Due: eslint --fix

🚧 添加prg格式支持
  app/package.json
  app/src/core/service/dataFileService/StageSaveManager.tsx
  app/src/core/service/dataFileService/fileLoader.tsx
  app/src/pages/_app_menu.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

🐛 修复mac下中文输入法输入英文并Enter时直接退出编辑状态
  app/src/core/render/domElement/inputElement.tsx
  app/src/core/stage/stageManager/StageManager.tsx
Due: eslint --fix

🐛 紧密堆积时，增加空隙
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutToTightSquareManager.tsx
Due: eslint --fix

✨ 支持窗口状态记忆 (fix #130)
  app/package.json
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/capabilities/desktop.json
  app/src-tauri/src/lib.rs
  app/src/pages/_app.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ 多窗口
  app/package.json
  app/src/core/dataStruct/shape/Rectangle.tsx
  app/src/core/service/SubWindow.tsx
  app/src/index.css
  app/src/pages/_app.tsx
  app/src/pages/_render_sub_windows.tsx
  app/src/pages/test.tsx
  app/src/state.tsx
  app/src/themes/dark.pg-theme
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🐛 docs: 添加项目背景信息和开发注意事项
  .fitten/rules/project_background.md
  .fitten/rules/开发注意.md
  app/src/core/service/feedbackService/effectEngine/concrete/MouseTipFeedbackEffect.tsx
Due: eslint --fix, prettier --write

🐛 复制时支持svg和传送门实体大小的判断
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
Due: eslint --fix

🐛 修复mac下无法在节点编辑状态下进行command+c和command+v的问题
  app/src/main.tsx
Due: eslint --fix

🐛 增加网络请求失败时的报错
  docs/app/components/Download.tsx
Due: eslint --fix

🐛 修复mac下无法下载导出的png图片的问题
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

🐛 将mac导出png图片的下载地址设置为Download文件夹
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

🐛 修复打开的文件被显示成草稿的问题
  app/src/main.tsx
  app/src/pages/_app.tsx
Due: eslint --fix

🧑‍💻 优化开发体验
  app/.swc/plugins/v7_linux_x86_64_5.1.0/cdd58754c7c6e974f8bbdc5cfe7c3728802c6db37584022661069e4f8de6f170
  app/package.json
  app/src-tauri/tauri.conf.json
  app/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🙈 忽略.swc文件夹
  .gitignore
  app/.swc/plugins/v7_linux_x86_64_5.1.0/cdd58754c7c6e974f8bbdc5cfe7c3728802c6db37584022661069e4f8de6f170
Due: none

🏗️ 修改目录结构
  app/src-tauri/src/cmd/fs.rs
  app/src-tauri/src/cmd/mod.rs
  app/src-tauri/src/lib.rs
Due: none

✨ 添加触控笔支持
  app/src/core/render/canvas2d/basicRenderer/curveRenderer.tsx
  app/src/core/render/canvas2d/controllerRenderer/drawingRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/service/controlService/controller/ControllerClass.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/core/stage/stageObject/entity/PenStroke.tsx
Due: eslint --fix

♻️ feat(core): 新增矩形框选引擎并优化框选逻辑
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/MouseLocation.tsx
  app/src/core/service/controlService/controller/ControllerClass.tsx
  app/src/core/service/controlService/controller/concrete/ControllerAssociationReshape.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera/mac.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityCreate.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
  app/src/core/service/controlService/rectangleSelectEngine/rectangleSelectEngine.tsx
  app/src/core/stage/Stage.tsx
Due: eslint --fix

✨ feat: 添加Mac平台上空格+双指移动进行框选功能
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera/mac.tsx
  app/src/core/service/controlService/rectangleSelectEngine/rectangleSelectEngine.tsx
Due: eslint --fix

✨ mac下按住command键+双指移动，移动选中实体
  app/src/core/service/controlService/controller/concrete/ControllerCamera/mac.tsx
Due: eslint --fix

🐛 修复writeFile
  app/src-tauri/src/cmd/fs.rs
  app/src/utils/fs.tsx
  turbo.json
Due: eslint --fix, prettier --write

📝 添加ZMTO赞助信息
  app/README.md
Due: prettier --write

📝 修改捐赠页面
  .prettierignore
  docs/content/docs/app/donate.mdx
  docs/img/donate-littlefean.png
  docs/img/donate-zty012.png
  docs/img/donate.png
Due: none

📝 添加分发相关的文档
  .github/workflows/publish.yml
  docs/content/docs/distrube/build-flow/index.mdx
  docs/content/docs/distrube/build-flow/publish-workflow.mdx
  docs/content/docs/distrube/index.mdx
  docs/content/docs/distrube/meta.json
  docs/content/docs/distrube/variant.mdx
Due: prettier --write

🐛 mac字体临时使用苹方字体，以临时解决文本节点边缘溢出
  app/src/core/render/canvas2d/basicRenderer/textRenderer.tsx
  app/src/utils/font.tsx
Due: eslint --fix

📝 修改文档主题
  docs/app/global.css
  docs/app/layout.tsx
  docs/lib/getLLMText.ts
  docs/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ 添加遥测
  .github/scripts/generate-changelog.mjs
  .github/workflows/publish.yml
  app/src-tauri/src/cmd/device.rs
  app/src-tauri/src/cmd/mod.rs
  app/src-tauri/src/lib.rs
  app/src/components/Button.tsx
  app/src/core/service/FeatureFlags.tsx
  app/src/core/service/LastLaunch.tsx
  app/src/core/service/Telemetry.tsx
  app/src/pages/info.tsx
  app/src/utils/otherApi.tsx
  docs/content/docs/distrube/build-flow/publish-workflow.mdx
  docs/content/docs/distrube/variant.mdx
Due: eslint --fix, prettier --write

✨ 添加AI功能框架
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/pages/test.tsx
Due: eslint --fix

💚 修复工作流未添加variant的问题
  .github/workflows/publish.yml
Due: prettier --write

✨ 完善子窗口缩放
  app/src/core/service/SubWindow.tsx
  app/src/pages/_render_sub_windows.tsx
Due: eslint --fix

✨ 将侧边栏面板修改为子窗口
  app/src/components/dialog.tsx
  app/src/core/service/SubWindow.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/pages/_app.tsx
  app/src/pages/_render_sub_windows.tsx
  app/src/pages/_sub_window/_find_window.tsx
  app/src/pages/_sub_window/_logic_node_window.tsx
  app/src/pages/_sub_window/_tag_window.tsx
Due: eslint --fix

✨ 将颜色面板修改为子窗口
  app/src/core/dataStruct/shape/Rectangle.tsx
  app/src/core/service/SubWindow.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/pages/_sub_window/_color_window.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🐛 修复涂鸦更改笔画颜色时，第二笔画出来才更改颜色的bug
  app/src/core/render/canvas2d/basicRenderer/curveRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
Due: eslint --fix

🐛 修复shift画出来的涂鸦直线不见了的问题
  app/src/core/render/canvas2d/basicRenderer/curveRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
Due: eslint --fix

✨ 将设置页面改为子窗口
  app/src/components/dialog.tsx
  app/src/core/dataStruct/shape/Rectangle.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/pages/_app.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_sub_window/ColorWindow.tsx
  app/src/pages/_sub_window/FindWindow.tsx
  app/src/pages/_sub_window/LogicNodeWindow.tsx
  app/src/pages/_sub_window/SettingsWindow/about/_introduction.tsx
  app/src/pages/_sub_window/SettingsWindow/about/index.tsx
  app/src/pages/_sub_window/SettingsWindow/ai.tsx
  app/src/pages/_sub_window/SettingsWindow/automation.tsx
  app/src/pages/_sub_window/SettingsWindow/control.tsx
  app/src/pages/_sub_window/SettingsWindow/effects.tsx
  app/src/pages/_sub_window/SettingsWindow/github.tsx
  app/src/pages/_sub_window/SettingsWindow/index.tsx
  app/src/pages/_sub_window/SettingsWindow/keybinds.tsx
  app/src/pages/_sub_window/SettingsWindow/performance.tsx
  app/src/pages/_sub_window/SettingsWindow/physical.tsx
  app/src/pages/_sub_window/SettingsWindow/plugins.tsx
  app/src/pages/_sub_window/SettingsWindow/scripts.tsx
  app/src/pages/_sub_window/SettingsWindow/sounds.tsx
  app/src/pages/_sub_window/SettingsWindow/themes.tsx
  app/src/pages/_sub_window/SettingsWindow/visual.tsx
  app/src/pages/_sub_window/TagWindow.tsx
  app/src/pages/_toolbar.tsx
  app/src/pages/settings/_layout.tsx
  app/src/pages/settings/index.tsx
  app/src/router.ts
  app/src/themes/dark.pg-theme
Due: eslint --fix

🐛 修复有时子窗口要点两下才能出来
  app/package.json
  app/src/core/service/SubWindow.tsx
  app/src/pages/_render_sub_windows.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ 添加closeWhenClickInside
  app/src/core/service/SubWindow.tsx
  app/src/pages/_render_sub_windows.tsx
  app/src/pages/_sub_window/ColorWindow.tsx
Due: eslint --fix

✨ 将AppMenu更换为子窗口
  app/src/pages/_app.tsx
  app/src/pages/_render_sub_windows.tsx
  app/src/pages/_sub_window/AppMenuWindow.tsx
Due: eslint --fix
