Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

👷 给release工作流添加delete_release参数
  .github/workflows/release.yml
Due: prettier --write

👷 修复无法删除release
  .github/workflows/publish.yml
Due: prettier --write

📝 修改blog
  docs/content/blog/announcing-v2.0.0-alpha.1.mdx
Due: none

👷 修改工作流中的nodejs版本为24
  .github/workflows/publish.yml
Due: prettier --write

✏️ Fix typo
  docs/content/docs/unplugin-original-class-name/index.mdx
Due: none

🌐 为文档添加i18n
  docs/app/[lang]/(home)/layout.tsx
  docs/app/[lang]/(home)/page.tsx
  docs/app/[lang]/blog/[slug]/page.tsx
  docs/app/[lang]/blog/layout.tsx
  docs/app/[lang]/blog/page.tsx
  docs/app/[lang]/docs/[[...slug]]/page.client.tsx
  docs/app/[lang]/docs/[[...slug]]/page.tsx
  docs/app/[lang]/docs/layout.tsx
  docs/app/docs/layout.tsx
  docs/app/layout.config.tsx
  docs/app/layout.tsx
  docs/lib/i18n.ts
  docs/lib/source.ts
  docs/mdx-components.tsx
  docs/middleware.ts
Due: eslint --fix

📝 修复文档首页404
  docs/app/[lang]/(home)/page.tsx
  docs/app/[lang]/(home)/page.zh-CN.tsx
Due: eslint --fix

📝 重写文档首页
  docs/app/[lang]/(home)/page.tsx
  docs/app/[lang]/blog/[slug]/page.tsx
Due: eslint --fix

🌐 继续翻译文档
  docs/app/[lang]/import.txt/route.ts
  docs/app/[lang]/sitemap.txt/route.ts
  docs/content/docs/app/meta.en.json
  docs/content/docs/app/meta.zh-CN.json
  docs/content/docs/contribute/index.en.mdx
  docs/content/docs/contribute/meta.en.json
  docs/content/docs/contribute/meta.json
  docs/content/docs/contribute/meta.zh-CN.json
  docs/content/docs/serializer/advanced-usage.zh-CN.mdx
  docs/content/docs/serializer/index.zh-CN.mdx
  docs/content/docs/serializer/meta.en.json
  docs/content/docs/serializer/meta.zh-CN.json
  docs/content/docs/unplugin-original-class-name/index.zh-CN.mdx
  docs/content/docs/unplugin-original-class-name/meta.en.json
  docs/content/docs/unplugin-original-class-name/meta.zh-CN.json
Due: eslint --fix, prettier --write

✨ 完善GlobalMenu
  app/src/core/loadAllServices.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/stage/ProjectUpgrader.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/StageLoader.tsx
  app/src/pages/_sub_window/SettingsWindow/index.tsx
Due: eslint --fix

⬆️ 更新依赖
  docs/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ 🚧 添加文本渲染缓存
  app/package.json
  app/src/core/render/canvas2d/basicRenderer/textRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/Settings.tsx
  app/src/locales/zh_CN.yml
  packages/data-structures/src/Cache.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ 文本渲染缓存
  app/src/core/Project.tsx
  app/src/core/render/canvas2d/basicRenderer/textRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityDetailsButtonRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/portalNode/portalNodeRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/textNode/TextNodeRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/urlNode/urlNodeRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/render/canvas2d/utilsRenderer/backgroundRenderer.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
  app/src/core/stage/Canvas.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_app.tsx
  app/src/pages/_sub_window/SettingsWindow/performance.tsx
  packages/data-structures/src/Cache.ts
Due: eslint --fix, prettier --write

👷 支持universal-apple-darwin目标
  .github/workflows/publish.yml
Due: prettier --write

📝 添加博客文章
  docs/content/blog/announcing-v2.0.0-alpha.2.mdx
  docs/package.json
  docs/source.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

👷 修改工作流
  .github/workflows/publish.yml
Due: prettier --write

📝 文档添加/release/[tag]页面
  docs/app/[lang]/(home)/layout.tsx
  docs/app/[lang]/(home)/page.tsx
  docs/app/[lang]/blog/layout.tsx
  docs/app/[lang]/release/[tag]/page.tsx
  docs/app/[lang]/release/layout.tsx
  docs/app/[lang]/release/page.tsx
  docs/app/components/Download.tsx
  docs/app/layout.config.tsx
  docs/app/octo.tsx
  docs/content/blog/announcing-v2.0.0-alpha.1.mdx
  docs/content/blog/announcing-v2.0.0-alpha.2.mdx
  docs/content/docs/app/index.en.mdx
  docs/content/docs/app/index.zh-CN.mdx
  docs/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

✨ 🚧 快捷键
  app/src/components/KeyBind.tsx
  app/src/core/service/controlService/shortcutKeysEngine/KeyBinds.tsx
  app/src/pages/_sub_window/SettingsWindow/keybinds.tsx
  app/src/utils/emacs.tsx
Due: eslint --fix

🔥 移除所有console.log
  app/src/components/NavLinkButton.tsx
  app/src/core/Project.tsx
  app/src/core/plugin/PluginCodeParseData.tsx
  app/src/core/plugin/PluginWorker.tsx
  app/src/core/plugin/UserScriptsManager.tsx
  app/src/core/plugin/apis.tsx
  app/src/core/render/canvas2d/basicRenderer/curveRenderer.tsx
  app/src/core/render/canvas2d/basicRenderer/textRenderer.tsx
  app/src/core/render/canvas2d/controllerRenderer/drawingRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/render/domElement/inputElement.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/Themes.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera/mac.tsx
  app/src/core/service/controlService/controller/concrete/ControllerSectionEdit.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/dataGenerateService/generateFromFolderEngine/GenerateFromFolderEngine.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/core/service/dataManageService/collaborationEngine/CollaborationEngine.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSlideEffect.tsx
  app/src/core/service/feedbackService/stageStyle/stageStyle.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutEntityManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutSectionManager.tsx
  app/src/pages/_floating_outlet.tsx
  app/src/pages/_popup_panel/_searching_node_panel.tsx
  app/src/pages/_sub_window/AIWindow.tsx
  app/src/pages/_sub_window/RecentFilesWindow.tsx
  app/src/pages/_sub_window/SettingsWindow/about/_introduction.tsx
  app/src/pages/_sub_window/SettingsWindow/about/index.tsx
  app/src/pages/_sub_window/SettingsWindow/plugins.tsx
  app/src/pages/_sub_window/SettingsWindow/scripts.tsx
  app/src/pages/info.tsx
  app/src/pages/ui_test.tsx
  app/src/utils/otherApi.tsx
Due: eslint --fix

✨ 继续完成快捷键
  app/src/components/Field.tsx
  app/src/core/loadAllServices.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
Due: eslint --fix

🐛 修复文字模糊
  app/src/core/render/canvas2d/basicRenderer/textRenderer.tsx
  app/src/core/service/Settings.tsx
  app/src/core/stage/Canvas.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_sub_window/SettingsWindow/performance.tsx
Due: eslint --fix, prettier --write

🐛 修复舞台背景不显示
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix

⚡️ 优化性能
  app/package.json
  app/src/components/Field.tsx
  app/src/pages/_app.tsx
  app/src/pages/_render_sub_windows.tsx
  app/vite.config.ts
  packages/vite-plugin-pg-theme/src/theme.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

⚡️ 优化性能
  app/src/core/stage/Canvas.tsx
  app/src/locales/zh_CN.yml
  app/src/themes/dark.pg-theme
Due: eslint --fix, prettier --write

🐛 修复Section
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
Due: eslint --fix

🐛 修复打开设置时窗口未响应
  app/src/components/Field.tsx
  app/src/core/loadAllServices.tsx
  app/src/pages/_sub_window/SettingsWindow/index.tsx
Due: eslint --fix

💫 给FieldGroup添加动画
  app/src/components/Field.tsx
  app/src/components/KeyBind.tsx
  app/src/css/theme.pcss
  app/src/pages/_sub_window/SettingsWindow/index.tsx
  app/vite.config.ts
Due: eslint --fix

⚡️ 优化在Linux上的未响应问题
  app/src/components/Field.tsx
  app/src/core/service/SubWindow.tsx
Due: eslint --fix

🐛 修复窗口未响应
  app/src/core/service/Settings.tsx
Due: eslint --fix

✨ 支持按键序列
  app/src/components/KeyBind.tsx
  app/src/core/service/controlService/shortcutKeysEngine/KeyBinds.tsx
  app/src/pages/_sub_window/SettingsWindow/keybinds.tsx
  app/src/utils/emacs.tsx
Due: eslint --fix

📝 添加按键序列文档
  docs/content/docs/app/features/feature/secret-code.zh-CN.mdx
  docs/content/docs/app/features/feature/shortcut-key.zh-CN.mdx
Due: none

✨ 添加移动端支持
  app/index.html
  app/package.json
  app/src-tauri/capabilities/default.json
  app/src/components/Switch.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/css/index.css
  app/src/main.tsx
  app/src/pages/_app.tsx
  app/src/pages/_render_sub_windows.tsx
  app/src/utils/platform.tsx
  app/vite.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

🐛 调整旧有秘籍键文件，消除错误
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
Due: eslint --fix

🐛 修复打开项目时调用Settings.set导致窗口未响应
  .vscode/launch.json
  .vscode/tasks.json
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/shortcutKeysEngine/KeyBinds.tsx
Due: eslint --fix, prettier --write

✨ 增加4群
  docs/content/docs/app/misc/community.zh-CN.mdx
Due: none

🐛 修复KeyBinds的更改不能立即生效
  app/src/core/service/controlService/shortcutKeysEngine/KeyBinds.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
