Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

🐛 Fix sitemap format
  docs/app/sitemap.txt/route.ts
  docs/app/sitemap/route.ts
Due: eslint --fix

🐛 CR曲线可以通过按钮删除
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRendererClass.tsx
  app/src/core/stage/stageManager/StageManager.tsx
Due: eslint --fix

🔥 去掉shift键快速移动的功能，因为会导致一些输入法切换设置为shift的用户出现严重问题
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/Camera.tsx
Due: eslint --fix

✨ 增加摄像机翻页式移动：PageUp，PageDown，Home，End
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysGroup.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/stage/Camera.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

将mac中的翻页移动视野默认快捷键更改
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
Due: eslint --fix

🔥 删除无用代码
  app/src/core/stage/Camera.tsx
Due: eslint --fix

✨ mac增加触摸板双指缩放灵敏度设置
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera/mac.tsx
  app/src/core/stage/Camera.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/control.tsx
Due: eslint --fix, prettier --write

✨ mac双指缩放优化为支持以鼠标位置为缩放中心点
  app/src/core/service/controlService/controller/concrete/ControllerCamera/mac.tsx
  app/src/pages/settings/control.tsx
Due: eslint --fix

🐛 修复右上角X在白色主题下看不到的问题
  app/src/pages/_floating_outlet.tsx
Due: eslint --fix

✨ 账号登录和注册
  .gitignore
  .vscode/settings.json
  app/package.json
  app/src/components/Field.tsx
  app/src/components/dialog.tsx
  app/src/core/service/FeatureFlags.tsx
  app/src/core/service/Themes.tsx
  app/src/core/service/User.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/settings/about.tsx
  app/src/pages/settings/automation.tsx
  app/src/pages/settings/control.tsx
  app/src/pages/settings/effects.tsx
  app/src/pages/settings/github.tsx
  app/src/pages/settings/keybinds.tsx
  app/src/pages/settings/performance.tsx
  app/src/pages/settings/plugins.tsx
  app/src/pages/settings/scripts.tsx
  app/src/pages/settings/sounds.tsx
  app/src/pages/settings/themes.tsx
  app/src/pages/settings/visual.tsx
  app/src/pages/user/_layout.tsx
  app/src/pages/user/login.tsx
  app/src/pages/user/register.tsx
  app/src/router.ts
  app/src/themes/dark.pg-theme
  app/src/themes/light.pg-theme
  app/src/themes/macaron.pg-theme
  app/src/themes/morandi.pg-theme
  app/src/themes/park.pg-theme
  app/src/vite-env.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ 添加PluginAPI类型
  app/src/core/dataStruct/Vector.tsx
  app/src/core/plugin/PluginWorker.tsx
  app/src/core/plugin/apis.tsx
  app/src/core/plugin/types.tsx
Due: eslint --fix

🚧 无向边
  app/src/core/render/canvas2d/entityRenderer/multiTargetUndirectedEdge/MultiTargetUndirectedEdgeRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
  app/src/core/stage/stageObject/association/MutiTargetUndirectedEdge.tsx
  app/src/types/node.tsx
Due: eslint --fix

👽️ hello函数更新API
  app/src/core/plugin/apis.tsx
Due: eslint --fix

📦️ 添加project-graph-api包
  app/src/core/plugin/PluginWorker.tsx
  app/src/core/plugin/apis.tsx
  app/src/core/plugin/types.tsx
  packages/api/package.json
  packages/api/src/apis/camera.ts
  packages/api/src/apis/controller.ts
  packages/api/src/apis/dialog.ts
  packages/api/src/index.ts
  packages/api/src/types.ts
  packages/api/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🔨 Add prepublish
  packages/api/package.json
Due: prettier --write

🙈 Add .npmignore
  packages/api/.npmignore
Due: none

🚧 多源无向边渲染
  app/src/core/render/canvas2d/entityRenderer/multiTargetUndirectedEdge/MultiTargetUndirectedEdgeRenderer.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/types/node.tsx
Due: eslint --fix

🐛 修复导出问题
  packages/api/package.json
Due: prettier --write

📝 完善插件相关文档
  docs/content/docs/plugins/develop-directly.mdx
  docs/content/docs/plugins/meta.json
  docs/content/docs/plugins/use-template.mdx
Due: prettier --write

💄 修改文档左上角切换项目按钮样式
  docs/app/global.css
Due: none

📝 修改文档
  docs/content/docs/contribute/index.mdx
  docs/content/docs/contribute/weblate.mdx
Due: none

✨ 多源无向边创建时可自定义名称
  app/src/core/render/canvas2d/entityRenderer/multiTargetUndirectedEdge/MultiTargetUndirectedEdgeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
  app/src/core/stage/stageObject/association/LineEdge.tsx
  app/src/core/stage/stageObject/association/MutiTargetUndirectedEdge.tsx
Due: eslint --fix

📝 更新新手引导文件
  app/src/assets/projectGraphTips.json
Due: prettier --write

📝 更新faq
  docs/content/docs/app/faq/windows.mdx
Due: none

🚨 Fix ts
  packages/api/src/types.ts
Due: eslint --fix

📝 更新文档：macOs版本损坏无法打开的提示
  docs/app/components/GithubRelease.tsx
  docs/content/docs/app/faq/mac.mdx
Due: eslint --fix

🐛 多源无向边数据持久化
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/types/node.tsx
Due: eslint --fix

🚧 CR曲线编辑文字
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/stageMouseInteractionCore/stageMouseInteractionCore.tsx
  app/src/core/stage/stageObject/association/CublicCatmullRomSplineEdge.tsx
  app/src/core/stage/stageObject/association/Edge.tsx
Due: eslint --fix

✨ 多源无向边支持编辑上面的文字
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEdgeEdit.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/stageMouseInteractionCore/stageMouseInteractionCore.tsx
Due: eslint --fix

🐛 多源无向边增加选中状态
  app/src/core/render/canvas2d/entityRenderer/multiTargetUndirectedEdge/MultiTargetUndirectedEdgeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
Due: eslint --fix

🚸 秘籍键触发后的特效提示文字显示该秘籍键名称
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRiseEffect.tsx
Due: eslint --fix

♻️ 任何关系都支持颜色更改
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRiseEffect.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectColorManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectSelectCounter.tsx
  app/src/core/stage/stageObject/abstract/Association.tsx
  app/src/core/stage/stageObject/association/CublicCatmullRomSplineEdge.tsx
  app/src/types/node.tsx
Due: eslint --fix

🐛 支持在工具栏中对多源无向边更改颜色
  app/src/core/stage/stageManager/concreteMethods/StageObjectSelectCounter.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

♻️ 重构节点旋转代码和命名
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerAssociationReshape.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeRotation.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🐛 将无向边的连线改为直线
  app/src/core/render/canvas2d/entityRenderer/multiTargetUndirectedEdge/MultiTargetUndirectedEdgeRenderer.tsx
  app/src/core/stage/stageObject/association/MutiTargetUndirectedEdge.tsx
Due: eslint --fix

✨ 多源无向边增加箭头内外向/是否有箭头
  app/src/core/render/canvas2d/entityRenderer/multiTargetUndirectedEdge/MultiTargetUndirectedEdgeRenderer.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/stageObject/association/MutiTargetUndirectedEdge.tsx
  app/src/pages/_toolbar.tsx
  app/src/types/node.tsx
Due: eslint --fix

✨ 多源无向边可以拖拽来更改中心位置
  app/src/core/service/controlService/controller/concrete/ControllerAssociationReshape.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/stageManager/concreteMethods/StageMultiTargetEdgeMove.tsx
  app/src/core/stage/stageObject/association/MutiTargetUndirectedEdge.tsx
  app/src/types/node.tsx
Due: eslint --fix

📝 更新关于无向边的文档
  docs/content/docs/app/stage-object/association/connectable-association/nodirection-edge/index.mdx
  docs/content/docs/app/stage-object/association/connectable-association/nodirection-edge/multi-line-edge.mdx
Due: none

📝 增加history界面
  docs/content/docs/app/history.mdx
  docs/content/docs/app/meta.json
Due: prettier --write

✨ 增加凸包算法，超边增加凸包式渲染
  app/src/core/algorithm/geometry/README.md
  app/src/core/algorithm/geometry/convexHull.tsx
  app/src/core/render/canvas2d/entityRenderer/multiTargetUndirectedEdge/MultiTargetUndirectedEdgeRenderer.tsx
Due: eslint --fix, prettier --write
