Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

🚸 禁用ctrl+j弹出下载弹窗
  app/src/core/service/controlService/controller/Controller.tsx
Due: eslint --fix

🐛 在节点周围创建节点时，不会因为节点本身过大而出现在内部
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
  app/src/main.tsx
Due: eslint --fix

✨ 使用快捷键在一个选中节点周围创建节点时，能同时复制被选中节点的连线关系到新节点上
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
Due: eslint --fix

🚸 完善了方向键移动选择节点的逻辑
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
Due: eslint --fix

💄 添加alt加鼠标点击的跳跃式移动的伪3D跳跃动画
  app/src/core/dataStruct/Color.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityJumpMoveEffect.tsx
  app/src/core/service/feedbackService/effectEngine/mathTools/rateFunctions.tsx
Due: eslint --fix

✨ 增加ctrl+alt+方向键 跳跃式移动选中的物体
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/main.tsx
Due: eslint --fix, prettier --write

🐛 修复了多数不必要的情况下按alt键就显示jump to弧线的问题
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix

✨ 支持从最近打开的文件列表中选择文件创建传送门节点
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/pages/_recent_files_panel.tsx
  app/src/utils/pathString.tsx
Due: eslint --fix

🐛 完善删除自环时的触碰问题
  app/src/core/dataStruct/shape/Line.tsx
Due: eslint --fix

🐛 在节点的周围下方或上方创建节点时，左对齐
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
Due: eslint --fix

:sparkles: Add Coserver monorepo
  coserver/package.json
  coserver/src/index.ts
  coserver/src/logger.ts
  coserver/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

:sparkles: coserver: broadcast event
  coserver/src/index.ts
Due: eslint --fix

📝 完善官网FAQ
  docs/src/zh/faq.md
Due: prettier --write, pnpm build:docs

📝 添加传送门节点的说明
  docs/src/dev/ProjectGraph开发进程图.json.2024-12-28_20-46-41.backup
  docs/src/dev/ProjectGraph开发进程图.json.2024-12-28_22-13-52.backup
  docs/src/zh/features/portal-node.md
Due: prettier --write, pnpm build:docs

🐛 将隐私保护模式改的更为彻底
  app/src/core/render/canvas2d/basicRenderer/textRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
Due: eslint --fix

♻️ 更改StageManager结构
  app/src/core/stage/stageManager/StageManager.tsx
Due: eslint --fix

:sparkles: Add Panel component
  app/src/components/panel.tsx
  app/src/pages/ui_test.tsx
Due: eslint --fix

:sparkles: Support collaborate
  app/src-tauri/capabilities/default.json
  app/src/components/panel.tsx
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/service/dataManageService/collaborationEngine/CollaborationEngine.tsx
Due: eslint --fix, prettier --write

✨ 完成传送门节点的初步渲染,但还不完善
  app/src/core/dataStruct/StringDict.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/core/stage/stageManager/StageHistoryManager.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageObject/entity/PortalNode.tsx
  app/tests/relativePathToAbsolute.test.tsx
Due: eslint --fix

📝 更新faq
  docs/src/zh/faq.md
Due: prettier --write, pnpm build:docs

✨ 基本完成传送门节点的跨世界渲染
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/portalNode/portalNodeRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerChildCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityCreate.tsx
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageObject/entity/PortalNode.tsx
Due: eslint --fix

📝 完善文档
  docs/src/.vitepress/config/sidebar/zh.ts
  docs/src/zh/features/import.md
  docs/src/zh/features/portal-node.md
Due: eslint --fix, prettier --write, pnpm build:docs

✨ 增加进入隐私模式的快捷键
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/main.tsx
  app/src/pages/index.tsx
Due: eslint --fix, prettier --write

🐛 fix: #301
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix

🚸 在关闭窗口时添加“不保存并关闭”的选项
  app/src/pages/_app.tsx
Due: eslint --fix

✨ 坐标轴超出屏幕时固定在屏幕边缘
  app/src/core/render/canvas2d/utilsRenderer/backgroundRenderer.tsx
Due: eslint --fix

🐛 fix: #240 优化贝塞尔曲线上的文字显示
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/SymmetryCurveEdgeRenderer.tsx
Due: eslint --fix

🔥 删除中键点击吸附式移动视野
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
Due: eslint --fix

✨ fix: #177 窗口卷起功能并固定的功能
  app/src-tauri/capabilities/default.json
  app/src/pages/_app.tsx
  app/src/pages/index.tsx
  app/src/state.tsx
Due: eslint --fix, prettier --write

✨ 完善颜色管理面板，增加从节点添加颜色库、自动整理颜色库顺序按钮
  app/src/core/dataStruct/Color.tsx
  app/src/core/service/feedbackService/ColorManager.tsx
  app/src/pages/_app.tsx
  app/src/pages/_color_manager_panel.tsx
Due: eslint --fix

🐛 修复背景透明度无法修改的bug
  app/src/pages/index.tsx
Due: eslint --fix

🐛 fix: #305 节点自动选中功能优化
  app/src/core/service/controlService/controller/concrete/ControllerEntityCreate.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
Due: eslint --fix

💄 减小创建节点的特效的夸张程度
  app/src/core/render/canvas2d/utilsRenderer/WorldRenderUtils.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateFlashEffect.tsx
Due: eslint --fix

🐛 修复弹出界面并关闭时间间隔过短的报错
  app/src/components/popup.tsx
Due: eslint --fix

✨ fix: #315 添加横向滚动画面的鼠标滚轮设置项
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/Camera.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
Due: eslint --fix, prettier --write

✨ fix: #205 双击时，连线上的文字支持编辑换行
  app/src/core/render/canvas2d/basicRenderer/textRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/StraightEdgeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEdgeEdit.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/controlService/controller/concrete/ControllerSectionEdit.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/stage/stageObject/association/LineEdge.tsx
Due: eslint --fix

🧪 添加cli测试
  app/src/cli.tsx
Due: eslint --fix

fix(build): 修复android端无法通过编译的问题
  app/src-tauri/src/lib.rs
Due: none

🚸 增加一行菜单栏
  app/src/core/service/dataFileService/autoSaveBackupEngine/autoBackupEngine.tsx
  app/src/pages/_app_menu.tsx
Due: eslint --fix

📝 更新新手教程文档里的初默认快捷键说明
  app/src/assets/projectGraphTips.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
  pnpm build:docs: any of: docs/**/*
