Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "docs/**/*": ["pnpm build:docs"]
}

:green_heart: 修复changelog可能生成失败的情况
  .github/scripts/generate-changelog.sh
Due: none

🐛 修复mac电脑在鼠标滚轮缩放时瞬间剧变的情况
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
Due: eslint --fix

🚸 增加空格键进入节点编辑状态的操作设置项
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

📝 完善代码结构
  app/src/pages/_special_day_dialog/fools_day.tsx
  app/src/pages/index.tsx
Due: eslint --fix

📝 更新docs-pg中的文件
  app/src/assets/projectGraphTips.json
  docs-pg/ProjectGraph决策日志.json
  docs-pg/ProjectGraph开发进程图.json
  docs-pg/ProjectGraph项目架构.json
  docs-pg/issue分类.json
Due: prettier --write

🐛 新建草稿时，摄像机回到坐标原点
  app/src/pages/_app_menu.tsx
Due: eslint --fix

🐛 修复最近打开面板中有文件过长时造成的挤压问题
  app/src/pages/_app.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
  app/src/utils/pathString.tsx
Due: eslint --fix

📝 更改工具栏提示标语
  app/src/pages/_toolbar.tsx
Due: eslint --fix

📝 完善英文注释
  app/src/locales/en.yml
Due: prettier --write

Translated using Weblate (Chinese (Simplified Han script))
  app/src/locales/zh_CN.yml
Due: prettier --write

🚑 修复主题模式更改引起的windows下启动失败问题，并适配秘籍键更改主题
  app/src/core/service/Themes.tsx
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/service/feedbackService/stageStyle/stageStyle.tsx
  app/src/pages/settings/_layout.tsx
  app/src/utils/yaml.tsx
Due: eslint --fix

:sparkles: 添加导出PNG功能（有bug）
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
  app/src/utils/sleep.tsx
Due: eslint --fix

📝 修改软件内的qq群为2群
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/settings/about.tsx
Due: eslint --fix, prettier --write

📝 更新官网qq群链接为群2
  app/src/pages/settings/about.tsx
  docs/src/.vitepress/config/index.ts
Due: eslint --fix, pnpm build:docs

🚧 增加导出png的面板
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/pages/_app.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
  app/src/state.tsx
Due: eslint --fix

🐛 修复导出png的拼接问题
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
Due: eslint --fix

🎨 优化代码结构
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

✨ 增加导出PNG图片时自定义摄像机缩放
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

💄 优化秘籍键界面，增加冲突的秘籍键检测功能
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
  app/src/pages/secret.tsx
Due: eslint --fix

🚸 增加对齐相关的秘籍键
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
Due: eslint --fix

🚸 增加特殊情况的快捷连线相关秘籍键
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
Due: eslint --fix

🚸 增加颜色秘籍键
  app/src/core/dataStruct/Color.tsx
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
Due: eslint --fix

💄 优化导出png界面提示
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

💄 优化白色主题，解决各种偏红的问题
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/StraightEdgeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/pages/_app.tsx
  app/src/pages/_app_menu.tsx
  app/src/themes/dark.pg-theme
  app/src/themes/light.pg-theme
Due: eslint --fix

💄 优化快捷键的修饰键UI显示颜色、公园主题
  app/src/components/KeyBind.tsx
  app/src/index.css
  app/src/themes/dark.pg-theme
  app/src/themes/light.pg-theme
  app/src/themes/macaron.pg-theme
  app/src/themes/morandi.pg-theme
  app/src/themes/park.pg-theme
Due: eslint --fix

📝 增加主题用途描述
  app/src/core/service/Themes.tsx
  app/src/pages/settings/themes.tsx
  app/src/themes/dark.pg-theme
  app/src/themes/light.pg-theme
  app/src/themes/macaron.pg-theme
  app/src/themes/morandi.pg-theme
  app/src/themes/park.pg-theme
Due: eslint --fix

🚸 导出图片时以文件名为命名
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

🐛 导出png时防止渲染坐标轴
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

🧪 尝试添加导出png图片的背景但失败，增加透明背景的提示语
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

📝 更新官网文档
  docs/src/.vitepress/config/sidebar/zhCn.ts
  docs/src/zh_CN/guide/faq.md
  docs/src/zh_CN/guide/features/export.md
  docs/src/zh_CN/guide/features/sounds.md
Due: eslint --fix, prettier --write, pnpm build:docs

:building_construction: Use turborepo
  .github/workflows/nightly.yml
  .gitignore
  .lintstagedrc
  app/package.json
  docs/src/.vitepress/config/index.ts
  package.json
  packages/coserver/package.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write, pnpm build:docs

:construction_worker: Update CI
  .github/workflows/nightly.yml
Due: prettier --write

:construction_worker: Update CI
  .github/workflows/nightly.yml
  packages/coserver/package.json
  packages/coserver/src/index.ts
  packages/coserver/src/logger.ts
  packages/coserver/tsconfig.json
Due: eslint --fix, prettier --write

🚸 SPLIT逻辑节点支持多个分隔符参数
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/stringLogic.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/logicNodeNameEnum.tsx
  docs/src/zh_CN/guide/features/compute-engine.md
  docs/src/zh_CN/index.md
Due: eslint --fix, prettier --write, pnpm build:docs

🐛 修复png预览图溢出边框的问题
  app/src/core/service/Themes.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/core/service/feedbackService/stageStyle/stageStyle.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

⚡️ 加快渲染速度
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
Due: eslint --fix

💄 完善info页面
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportPng.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/info.tsx
Due: eslint --fix
