Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"],
  "docs/**/*": ["pnpm build:docs"]
}

:construction_worker: Remove unused code in CI
  .github/workflows/nightly.yml
Due: prettier --write

🚸 完善对齐面板
  app/src/pages/_toolbar.tsx
Due: eslint --fix

✨ 新增了矩阵布局
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

✨ 增加紧凑布局
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

⚡️ 移除多余console输出
  app/src/core/dataStruct/Queue.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/render/domElement/inputElement.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/KeyBinds.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/core/service/feedbackService/effectEngine/effectMachine.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSerializedAdder.tsx
  app/src/core/stage/stageObject/entity/PenStroke.tsx
  app/src/core/stage/stageObject/entity/Section.tsx
  app/src/main.tsx
  app/src/pages/_app.tsx
  app/src/pages/_color_manager_panel.tsx
  app/src/pages/_tag_panel.tsx
  app/src/pages/_vditor_panel.tsx
  app/src/pages/index.tsx
Due: eslint --fix

🚸 优化触控板的屏蔽效果
  app/src/core/dataStruct/Cache.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/utils/font.tsx
Due: eslint --fix

⚡️ 优化秘籍键模块代码，优化在长按某按键时的性能
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
Due: eslint --fix

⚡️ 取消了Section巨大化标题的文字阴影，但优化效果甚微
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
Due: eslint --fix

⚡️ 增加关于字体渲染的性能优化选项
  app/src/core/dataStruct/Vector.tsx
  app/src/core/render/canvas2d/basicRenderer/textRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/Settings.tsx
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/settings/performance.tsx
Due: eslint --fix, prettier --write

⚡️ 增加超过一段时间未操作暂停渲染的设置项
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/MouseLocation.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/index.tsx
  app/src/pages/settings/performance.tsx
Due: eslint --fix, prettier --write

🐛 修复超时暂停渲染开关改变未生效问题
  app/src/core/render/canvas2d/renderer.tsx
  app/src/pages/index.tsx
Due: eslint --fix

✨ 增加超时暂停渲染的自定义时间长度
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/performance.tsx
Due: eslint --fix, prettier --write

📝 更新文档
  docs/src/zh/faq.md
Due: prettier --write, pnpm build:docs

✨ 增加创建节点自动上色的功能
  app/src/core/service/Settings.tsx
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🔥 删除过时代码和注释
  app/src/pages/index.tsx
Due: eslint --fix

✨ 添加演示模式
  app/src/pages/_app.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/index.tsx
  app/src/state.tsx
Due: eslint --fix

✨ 增加视野重置时边缘留白比率的自定义设置
  app/src/core/service/Settings.tsx
  app/src/core/stage/Camera.tsx
Due: eslint --fix

🚸 完善自定义设置项
  app/src/locales/zh_CN.yml
  app/src/pages/settings/control.tsx
Due: eslint --fix, prettier --write

Translated using Weblate (Chinese (Traditional Han script))
  app/src/locales/zh_TW.yml
Due: prettier --write

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

💄 增加按下Delete键时的节点消失特效
  app/src/core/service/feedbackService/effectEngine/concrete/EntityShrinkEffect.tsx
  app/src/core/stage/stageManager/StageManager.tsx
Due: eslint --fix

🔥 删除无用代码，优化结构
  app/src/locales/en.yml
  app/src/locales/zh_TW.yml
  app/src/pages/_app_menu.tsx
  app/src/pages/_toolbar.tsx
  app/src/utils/externalOpen.tsx
Due: eslint --fix, prettier --write

✨ 增加通过内容为路径的文本节点打开本地文件或网页的快捷键
  app/src/locales/zh_CN.yml
  app/src/main.tsx
  app/src/utils/externalOpen.tsx
Due: eslint --fix, prettier --write

🚸 跳转到标签节点时，自动获取标签节点的 “后继节点集合” 组成的外接矩形并重置视野范围
  app/src/core/stage/Camera.tsx
  app/src/core/stage/stageManager/basicMethods/GraphMethods.tsx
  app/src/core/stage/stageManager/concreteMethods/StageTagManager.tsx
Due: eslint --fix

♻️ 拆分toolbar.tsx，将一些其他面板拆出新文件
  app/src/main.tsx
  app/src/pages/_align_panel.tsx
  app/src/pages/_color_panel.tsx
  app/src/pages/_generate_node_panel.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

♻️ 将多个面板移动到文件夹中
  app/src/main.tsx
  app/src/pages/_app.tsx
  app/src/pages/_fixed_panel/_error_handler.tsx
  app/src/pages/_fixed_panel/_export_text_panel.tsx
  app/src/pages/_fixed_panel/_logic_node_panel.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
  app/src/pages/_fixed_panel/_start_file_panel.tsx
  app/src/pages/_fixed_panel/_tag_panel.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
  app/src/pages/_popup_panel/_color_manager_panel.tsx
  app/src/pages/_popup_panel/_color_panel.tsx
  app/src/pages/_popup_panel/_generate_node_panel.tsx
  app/src/pages/_popup_panel/_searching_node_panel.tsx
  app/src/pages/_toolbar.tsx
  app/src/pages/index.tsx
Due: eslint --fix

💄 完善了最近启动面板
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
Due: eslint --fix

💄 增加灰蓝绿色主题
  app/src/index.css
  app/src/locales/zh_CN.yml
Due: prettier --write

🐛 修复导出svg时图片节点没有导出的情况
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportSvg.tsx
Due: eslint --fix

🐛 使用快捷键创建节点时自动刹停视野移动惯性，并将默认快捷键改为Insert
  app/src/assets/projectGraphTips.json
  app/src/main.tsx
Due: eslint --fix, prettier --write

✨ 增加了向右的树形自动布局
  app/src/core/service/controlService/autoLayoutEngine/autoLayoutFastTreeMode.tsx
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix

🧑‍💻 明显化Debug模式下Section的引用线
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/service/feedbackService/stageStyle/stageStyle.tsx
Due: eslint --fix

🐛 alt键跳入节点自动变成框
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
Due: eslint --fix

🐛 修复节点跳出交叉嵌套时，一次跳不完的情况
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectanglePushInEffect.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionInOutManager.tsx
Due: eslint --fix

🐛 修复跨层移动的多重嵌套问题
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionInOutManager.tsx
Due: eslint --fix

🐛 修复了切割碎片闪白问题
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSplitTwoPartEffect.tsx
Due: eslint --fix

🚸 增加交叉嵌套提示
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
Due: eslint --fix

🚸 修改toolbar在界面上的效果
  app/src/core/service/Settings.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_app_menu.tsx
  app/src/pages/_hint_text.tsx
  app/src/pages/_toolbar.tsx
  app/src/pages/index.tsx
  app/src/pages/settings/_layout.tsx
  app/src/pages/settings/visual.tsx
Due: eslint --fix, prettier --write

🐛 fix: #329
  app/src/core/service/controlService/controller/concrete/ControllerNodeRotation.tsx
  app/src/types/cursors.tsx
Due: eslint --fix

🐛 fix: 328 将附带ctrl的点击选择设定为只增不减的加选
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
Due: eslint --fix
