Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

🐛 修复部分重复的快捷键
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
Due: eslint --fix

✨ 实现HistoryManager(仍有bug)
  app/package.json
  app/src/core/Project.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/stage/stageManager/StageHistoryManager.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  packages/serializer/src/index.ts
  packages/serializer/tests/index.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🚧 添加shadcn/ui
  app/components.json
  app/package.json
  app/src/core/service/Themes.tsx
  app/src/css/index.css
  app/src/css/theme.pcss
  app/src/lib/utils.ts
  app/src/main.tsx
  app/src/themes/dark.pg-theme
  app/vite.config.ts
  docs/content/docs/vite-plugin-pg-theme/index.en.mdx
  docs/content/docs/vite-plugin-pg-theme/meta.json
  packages/vite-plugin-pg-theme/.gitignore
  packages/vite-plugin-pg-theme/.npmignore
  packages/vite-plugin-pg-theme/LICENSE
  packages/vite-plugin-pg-theme/package.json
  packages/vite-plugin-pg-theme/src/index.ts
  packages/vite-plugin-pg-theme/src/theme.ts
  packages/vite-plugin-pg-theme/src/vite-env.d.ts
  packages/vite-plugin-pg-theme/src/yaml.ts
  packages/vite-plugin-pg-theme/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🐛 修复无法编辑快捷键
  app/src/components/KeyBind.tsx
  app/src/core/stage/Canvas.tsx
  app/src/pages/_sub_window/SettingsWindow/index.tsx
Due: eslint --fix

✨ 继续完善新版ui
  app/src/components/dialog.tsx
  app/src/components/ui/menubar.tsx
  app/src/core/Project.tsx
  app/src/core/plugin/PluginCodeParseData.tsx
  app/src/core/plugin/UserScriptsManager.tsx
  app/src/core/plugin/apis.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEdgeEdit.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/controlService/controller/concrete/ControllerSectionEdit.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/service/dataManageService/collaborationEngine/CollaborationEngine.tsx
  app/src/core/service/dataManageService/copyEngine/pasteImage.tsx
  app/src/core/service/dataManageService/copyEngine/pastePlainText.tsx
  app/src/core/service/helpService/helpService.tsx
  app/src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/pages/_app.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
  app/src/pages/_fixed_panel/_start_file_panel.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
  app/src/pages/_popup_panel/_color_manager_panel.tsx
  app/src/pages/_popup_panel/_export_svg_panel.tsx
  app/src/pages/_popup_panel/_generate_node_panel.tsx
  app/src/pages/_special_day_dialog/fools_day.tsx
  app/src/pages/_sub_window/RecentFilesWindow.tsx
  app/src/pages/_sub_window/SettingsWindow/about/_introduction.tsx
  app/src/pages/_sub_window/SettingsWindow/ai.tsx
  app/src/pages/_sub_window/SettingsWindow/github.tsx
  app/src/pages/_sub_window/SettingsWindow/scripts.tsx
  app/src/pages/_sub_window/SettingsWindow/sounds.tsx
  app/src/pages/_sub_window/TagWindow.tsx
  app/src/pages/test.tsx
Due: eslint --fix

📝 编写文档
  docs/app/global.css
  docs/content/docs/app/features/feature/compute-engine.zh-CN.mdx
  docs/content/docs/app/misc/community.en.mdx
  docs/content/docs/app/misc/community.zh-CN.mdx
  docs/content/docs/ui/index.zh-CN.mdx
  docs/content/docs/ui/layers.zh-CN.mdx
  docs/content/docs/ui/meta.zh-CN.json
Due: prettier --write

✨ 继续完善新版ui
  app/src/components/ui/dialog.tsx
  app/src/core/Project.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEdgeEdit.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/controlService/controller/concrete/ControllerSectionEdit.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportSvg.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/stageExportEngine.tsx
  app/src/core/service/dataManageService/collaborationEngine/CollaborationEngine.tsx
  app/src/core/service/dataManageService/copyEngine/pastePlainText.tsx
  app/src/core/service/helpService/helpService.tsx
  app/src/core/stage/Camera.tsx
  app/src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/pages/_app.tsx
  app/src/pages/_fixed_panel/_export_png_panel.tsx
  app/src/pages/_fixed_panel/_start_file_panel.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
  app/src/pages/_popup_panel/_color_manager_panel.tsx
  app/src/pages/_popup_panel/_export_svg_panel.tsx
  app/src/pages/_popup_panel/_generate_node_panel.tsx
  app/src/pages/test.tsx
  app/src/router.ts
Due: eslint --fix

🐛 修复关于页面报错
  app/src/pages/_sub_window/SettingsWindow/about/_introduction.tsx
Due: eslint --fix

⚡️ 优化Linux性能
  app/src-tauri/src/lib.rs
  docs/content/docs/app/misc/faq/linux.zh-CN.mdx
Due: none

✨ 支持粘贴图片
  app/src/core/Project.tsx
  app/src/core/render/canvas2d/basicRenderer/ImageRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
  app/src/core/service/dataManageService/copyEngine/pasteImage.tsx
  app/src/core/service/dataManageService/copyEngine/pastePlainText.tsx
  app/src/core/stage/Camera.tsx
  app/src/core/stage/stageObject/entity/ImageNode.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
  app/src/pages/_app.tsx
  app/src/themes/dark.pg-theme
Due: eslint --fix

✨ 添加附件系统，以及图片节点的加载和保存
  .lintstagedrc
  app/package.json
  app/src/core/Project.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/stage/stageManager/StageHistoryManager.tsx
  packages/serializer/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ 支持序列化ConnectPoint
  app/src/core/stage/stageObject/abstract/StageEntity.tsx
  app/src/core/stage/stageObject/entity/ConnectPoint.tsx
Due: eslint --fix

✨ 支持SvgNode
  app/src/core/render/canvas2d/basicRenderer/svgRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/svgNode/SvgNodeRenderer.tsx
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
  app/src/core/stage/stageManager/StageHistoryManager.tsx
  app/src/core/stage/stageObject/entity/SvgNode.tsx
  app/src/core/stage/stageObject/entity/UnknownEntity.tsx
Due: eslint --fix

🐛 修复页面被透明div挡住点击失效的问题
  app/src/pages/_app.tsx
Due: eslint --fix

🔧 keybinds.json -> keybinds2.json
  app/src/core/service/controlService/shortcutKeysEngine/KeyBinds.tsx
Due: eslint --fix

💄 mac下显示快捷键简单化
  app/src/components/key-bind.tsx
Due: eslint --fix

📝 补充一些注释
  app/src/core/Project.tsx
Due: eslint --fix

🐛 避免标签页编号重复，添加全局变量nextProjectIdAtom
  app/src/core/Project.tsx
  app/src/state.tsx
Due: eslint --fix

✨ 失去焦点时清空按下的按键
  app/src/core/stage/Canvas.tsx
Due: eslint --fix

🔥 暂时移除博客
  docs/app/[lang]/(home)/layout.tsx
  docs/app/[lang]/blog/[slug]/page.tsx
  docs/app/[lang]/blog/layout.tsx
  docs/app/[lang]/blog/page.tsx
  docs/content/blog/announcing-v2.0.0-alpha.1.mdx
  docs/content/blog/changing-license-to-gpl3-and-mit.mdx
  docs/content/blog/deploy-docs-on-server-in-hong-kong.mdx
  docs/content/blog/start-of-2.0-development.mdx
  docs/source.config.ts
Due: eslint --fix

🚨 修复构建文档报错
  docs/lib/source.ts
Due: eslint --fix

✨ 支持鼠标滚轮水平滚动标签页容器，并隐藏默认滚动条
  app/src/css/index.css
  app/src/pages/_app.tsx
Due: eslint --fix

🐛 修复撤销时可能触发的抽象bug
  app/src/core/stage/stageManager/StageHistoryManager.tsx
Due: eslint --fix

🐛 修复渲染qypgj会缺失下半部分
  app/src/core/render/canvas2d/basicRenderer/textRenderer.tsx
  app/src/utils/font.tsx
Due: eslint --fix

🐛 禁用菜单栏flex元素挤压
  app/src/core/service/GlobalMenu.tsx
Due: eslint --fix

✨ 尝试关闭窗口时弹出是否保存提示
  app/src/pages/_app.tsx
Due: eslint --fix

✨ 支持序列化LineEdge
  app/src/core/service/GlobalMenu.tsx
  app/src/core/stage/stageObject/abstract/Association.tsx
  app/src/core/stage/stageObject/association/Edge.tsx
  app/src/core/stage/stageObject/association/LineEdge.tsx
  docs/content/docs/serializer/index.en.mdx
  docs/content/docs/serializer/index.zh-CN.mdx
Due: eslint --fix

💄 移除弹窗中的x按钮
  app/src/components/ui/dialog.tsx
Due: eslint --fix

✨ (serializer) 添加引用机制
  app/src/core/service/GlobalMenu.tsx
  packages/serializer/package.json
  packages/serializer/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✏️ 修改类型
  packages/serializer/src/index.ts
Due: eslint --fix

👷 支持Linux Arm架构
  .github/workflows/publish.yml
Due: prettier --write

👷 移除armv7
  .github/workflows/publish.yml
Due: prettier --write

👷 Fix
  .github/workflows/publish.yml
Due: prettier --write

👷 Fix ci
  .github/workflows/publish.yml
Due: prettier --write

🐛 修复连线时出错
  app/src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
  app/src/core/stage/stageObject/association/LineEdge.tsx
Due: eslint --fix

🐛 修复HistoryManager的抽象bug
  app/package.json
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/stage/stageManager/StageHistoryManager.tsx
  packages/serializer/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ 使用附件存储svg节点
  app/src/core/render/canvas2d/basicRenderer/svgRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/svgNode/SvgNodeRenderer.tsx
  app/src/core/stage/stageObject/entity/SvgNode.tsx
Due: eslint --fix

🐛 过滤diff中的undefined
  app/src/core/stage/stageManager/StageHistoryManager.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
