Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

✨ 增加紧密堆积布局，区分递归和非递归
  app/src/core/stage/stageManager/basicMethods/GraphMethods.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutEntityManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutToSquareManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutToTightSquareManager.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix

🚑 恢复 json字段中 CR曲线的type字符串类型名称 cubic -> cublic
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/stageObject/association/CubicCatmullRomSplineEdge.tsx
  app/src/types/node.tsx
Due: eslint --fix

📝 补充文档
  docs/content/docs/app/feature/compute-engine.mdx
Due: none

🐛 修复右键连线时，根据轨迹自动调整连线端点位置并移动后造成的连线遮挡实体问题
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
Due: eslint --fix

✨ 修改欢迎页面
  app/src/core/service/LastLaunch.tsx
  app/src/core/service/Settings.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_app.tsx
  app/src/pages/welcome/_layout.tsx
  app/src/pages/welcome/index.tsx
  docs/content/docs/app/meta.json
  docs/content/docs/app/terms.mdx
  turbo.json
Due: eslint --fix, prettier --write

Translated using Weblate (Chinese (Traditional Han script))
  app/src/locales/zh_TW.yml
Due: prettier --write

✨ 增加手动调整树形布局的快捷键
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysGroup.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

💄 优化设置界面，每个设置组默认折叠，并可手动展开
  app/src/components/Field.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysGroup.tsx
Due: eslint --fix

📝 优化设置界面 控制界面 分类问题
  app/src/pages/settings/control.tsx
Due: eslint --fix

🌐 完善设置界面一些组的标题
  app/src/locales/zh_CN.yml
  app/src/pages/settings/control.tsx
  app/src/pages/settings/performance.tsx
  app/src/pages/settings/visual.tsx
Due: eslint --fix, prettier --write

📝 增加图标极其下载链接获取失败的情况
  docs/app/components/Download.tsx
Due: eslint --fix

✨ 根据本地文件夹生成框的套娃图
  app/src-tauri/src/lib.rs
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/dataGenerateService/generateFromFolderEngine/GenerateFromFolderEngine.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutToTightSquareManager.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_app_menu.tsx
  app/src/utils/fs.tsx
Due: eslint --fix, prettier --write

💄 增加方向键移动实体的特效
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSlideEffect.tsx
Due: eslint --fix

✨ 完善矩形水平垂直移动的特效
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSlideEffect.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

✨ 增加四种扩散选择快捷键
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysGroup.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

✨ 增加搜索面板选中全部搜索结果的功能按钮
  app/src/pages/_fixed_panel/_searching_content_panel.tsx
Due: eslint --fix

📝 更新新手引导文件
  app/src/assets/projectGraphTips.json
Due: prettier --write

🏗️ 修复@pg/ui不存在
  turbo.json
Due: prettier --write

✨ 增加文本节点的边框是否显示的功能
  app/src/core/render/canvas2d/entityRenderer/textNode/TextNodeRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/Settings.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/visual.tsx
Due: eslint --fix, prettier --write

🐛 修复一处图标问题
  app/src/pages/settings/visual.tsx
Due: eslint --fix

🐛 尝试修复华为触摸屏的笔记本报错问题
  app/src/core/service/controlService/controller/ControllerClass.tsx
Due: eslint --fix

🐛 修复网页版构建报错
  app/src/pages/_app_menu.tsx
Due: eslint --fix

🐛 修复touchend无坐标的问题
  app/src/core/service/controlService/controller/ControllerClass.tsx
Due: eslint --fix

🐛 修复mac下一些快捷键在中文状态时无法使用的问题
  app/src/core/service/controlService/shortcutKeysEngine/KeyBinds.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🐛 移除mac顶部菜单栏中的没有实际用途的各种按钮
  app/src/main.tsx
Due: eslint --fix

🐛 在使用原生标题栏的设置下，Mac不显示左上角模拟的红绿灯，windows不显示右上角小黄点
  app/src/pages/_app.tsx
Due: eslint --fix

✨ mac增加逆天小功能：按住control键并移动鼠标可以连线
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
Due: eslint --fix

✨ Mac增加逆天小功能：按住control键移动鼠标划出斩断线
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
Due: eslint --fix

🐛 Mac下进入节点的方式从control+双击改为command+双击
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
Due: eslint --fix

🐛 Mac中修改交叉框选、图片缩放、连线嫁接、节点旋转、涂鸦平行直线的操作中使用到的control键改为command键
  app/src/core/service/controlService/controller/concrete/ControllerAssociationReshape.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerImageScale.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
Due: eslint --fix

🐛 修复搜索内容面板按钮溢出问题
  app/src/pages/_fixed_panel/_searching_content_panel.tsx
Due: eslint --fix

✨ 搜索面板新增快速瞭望模式
  app/src/pages/_fixed_panel/_searching_content_panel.tsx
Due: eslint --fix

🧑‍💻 支持组件外的页面跳转
  app/src/main.tsx
  app/src/pages/test.tsx
Due: eslint --fix

✨ 增加秘籍键序列读取与强制清空的插件API
  app/src/core/plugin/apis.tsx
  app/src/core/plugin/types.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
Due: eslint --fix

✨ 增加插件API：TextRiseEffect
  app/src/core/plugin/apis.tsx
  app/src/core/plugin/types.tsx
Due: eslint --fix

🏷️ 修改插件API，getCurrentStageJson，createTextOnLocation，增加connectEntityByTwoUUID
  app/src/core/plugin/UserScriptsManager.tsx
  app/src/core/plugin/apis.tsx
  app/src/core/plugin/types.tsx
Due: eslint --fix

✨ svg节点复制
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSerializedAdder.tsx
Due: eslint --fix

✨ svg节点更改颜色
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectColorManager.tsx
  app/src/core/stage/stageObject/entity/SvgNode.tsx
Due: eslint --fix

📝 增加说明文档
  docs/content/docs/app/index.mdx
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
