Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

✅ 更新测试
  src/__tests__/unit/aiFetcher.test.tsx
  src/__tests__/unit/pathString.test.tsx
  src/__tests__/unit/validUrl.test.tsx
  src/pages/_toolbar.tsx
  src/utils/pathString.tsx
Due: prettier --write, eslint --fix

🐛 修复IP地址类型的URL链接被阻止的情况
  src/__tests__/unit/validUrl.test.tsx
  src/utils/pathString.tsx
Due: prettier --write, eslint --fix

🚸 按下F5弹窗提示重载
  src/main.tsx
Due: prettier --write, eslint --fix

📝 docs
  docs-pg/ProjectGraph开发进程图.json
Due: prettier --write

:construction_worker: fix macos build
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  README.md
  tsconfig.docs.json
Due: prettier --write

feat: 增加了编辑Entity详细信息的快捷键
  src/core/controller/concrete/utilsControl.tsx
  src/locales/en.yml
  src/locales/zh-CN.yml
  src/locales/zh-TW.yml
  src/main.tsx
Due: prettier --write, eslint --fix

🚸 优化重置视野快捷键缩放等级
  docs-pg/ProjectGraph开发进程图.json
  src/core/stage/Camera.tsx
Due: prettier --write, eslint --fix

🚸 提醒草稿中不能粘贴图片
  docs-pg/ProjectGraph开发进程图.json
  src/core/controller/concrete/ControllerCopy.tsx
Due: prettier --write, eslint --fix

🚸 支持x轴和y轴同时对齐
  docs-pg/ProjectGraph开发进程图.json
  src/core/controller/concrete/ControllerNodeMove.tsx
  src/core/effect/concrete/EntityAlignEffect.tsx
Due: prettier --write, eslint --fix

♻️ 更新自动吸附代码结构
  docs-pg/ProjectGraph开发进程图.json
  src/core/controller/concrete/ControllerNodeMove.tsx
  src/core/stage/stageManager/StageManager.tsx
  src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
Due: prettier --write, eslint --fix

🚸 增加预对齐特效
  src/core/controller/concrete/ControllerNodeMove.tsx
  src/core/effect/concrete/EntityAlignEffect.tsx
  src/core/effect/concrete/RectangleRenderEffect.tsx
  src/core/stage/stageManager/StageManager.tsx
  src/core/stage/stageManager/concreteMethods/StageAutoAlignManager.tsx
Due: prettier --write, eslint --fix

✨ section框的标题也可以交互拖动了
  docs-pg/ProjectGraph开发进程图.json
  src/core/stageObject/entity/Section.tsx
Due: prettier --write, eslint --fix

🐛 修复section框计算的bug
  src/core/stage/autoComputeEngine/mainTick.tsx
Due: prettier --write, eslint --fix

🐛 预瞄反馈开关
  src/core/controller/concrete/ControllerNodeMove.tsx
Due: prettier --write, eslint --fix

🚸 完善导出选中部分的svg弹窗提示
  docs-pg/ProjectGraph开发进程图.json
  src/pages/_toolbar.tsx
Due: prettier --write, eslint --fix

🐛 整个舞台导出svg
  src/core/stage/StageSaveManager.tsx
Due: prettier --write, eslint --fix

📝 update doc
  docs-pg/ProjectGraph开发进程图.json
Due: prettier --write

:memo: 文档GithubRelease组件改为SSR
  docs/.vitepress/theme/GithubRelease.vue
Due: none

:bug: 修复文档无法用户用户平台
  docs/.vitepress/theme/GithubRelease.vue
  docs/installation.md
Due: prettier --write

:memo: docs
  docs/installation.md
Due: prettier --write

📝 添加一个设置提示
  docs-pg/ProjectGraph开发进程图.json
  src/locales/zh-CN.yml
Due: prettier --write

增加info界面
  src/locales/zh-CN.yml
  src/pages/_app_menu.tsx
  src/pages/info.tsx
  src/pages/test.tsx
  src/router.ts
Due: prettier --write, eslint --fix

:memo: 修复文档下载链接
  docs/.vitepress/theme/GithubRelease.vue
Due: none

✨ 自定义颜色管理面板
  src/core/ColorManager.tsx
  src/core/RecentFileManager.tsx
  src/core/dataStruct/Color.tsx
  src/main.tsx
  src/pages/_color_manager_panel.tsx
  src/pages/_toolbar.tsx
  src/pages/info.tsx
Due: prettier --write, eslint --fix

🐛 关闭地球仪按钮点击前的保护
  docs-pg/ProjectGraph开发进程图.json
  src/pages/_toolbar.tsx
Due: prettier --write, eslint --fix

📝 doc
  docs-pg/ProjectGraph开发进程图.json
Due: prettier --write

💄 将详细信息改为右侧
  src/core/controller/concrete/utilsControl.tsx
  src/pages/_details_edit_side_panel.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix

🚸 完善点击提示
  src/core/MouseLocation.tsx
  src/core/algorithm/numberFunctions.tsx
  src/core/controller/concrete/ControllerNodeEdit.tsx
  src/core/render/canvas2d/entityRenderer/EntityDetailsButtonRenderer.tsx
  src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  src/core/stageObject/StageObject.tsx
Due: prettier --write, eslint --fix

📝 doc
  src/pages/_details_edit_panel.tsx
  src/pages/index.tsx
Due: prettier --write, eslint --fix

✨ 增加展开和收缩
  src/components/ui/Input.tsx
  src/pages/_details_edit_side_panel.tsx
Due: prettier --write, eslint --fix

🐛 修复多行输入框透明bug
  src/components/ui/Input.tsx
Due: prettier --write, eslint --fix

✨ 自动计算引擎增加边识别
  src/core/stage/autoComputeEngine/logicNodeNameEnum.tsx
  src/core/stage/autoComputeEngine/mainTick.tsx
Due: prettier --write, eslint --fix

🔍 更新宣传图
  src/assets/poster.png
Due: none

:construction_worker: 改进Nightly Build文件格式（0.0.0-nightly.r{run_number}）
  .github/workflows/nightly.yml
Due: prettier --write

✨ 优化快捷键初始化过程
  src/main.tsx
Due: prettier --write, eslint --fix

🐛 修复手机版无法使用
  src/main.tsx
Due: prettier --write, eslint --fix

🧑‍💻 增加单调栈数据结构
  src/__tests__/unit/monoStack.test.tsx
  src/core/dataStruct/MonoStack.tsx
  src/core/dataStruct/Stack.tsx
  src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
  src/pages/_toolbar.tsx
Due: prettier --write, eslint --fix

✨ 支持根据多行文本生成节点时加以连线
  src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yaml,yml})
  eslint --fix: any of: *.{ts,tsx}
