Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

🚀 支持构建AppImage包
  .github/workflows/publish.yml
  app/src-tauri/tauri.conf.json
  package.json
Due: prettier --write

🐛 修复工作流
  .github/workflows/publish.yml
Due: prettier --write

✨ 增加全局高亮的搜索面板
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/render/canvas2d/utilsRenderer/searchContentHighlightRenderer.tsx
  app/src/core/service/dataManageService/contentSearchEngine/contentSearchEngine.tsx
  app/src/pages/_app.tsx
  app/src/pages/_fixed_panel/_searching_content_panel.tsx
Due: eslint --fix

🚸 搜索框出现时自动获取焦点
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/pages/_app.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_fixed_panel/_searching_content_panel.tsx
Due: eslint --fix

📝 更新软件关于界面
  app/src/locales/zh_CN.yml
  app/src/pages/settings/about.tsx
Due: eslint --fix, prettier --write

Translated using Weblate (Chinese (Traditional Han script))
  app/src/locales/zh_TW.yml
Due: prettier --write

📝 更新官网文档
  docs/content/docs/app/community.mdx
Due: none

♻️ 重写自动更新提示
  app/package.json
  app/src/pages/settings/about.tsx
  app/src/pages/settings/about/_introduction.tsx
  app/src/pages/settings/about/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

📝 更新mac faq文档
  docs/content/docs/app/faq/mac.mdx
Due: none

🐛 关于界面按钮更新
  app/src/pages/settings/about/index.tsx
Due: eslint --fix

🐛 修复AppImage无法播放声音
  app/src-tauri/tauri.conf.json
Due: prettier --write

♻️ 优化代码结构
  app/src/core/service/dataManageService/copyEngine/pasteImage.tsx
Due: eslint --fix

✨ 增加图片限制大小的两个性能设置项
  app/src/core/service/Settings.tsx
  app/src/core/service/dataManageService/copyEngine/pasteImage.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/performance.tsx
Due: eslint --fix, prettier --write

✨ 支持构建MacOS的app格式和tar.gz更新包
  .github/workflows/publish.yml
  app/src-tauri/tauri.conf.json
Due: prettier --write

✨ 支持构建rpm
  .github/workflows/publish.yml
Due: prettier --write

🐛 修复macos的app文件的文件名
  .github/workflows/publish.yml
Due: prettier --write

💚 Fix ci
  .github/workflows/publish.yml
Due: prettier --write

📝 重写文档中的下载组件
  docs/app/components/Download.tsx
  docs/app/components/GithubRelease.tsx
  docs/content/docs/app/index.mdx
Due: eslint --fix

📝 移除自动识别平台
  docs/app/components/Download.tsx
Due: eslint --fix

✏️ 修复文件拼写错误
  docs-pg/README_FOR_AI.md
Due: prettier --write

📝 修改社群页面布局
  docs/content/docs/app/community.mdx
  docs/content/docs/app/history.mdx
Due: none

🚸 右键拖拽连线时，根据鼠标轨迹折线段和实体外接矩形的相交位置自动更改生成的连线端点
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
Due: eslint --fix

🐛 修复ctrl+T反转连线时的变形问题
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
Due: eslint --fix

📝 更新mac说明
  docs/content/docs/app/index.mdx
Due: none

📝 更新公告
  docs/content/docs/app/announcement.mdx
Due: none

✨ tab和\键生长节点时，增加更新布局的开关
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/control.tsx
Due: eslint --fix, prettier --write

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

✨ feat: 添加松开按键功能
  app/src/pages/_app_menu.tsx
Due: eslint --fix

👷 添加Windows7支持
  .github/scripts/set-tauri-features.mjs
  .github/scripts/set-version.mjs
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  app/src-tauri/tauri.conf.json
Due: prettier --write

👷 修复ci报错
  .github/workflows/publish.yml
Due: prettier --write

✨ 增加延迟复制逻辑节点 - 增加了新变量step，每当逻辑引擎实际执行一次时，step 就会加一
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/logicNodeNameEnum.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/mainTick.tsx
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
Due: eslint --fix

✨ 增加涂鸦左键点击文本节点上色的功能，并优化涂鸦颜色坂
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: eslint --fix

feat: 增加涂鸦左键点击文本节点可以上色的功能，并优化涂鸦模式的涂料板
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

✨ 按住shift键使用涂鸦点缀文本节点颜色时，实现颜色混合功能
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: eslint --fix

📝 更新文档
  docs/content/docs/app/stage-object/entity/pen-stroke.mdx
Due: none

♻️ 优化代码结构 - 改变StageNodeRotate、StageNodeAdder的开头大小写 - Cublic 改为 Cubic （CR曲线） - 优化 StageDeleteManager 和 deleteEntities函数
  app/src/core/dataStruct/shape/CubicCatmullRomSpline.tsx
  app/src/core/render/canvas2d/entityRenderer/CollisionBoxRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/render/canvas2d/utilsRenderer/WorldRenderUtils.tsx
  app/src/core/service/controlService/controller/ControllerClass.tsx
  app/src/core/service/controlService/controller/concrete/ControllerAssociationReshape.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityCreate.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyGraphEngine.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/dataFileService/fileLoader.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeAdder.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeRotate.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectSelectCounter.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSerializedAdder.tsx
  app/src/core/stage/stageObject/association/CubicCatmullRomSplineEdge.tsx
  app/src/types/node.tsx
Due: eslint --fix

🐛 修复多个延迟线时step递增叠加，修复Ctrl左键单击边时的报错
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/mainTick.tsx
Due: eslint --fix

♻️ 优化紧密布局部分的代码结构
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutToSquareManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutToTightSquareManager.tsx
  app/src/pages/_popup_panel/_align_panel.tsx
Due: eslint --fix
