Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

✨ 增加快捷键：选中多个节点后，shift+G创建无向边
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysGroup.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

Translated using Weblate (Chinese (Traditional Han script))
  app/src/locales/zh_TW.yml
Due: prettier --write

📝 更新新手引导文件，增加无向边的说明
  app/src/assets/projectGraphTips.json
Due: prettier --write

🐛 草稿无内容的情况下，不需要提示保存 fix: #421
  app/src/pages/_app.tsx
Due: eslint --fix

🌐 增加工具栏翻译
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/_toolbar.tsx
Due: eslint --fix, prettier --write

📝 修复README中的安装链接
  app/README.md
Due: prettier --write

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

📝 官网添加重要公告
  docs/content/docs/app/announcement.mdx
Due: none

🚸 xmind式生长树时，自动移动摄像机
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
  app/src/core/stage/Camera.tsx
Due: eslint --fix

💄 优化贝塞尔曲线的样子，防止距离过远时曲度过大
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/SymmetryCurveEdgeRenderer.tsx
  app/src/core/stage/stageObject/association/EdgeCollisionBoxGetter.tsx
Due: eslint --fix

💄 略微平滑涂鸦
  app/src/core/render/canvas2d/basicRenderer/curveRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: eslint --fix

♻️ 抽取FileLoader
  app/src/core/service/controlService/controller/concrete/ControllerNodeEdit.tsx
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/core/service/dataFileService/fileLoader.tsx
  app/src/core/stage/stageManager/StageHistoryManager.tsx
  app/src/main.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
  app/src/pages/_fixed_panel/_start_file_panel.tsx
Due: eslint --fix

🧑‍💻 若为开发模式，则软件窗口标题为DEV
  app/src/pages/_app.tsx
Due: eslint --fix

🚸 移除一开始打开软件时的闪白，对眼睛不好
  app/src/core/service/dataFileService/fileLoader.tsx
Due: eslint --fix

🔥 暂时关闭CLI在windows中的使用通道，直接用软件方式打开json文件容易出错
  app/src/main.tsx
Due: eslint --fix

📝 更新视野移动的文档
  docs/content/docs/app/feature/camera.mdx
Due: none

⚡️ 增加框的缩略标题渲染效果设置项
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/Settings.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/visual.tsx
Due: eslint --fix, prettier --write

✨ 方向键和shift+方向键的切换选中节点快捷键可自定义
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysGroup.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

✨ 最近打开界面按方向键切换，Enter键加载文件
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
Due: eslint --fix

🐛 防止方向键切换时，Canvas层上的内容产生影响
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyGraphEngine.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
Due: eslint --fix

✨ 最近打开面板增加字符串搜索文件功能
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
Due: eslint --fix

📝 官网更新关于mac的说明
  docs/content/docs/app/faq/mac.mdx
Due: none

🐛 mac下修改触发微观尽头的彩蛋弹窗
  app/src/core/stage/Camera.tsx
Due: eslint --fix

🐛 修复在舞台界面按enter键时，最近打开面板被误触导致切换文件的问题
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
Due: eslint --fix

✨ 插件系统增加三个API，读取内容和添加节点
  app/src/core/plugin/apis.tsx
  app/src/core/plugin/types.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/pages/settings/scripts.tsx
Due: eslint --fix

📝 更新文档
  docs/content/docs/app/community.mdx
Due: none

💄 完善最近打开界面
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
Due: eslint --fix

✨ 增加摄像机移动到原点的菜单按钮
  app/src/locales/zh_CN.yml
  app/src/pages/_app_menu.tsx
Due: eslint --fix, prettier --write

🚸 在最近打开面板添加“打开该文件位置”的功能
  app/src/core/stage/Camera.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
  app/src/utils/externalOpen.tsx
Due: eslint --fix

🚸 实验性内容：鼠标前侧键根据选中内容重置视野，后侧键根据全部内容重置视野
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
Due: eslint --fix

🚧 测试svg渲染成功
  app/src/core/render/canvas2d/basicRenderer/svgRenderer.tsx
  app/src/core/render/canvas2d/debugRender.tsx
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix

✨ 增加svg节点
  app/src/components/dialog.tsx
  app/src/core/render/canvas2d/basicRenderer/svgRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/svgNode/SvgNodeRenderer.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/dataFileService/fileLoader.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
  app/src/core/stage/stageObject/entity/SvgNode.tsx
  app/src/types/node.tsx
Due: eslint --fix

🐛 svg节点大小可调整
  app/src/core/render/canvas2d/basicRenderer/svgRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerImageScale.tsx
  app/src/core/stage/stageObject/entity/SvgNode.tsx
Due: eslint --fix

✨ 支持直接从粘贴板识别svg代码并粘贴到舞台时，直接创建svg节点
  app/src/core/service/dataManageService/copyEngine/pastePlainText.tsx
Due: eslint --fix

⚡️ 增加缓存表，优化svg渲染时的性能
  app/src/core/render/canvas2d/basicRenderer/svgRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/svgNode/SvgNodeRenderer.tsx
  app/src/core/stage/stageObject/entity/SvgNode.tsx
Due: eslint --fix

🐛 修复svg无法含有中文字符的问题
  app/src/core/render/canvas2d/basicRenderer/svgRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
Due: eslint --fix

💄 优化一些主题色在准备删除实体时的边框颜色
  app/src/core/render/canvas2d/renderer.tsx
  app/src/themes/macaron.pg-theme
  app/src/themes/morandi.pg-theme
  app/src/themes/park.pg-theme
Due: eslint --fix

💄 防止x轴背景上的刻度文字遮挡toolbar小标题
  app/src/core/render/canvas2d/utilsRenderer/backgroundRenderer.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
