Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

🐛 Fix
  app/scripts/tauri_build.js
Due: none

🚸 搜索功能支持任何实体上的详细信息，Section标题，连线文字，URL节点，面板弹出时输入框自动激活焦点，按下回车自动搜索
  app/src/core/service/dataManageService/contentSearchEngine/contentSearchEngine.tsx
  app/src/pages/_popup_panel/_searching_node_panel.tsx
Due: eslint --fix

📝 优化文档目录
  docs/content/docs/app/entity/index.mdx
  docs/content/docs/app/entity/pen-stroke.mdx
  docs/content/docs/app/feature/secret-code.mdx
  docs/content/docs/app/feature/shortcut-key.mdx
  docs/content/docs/app/meta.json
  docs/content/docs/app/stage-object/association/connectable-association/edge/cr-edge.mdx
  docs/content/docs/app/stage-object/association/connectable-association/edge/index.mdx
  docs/content/docs/app/stage-object/association/connectable-association/edge/line-edge.mdx
  docs/content/docs/app/stage-object/association/connectable-association/index.mdx
  docs/content/docs/app/stage-object/association/connectable-association/nodirection-edge/index.mdx
  docs/content/docs/app/stage-object/association/connectable-association/nodirection-edge/multi-line-edge.mdx
  docs/content/docs/app/stage-object/association/index.mdx
  docs/content/docs/app/stage-object/association/meta-association/index.mdx
  docs/content/docs/app/stage-object/association/meta-association/meta-connectable-association.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/image.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/index.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/link-node.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/node.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/point.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/portal-node.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/section.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/url-node.mdx
  docs/content/docs/app/stage-object/entity/index.mdx
  docs/content/docs/app/stage-object/entity/pen-stroke.mdx
  docs/content/docs/app/stage-object/index.mdx
  pnpm-lock.yaml
Due: prettier --write, pnpm build:docs

✨ 添加文档首页
  docs/app/(home)/page.tsx
  docs/app/components/Logo.tsx
  docs/app/layout.config.tsx
  docs/content/docs/core/index.mdx
  docs/content/docs/core/meta.json
Due: eslint --fix, prettier --write, pnpm build:docs

📝 更新文档
  docs/content/docs/app/meta.json
  docs/content/docs/app/stage-object/association/clone-association.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/portal-node.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/section.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/text-node-link.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/text-node.mdx
  docs/content/docs/app/stage-object/index.mdx
  docs/content/docs/app/stage-object/meta.json
Due: prettier --write, pnpm build:docs

🔧 Add `output: "export"` to docs next config
  docs/next.config.mjs
  docs/tsconfig.json
Due: prettier --write, pnpm build:docs

📝 添加捐赠页面
  docs/content/docs/app/donate.mdx
  docs/content/docs/app/meta.json
  docs/img/donate.png
  docs/next.config.mjs
Due: prettier --write, pnpm build:docs

📝 文档加回FAQ部分
  docs/content/docs/app/faq/index.mdx
  docs/content/docs/app/faq/linux.mdx
  docs/content/docs/app/faq/mac.mdx
  docs/content/docs/app/faq/windows.mdx
  docs/content/docs/app/meta.json
Due: prettier --write, pnpm build:docs

🔨 添加build命令
  package.json
Due: prettier --write

✨ 添加setInterval渲染模式
  app/src/core/service/Settings.tsx
  app/src/index.css
  app/src/locales/zh_CN.yml
  app/src/pages/index.tsx
  app/src/pages/settings/performance.tsx
  app/tsconfig.json
Due: eslint --fix, prettier --write

🙈 修改prettierignore
  .prettierignore
  docs/app/global.css
  docs/postcss.config.mjs
Due: pnpm build:docs

fix: 增加MiSans字体
  app/src/utils/font.tsx
Due: eslint --fix

💫 优化文档首页动画
  docs/app/(home)/page.tsx
Due: eslint --fix, pnpm build:docs

🚸 优化涂鸦在放大视野时的绘制体验，减小折线带来的不流畅感
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: eslint --fix

💄 toolbar的分类显示更有逻辑
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectSelectCounter.tsx
  app/src/core/stage/stageObject/association/Edge.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

💄 工具栏分类组显示小标题
  app/src/pages/_toolbar.tsx
Due: eslint --fix

💄 优化不同主题下toolbar小标题的颜色
  app/src/themes/dark.pg-theme
  app/src/themes/light.pg-theme
  app/src/themes/macaron.pg-theme
  app/src/themes/morandi.pg-theme
Due: none

🚸 生长同级节点和子级节点时，自动继承父文本节点的宽度状态
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
Due: eslint --fix

🚸 涂鸦shift画直线时，十字准星占满屏幕
  app/src/core/render/canvas2d/controllerRenderer/README.md
  app/src/core/render/canvas2d/controllerRenderer/drawingRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
Due: eslint --fix, prettier --write

✨ 迷你窗口的自定义大小模式
  app/src/core/render/canvas2d/controllerRenderer/drawingRenderer.tsx
  app/src/core/service/Settings.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_app.tsx
  app/src/pages/settings/visual.tsx
Due: eslint --fix, prettier --write

🐛 修复背景透明度快捷键出的bug
  app/src/pages/index.tsx
Due: eslint --fix

📝 修改1.5版本名称
  app/src/assets/versions.json
Due: prettier --write

✨ 涂鸦绘制直线时，可用滚轮旋转量角器
  app/src/core/render/canvas2d/controllerRenderer/drawingRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerPenStrokeDrawing.tsx
Due: eslint --fix

🚸 将ttt秘籍键的功能添加到工具栏
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🐛 完善工具栏变动检测情况
  app/src/core/service/controlService/controller/concrete/ControllerEntityCreate.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/selectChangeEngine.tsx
Due: eslint --fix

🐛 fix: #377 当涂鸦和图片叠在一起时，点击涂鸦会点击到图片
  app/src/core/stage/stageManager/StageManager.tsx
Due: eslint --fix

💚 Fix ci
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: prettier --write

🐛 Fix changelog generator
  .github/scripts/generate-changelog.mjs
  .github/scripts/generate-changelog.sh
  .github/workflows/release.yml
Due: prettier --write

💚 Fix ci
  .github/workflows/release.yml
Due: prettier --write

📝 补充插件部分的注释
  app/src/core/plugin/PluginWorker.tsx
  app/src/core/plugin/types.tsx
Due: eslint --fix

🧪 测试极简的插件
  app/src/core/plugin/PluginCodeParseData.tsx
  app/src/core/plugin/README.md
  app/src/pages/settings/plugins.tsx
Due: eslint --fix, prettier --write

📝 Add NodeSupport tip
  app/README.md
Due: prettier --write

fix: 修复cr曲线卡死问题
  app/src/core/dataStruct/shape/CublicCatmullRomSpline.tsx
  docs-pg/CublicCatmullRomSpline.md
Due: eslint --fix, prettier --write

🐛 官网补充贡献代码说明
  CONTRIBUTING.md
  docs/content/docs/contribute/index.mdx
  docs/content/docs/contribute/meta.json
Due: prettier --write, pnpm build:docs

🧪 添加特效名称输出测试
  app/src/core/service/Settings.tsx
  app/src/core/service/feedbackService/effectEngine/effectMachine.tsx
Due: eslint --fix

🐛 fix: #291 修复特效控制按钮无效的问题
  app/src/core/service/feedbackService/effectEngine/concrete/CircleChangeRadiusEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/CircleFlameEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityAlignEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityDashTipEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityJumpMoveEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityShakeEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityShrinkEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ExplodeDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/LineCuttingEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/LineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/NodeMoveShadowEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/PenStrokeDeletedEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/PointDashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/README.md
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleLittleNoteEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleNoteEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectanglePushInEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleRenderEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/RectangleSplitTwoPartEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TechLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRaiseEffectLocated.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/TextRiseEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ViewFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ViewOutlineFlashEffect.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/ZapLineEffect.tsx
  app/src/core/service/feedbackService/effectEngine/effectMachine.tsx
  app/src/core/service/feedbackService/effectEngine/effectObject.tsx
Due: eslint --fix, prettier --write

📝 增加特效的说明
  app/src/locales/zh_CN.yml
Due: prettier --write

Translated using Weblate (Chinese (Simplified Han script))
  app/src/locales/zh_CN.yml
Due: prettier --write

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
  pnpm build:docs: any of: docs/**/*
