Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write"
  ]
}

:rewind: revert change pre-commit
  .husky/pre-commit
Due: none

improve: rust side code
  bun.lockb
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/core/RecentFileManager.tsx
  src/core/stage/StageSaveManager.tsx
  src/main.tsx
  src/pages/_toolbar.tsx
Due: prettier --write, eslint --fix

fix: unused import in release build
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
Due: prettier --write

fix/bun build
  src-tauri/tauri.conf.json
Due: prettier --write

Revert "ci/cargo clippy check"
  .github/workflows/release.yml
Due: prettier --write

:construction_worker: 优化工作流
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  src-tauri/tauri.conf.json
Due: prettier --write

:memo: 修改文档
  docs/faq.md
  docs/installation.md
Due: prettier --write

:memo: 添加文档图标
  docs/.vitepress/config.ts
Due: prettier --write, eslint --fix

:recycle: 将文件相关的命令封装为函数
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src/core/RecentFileManager.tsx
  src/core/SoundService.tsx
  src/core/controller/concrete/ControllerCopy.tsx
  src/core/stage/StageSaveManager.tsx
  src/core/stageObject/entity/ImageNode.tsx
  src/main.tsx
  src/pages/_toolbar.tsx
  src/utils/fs.tsx
Due: prettier --write, eslint --fix

:globe_with_meridians: 修改语言包
  src/locales/zh-CN.yml
  src/pages/settings/control.tsx
Due: prettier --write, eslint --fix

:sparkles: macOS标题栏
  src/pages/_app.tsx
  src/utils/platform.tsx
Due: prettier --write, eslint --fix

🚑 添加roundRect polyfill
  src/main.tsx
  src/pages/_app.tsx
  src/polyfills/roundRect.js
Due: prettier --write, eslint --fix

:memo: 修改文档样式
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.scss
  docs/.vitepress/theme/index.ts
  docs/contributing.md
  docs/index.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

:memo: readme
  README.md
Due: prettier --write

:memo: add all contributors rc
  .all-contributorsrc
  README.md
  docs/contributors.md
Due: prettier --write

:memo: 添加贡献者
  .all-contributorsrc
  docs/contributors.md
Due: prettier --write

🐛 fix: #207 对连接到质点的线执行反转连线方向操作会导致连线消失
  src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
Due: prettier --write, eslint --fix

🐛 fix: #200 按住 Alt 右键拖动节点时未拖动到其他节点而释放发生错误
  src/core/controller/concrete/ControllerEntityLayerMoving.tsx
  src/core/render/canvas2d/renderer.tsx
  src/core/stage/stageManager/StageManager.tsx
Due: prettier --write, eslint --fix

🌐 增加灵感来源
  src/locales/en.yml
  src/locales/zh-CN.yml
  src/locales/zh-TW.yml
Due: prettier --write

:memo: 修改文档样式
  docs/.vitepress/theme/custom.scss
Due: none

:memo: 优化文档
  docs/.vitepress/config.ts
  docs/.vitepress/theme/GithubRelease.vue
  docs/.vitepress/theme/custom.scss
  docs/contributing.md
  docs/features/compute-engine.md
  package.json
  pnpm-lock.yaml
  tsconfig.docs.json
  tsconfig.json
Due: prettier --write, eslint --fix

✨ feat(settings): 添加实体碰撞启用设置功能
  src/core/Settings.tsx
  src/core/render/canvas2d/renderer.tsx
  src/core/stage/stageManager/StageManager.tsx
  src/core/stageObject/StageObject.tsx
  src/core/stageObject/entity/Section.tsx
  src/core/stageObject/entity/TextNode.tsx
  src/main.tsx
  src/pages/settings/performance.tsx
Due: prettier --write, eslint --fix

🌐 📝 更新设置翻译
  src/locales/en.yml
  src/locales/zh-CN.yml
  src/locales/zh-TW.yml
  src/pages/_hint_text.tsx
Due: prettier --write, eslint --fix

✨ 逻辑节点：REPEAT 字符串计算节点
  src/core/stage/Stage.tsx
Due: prettier --write, eslint --fix

✨ 逻辑节点：更改节点颜色
  src/core/stage/Stage.tsx
Due: prettier --write, eslint --fix

🎨 feat(core): 新增自动计算引擎文件夹并重构相关逻辑
  src/core/stage/Stage.tsx
  src/core/stage/autoComputeEngine/AutoComputeUtils.tsx
  src/core/stage/autoComputeEngine/mainTick.tsx
Due: prettier --write, eslint --fix

✨ 新增获取位置、移动位置的逻辑节点
  src/core/stage/autoComputeEngine/AutoComputeUtils.tsx
  src/core/stage/autoComputeEngine/functions/compareLogic.tsx
  src/core/stage/autoComputeEngine/functions/mathLogic.tsx
  src/core/stage/autoComputeEngine/functions/stringLogic.tsx
  src/core/stage/autoComputeEngine/logicNodeNameEnum.tsx
  src/core/stage/autoComputeEngine/mainTick.tsx
Due: prettier --write, eslint --fix

🐛 对齐面板补充了顶对齐和底部对齐
  src/pages/_toolbar.tsx
Due: prettier --write, eslint --fix

🧑‍💻 图片出错时更详细的错误显示
  src-tauri/src/lib.rs
  src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  src/core/stageObject/entity/ImageNode.tsx
  src/utils/fs.tsx
Due: prettier --write, eslint --fix

:recycle: 重构PopupDialog (fix #201)
  src/components/ui/DialogComponent.tsx
  src/components/ui/PopupDialog.tsx
  src/main.tsx
  src/pages/_app.tsx
  src/pages/_toolbar.tsx
  src/utils/dialog.tsx
  src/utils/popup.tsx
  src/utils/popupDialog.tsx
Due: prettier --write, eslint --fix

➕ tauri-clipboard-manager 2.2.0
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src/pages/test.tsx
Due: prettier --write, eslint --fix

🐛 修复图片粘贴后base64编码错误
  src/core/controller/concrete/ControllerCopy.tsx
  src/pages/test.tsx
Due: prettier --write, eslint --fix

✨ 实现拖拽png图片进入舞台
  src/core/controller/concrete/ControllerDragFile.tsx
Due: prettier --write, eslint --fix

✨ ctrl+滚轮缩放图片大小
  src/core/controller/Controller.tsx
  src/core/controller/concrete/ControllerImageScale.tsx
  src/core/dataStruct/Color.tsx
  src/core/render/canvas2d/ImageRenderer.tsx
  src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
  src/core/render/canvas2d/renderer.tsx
  src/core/stage/StageDumper.tsx
  src/core/stage/StageLoader.tsx
  src/core/stage/stageManager/StageManager.tsx
  src/core/stageObject/entity/ImageNode.tsx
  src/pages/_toolbar.tsx
  src/types/node.tsx
Due: prettier --write, eslint --fix

🎨 refactor(render): 合并图片出错的渲染情况代码
  src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
Due: prettier --write, eslint --fix

✨ feat(settings): 添加允许添加自环的开关设置选项
  src/core/Settings.tsx
  src/core/stage/stageManager/StageManager.tsx
  src/locales/en.yml
  src/locales/zh-CN.yml
  src/locales/zh-TW.yml
  src/pages/settings/control.tsx
Due: prettier --write, eslint --fix

✨ 支持delete键删除选中的edge
  src/core/controller/Controller.tsx
Due: prettier --write, eslint --fix

✨ 增加多种背景样式
  src/core/Settings.tsx
  src/core/render/canvas2d/backgroundRenderer.tsx
  src/core/render/canvas2d/renderer.tsx
  src/pages/settings/visual.tsx
Due: prettier --write, eslint --fix

🌐 完善翻译
  src/locales/en.yml
  src/locales/zh-CN.yml
  src/locales/zh-TW.yml
Due: prettier --write
