Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.{json,md,yaml,yml}": ["prettier --write"]
}

📝 更新文档
  docs/content/docs/app/stage-object/association/connectable-association/edge/cr-edge.mdx
  docs/content/docs/app/stage-object/entity/connectable-entity/svg-node.mdx
  docs/content/docs/contribute/index.mdx
Due: none

🐛 通过tab和反斜杠生长的节点若父节点在框中，新生成的节点也自动纳入到框中
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
Due: eslint --fix

🐛 修复tab和反斜杠生成树结构时，空隙部分越来越大的bug
  app/src/core/service/controlService/autoLayoutEngine/autoLayoutFastTreeMode.tsx
Due: eslint --fix

🚸 alt+方向键在实体周围创建节点时，空隙距离更加紧凑
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
Due: eslint --fix

🚸 mac用户在初次安装软件时，删除的快捷键默认改为backspace而不是delete
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
Due: eslint --fix

🚸 优化mac在command+v粘贴内容进来时，左下角显示meta v持续按下的情况
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
Due: eslint --fix

📝 try to fix README logo
  app/README.md
Due: prettier --write

📝 update README.md
  app/README.md
Due: prettier --write

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

Translated using Weblate (Chinese (Traditional Han script))
  app/src/locales/zh_TW.yml
Due: prettier --write

🚧 添加直线连线被斩断的特效
  app/src/core/service/feedbackService/effectEngine/concrete/EdgeCutEffect.tsx
Due: eslint --fix

💄 优化连线被砍断时的效果
  app/src/core/render/canvas2d/entityRenderer/edge/concrete/StraightEdgeRenderer.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EdgeCutEffect.tsx
Due: eslint --fix

✨ 拇指滚轮增加调整窗口透明度操作
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

✨ 拇指滚轮支持调整涂鸦笔触粗细
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

✨ 备份文件可以限制文件数量
  app/src-tauri/src/lib.rs
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/dataFileService/StageSaveManager.tsx
  app/src/core/service/dataFileService/autoSaveBackupEngine/autoBackupEngine.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/settings/automation.tsx
  app/src/utils/fs.tsx
Due: eslint --fix, prettier --write

♻️ 优化代码
  app/src/core/service/dataFileService/fileLoader.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/types/node.tsx
Due: eslint --fix

👽️ 接入新版 AI 扩展节点 API
  app/src/core/service/FeatureFlags.tsx
  app/src/core/stage/stageManager/concreteMethods/StageGeneratorAI.tsx
Due: eslint --fix

💄 修改文档样式
  docs/app/global.css
Due: none

👷 修改工作流
  .github/scripts/generate-pkgbuild.mjs
  .github/workflows/nightly.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

✨ 完善账号功能
  app/src/core/service/UserState.tsx
  app/src/main.tsx
  app/src/pages/user/login.tsx
  app/src/pages/user/register.tsx
Due: eslint --fix

📝 更新崩溃公告
  app/src/core/stage/stageManager/concreteMethods/StageGeneratorAI.tsx
  docs/content/docs/app/announcement.mdx
Due: eslint --fix

🚑 紧急修复自动备份导致崩溃问题
  app/src-tauri/src/lib.rs
  app/src/pages/_app_menu.tsx
  app/src/utils/fs.tsx
Due: eslint --fix

🚑 给草稿文件增加自动备份路径
  app/src/core/service/Settings.tsx
  app/src/core/service/dataFileService/StageSaveManager.tsx
  app/src/core/service/dataFileService/autoSaveBackupEngine/autoBackupEngine.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_app_menu.tsx
Due: eslint --fix, prettier --write

🚸 增加草稿无法自动保存的标题提醒
  app/src/locales/zh_CN.yml
  app/src/pages/_app.tsx
Due: eslint --fix, prettier --write

🚸 优化最近打开的输入体验
  app/src/components/Input.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
Due: eslint --fix

🐛 防止打开一个损坏的json文件就清空舞台
  app/src/core/service/dataFileService/fileLoader.tsx
Due: eslint --fix

✨ 增加一键清理全部历史文件列表的按钮
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
Due: eslint --fix

📝 添加README for AI
  docs-pg/REDME_FOR_AI.md
Due: prettier --write

🧑‍💻 rust中增加read_folder_recursive函数
  app/src-tauri/src/lib.rs
  docs-pg/REDME_FOR_AI.md
Due: prettier --write

✨ 最近打开面板增加“从文件夹导入多个文件进入列表”的功能
  app/src-tauri/src/lib.rs
  app/src/core/service/dataFileService/RecentFileManager.tsx
  app/src/pages/_fixed_panel/_recent_files_panel.tsx
  app/src/utils/fs.tsx
Due: eslint --fix

📝 更新docs-pg文档
  docs-pg/Project Graph v2.json
  docs-pg/ProjectGraph决策日志.json
  docs-pg/ProjectGraph开发进程图.json
  docs-pg/ProjectGraph继承体系.json
  docs-pg/ProjectGraph项目架构.json
  docs-pg/issue分类.json
Due: prettier --write

📝 更新新手引导文件
  app/src/assets/projectGraphTips.json
  docs/content/docs/contribute/index.mdx
Due: prettier --write

🚑️ 修复AUR包名错误
  .github/scripts/generate-pkgbuild.mjs
Due: none

🚧 简单增加mermaid粘贴功能
  app/src/core/service/dataManageService/copyEngine/pastePlainText.tsx
Due: eslint --fix

🐛 逻辑节点输出参数为一但实际连接子节点个数大于一时报错 fix #369
  app/src/core/service/dataGenerateService/autoComputeEngine/AutoComputeUtils.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/mainTick.tsx
Due: eslint --fix

🚸 减小体积
  docs/content/docs/app/feature/compute-engine.mdx
Due: none

🐛 选中文字点到窗口外就会看不见，点一下窗口就又看见了
  app/src/core/stage/stageObject/entity/Section.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
  app/src/core/stage/stageObject/entity/UrlNode.tsx
Due: eslint --fix

🐛 修复自动更新
  app/src-tauri/tauri.conf.json
Due: prettier --write

🔥 移除updateChannel设置项
  app/src/core/service/Settings.tsx
  app/src/locales/en.yml
  app/src/locales/zh_CN.yml
  app/src/locales/zh_TW.yml
  app/src/pages/settings/about.tsx
Due: eslint --fix, prettier --write
