Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, pnpm build:docs

🐛 fix: #328 框选较复杂的section时内部某些节点被意外选中
  app/src/core/service/controlService/controller/concrete/ControllerRectangleSelect.tsx
  app/src/core/stage/stageManager/basicMethods/SectionMethods.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
Due: eslint --fix

🐛 修复工具面板弹窗边缘遮盖问题
  app/src/components/popup.tsx
  app/src/pages/_popup_panel/_color_panel.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🥚 增加一个彩蛋界面
  app/src/core/service/controlService/secretEngine/secretEngine.tsx
  app/src/index.css
  app/src/locales/zh_CN.yml
  app/src/pages/info.tsx
  app/src/pages/settings/about.tsx
Due: eslint --fix, prettier --write

💄 优化关于界面的更新检测提示
  app/src/locales/zh_CN.yml
  app/src/pages/settings/about.tsx
Due: eslint --fix, prettier --write

🐛 解决bug：意外的斩断线删除节点的操作 fix: #253
  app/src/core/dataStruct/shape/Line.tsx
  app/src/core/dataStruct/shape/Rectangle.tsx
Due: eslint --fix

🐛 修复误触发的斩断线bug fix: #253
  app/src/core/dataStruct/shape/Line.tsx
Due: eslint --fix

🚸 更改一开始的默认设置，开启坐标轴显示
  app/src/core/service/Settings.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

🚸 草稿状态下禁止拖入图片并提示
  app/src/components/dialog.tsx
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
Due: eslint --fix

🚸 增加无限缩放的提示
  app/src/core/stage/Camera.tsx
Due: eslint --fix

🚸 增加演示模式提示
  app/src/pages/_app_menu.tsx
Due: eslint --fix

🚸 增加Dialog弹窗后背景能拖动窗口的cursor反馈
  app/src/components/dialog.tsx
Due: eslint --fix

🚸 完善提示
  app/src/core/render/canvas2d/renderer.tsx
  app/src/locales/zh_CN.yml
Due: eslint --fix, prettier --write

✨ 增加演示模式开启/关闭的快捷键
  app/src/core/service/Settings.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/locales/zh_CN.yml
  app/src/main.tsx
  app/src/pages/_app.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/settings/visual.tsx
Due: eslint --fix, prettier --write

🚸 section内选择节点后用快捷键在上下左右新建的节点自动包含在section中
  app/src/core/stage/stageManager/concreteMethods/stageNodeAdder.tsx
Due: eslint --fix

🐛 fix: #338 直接在舞台上ctrl+v触发创建文本节点时，当鼠标位置在section中时，应该创建在section中
  app/src/core/service/dataManageService/copyEngine/copyEngine.tsx
Due: eslint --fix

🚸 增加没有网络时的检查自动更新失败提示
  app/src/locales/zh_CN.yml
  app/src/pages/settings/about.tsx
Due: eslint --fix, prettier --write

🐛 关于界面：检查新版本失败时的提示
  app/src/locales/zh_CN.yml
  app/src/pages/settings/about.tsx
Due: eslint --fix, prettier --write

🚸 增加软件内更新防止重复点击按钮
  app/src/pages/settings/about.tsx
Due: eslint --fix

🐛 fix: #334 软件更新的初始进度读值显示NaN
  app/src/locales/zh_CN.yml
  app/src/pages/settings/about.tsx
Due: eslint --fix, prettier --write

🚸 测试增加按钮音效
  app/src/components/Button.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/feedbackService/SoundService.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_app.tsx
  app/src/pages/settings/sounds.tsx
Due: eslint --fix, prettier --write

Translated using Weblate (English)
  app/src/locales/en.yml
Due: prettier --write

Translated using Weblate (Chinese (Traditional Han script))
  app/src/locales/zh_TW.yml
Due: prettier --write

💄 改进颜色
  .prettierignore
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  app/src/core/render/canvas2d/entityRenderer/section/SectionRenderer.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityDashTipEffect.tsx
  app/src/core/service/feedbackService/stageStyle/stageStyle.tsx
  app/src/index.css
Due: eslint --fix

🔊 添加声音
  app/src/components/NavLinkButton.tsx
  app/src/locales/en.yml
  app/src/locales/zh_TW.yml
  app/src/pages/settings/_layout.tsx
Due: eslint --fix, prettier --write

🔊 增加声音
  app/src/components/Switch.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/feedbackService/SoundService.tsx
  app/src/locales/zh_CN.yml
  app/src/pages/_app.tsx
  app/src/pages/settings/sounds.tsx
Due: eslint --fix, prettier --write

🐛 修复连接到目标上的声音过于频繁的bug
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
Due: eslint --fix

🐛 fix: #253 修复意外的删除操作
  app/src/core/dataStruct/shape/Line.tsx
Due: eslint --fix

🐛 解决非文本节点作为根节点时无法刚性移动的问题
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/basicMethods/GraphMethods.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/main.tsx
Due: eslint --fix

🐛 除了文本节点以外的任何类型的实体都可以通过ctrl＋方向键 的快捷键进行移动了
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/main.tsx
Due: eslint --fix

📝 修改说明
  app/src/locales/zh_CN.yml
Due: prettier --write

✨ 将触摸板适配为移动画布
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/src/core/stage/Camera.tsx
Due: eslint --fix

✨ 增加大小写敏感的搜索方法
  app/src/core/service/dataManageService/contentSearchEngine/contentSearchEngine.tsx
  app/src/main.tsx
  app/src/pages/_popup_panel/_searching_node_panel.tsx
  app/src/pages/index.tsx
Due: eslint --fix

🌐 补充翻译
  app/src/locales/zh_CN.yml
Due: prettier --write

🐛 解决文件名过长时标题栏文字溢出问题
  app/src/pages/_app.tsx
Due: eslint --fix

🐛 修复最近打开面板文件名称过长的bug
  app/src/pages/_fixed_panel/_start_file_panel.tsx
Due: eslint --fix

🚸 完善搜索节点面板
  app/src/components/popup.tsx
  app/src/main.tsx
  app/src/pages/_app_menu.tsx
  app/src/pages/_popup_panel/_color_panel.tsx
  app/src/pages/_popup_panel/_searching_node_panel.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🐛 去除窗口角落的白边
  app/src/pages/_app.tsx
Due: eslint --fix

🐛 优化urlNode节点的显示长度
  app/src/core/render/canvas2d/entityRenderer/urlNode/urlNodeRenderer.tsx
Due: eslint --fix

✨ 增加xmind导入功能
  app/src/core/service/dataGenerateService/dataTransferEngine/dataTransferEngine.tsx
  app/src/pages/_popup_panel/_generate_node_panel.tsx
Due: eslint --fix

🐛 优化检测区分鼠标滚轮和触摸板的逻辑
  app/src/core/algorithm/arrayFunctions.tsx
  app/src/core/dataStruct/LimitLengthQueue.tsx
  app/src/core/dataStruct/Queue.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCamera.tsx
  app/tests/limitLengthQueue.test.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
  pnpm build:docs: any of: docs/**/*
