Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: 添加CR曲线类
  src/core/dataStruct/shape/CublicCatmullRomSpline.tsx
  src/core/stageObject/association/BsplinesEdge.tsx
Due: prettier --write, eslint --fix

feat: 添加自动布局
  src/core/stage/autoLayoutEngine/autoLayoutFastTreeMode.tsx
Due: prettier --write, eslint --fix

📝 doc
  docs-pg/ProjectGraph开发进程图.json
Due: prettier --write

✨ 增加markdown渲染
  package.json
  pnpm-lock.yaml
  src/pages/_details_edit_side_panel.tsx
  src/pages/test.tsx
Due: prettier --write, eslint --fix

💄 圆角和padding
  src/pages/_details_edit_side_panel.tsx
Due: prettier --write, eslint --fix

🐛 修复滚动
  src/pages/_details_edit_side_panel.tsx
Due: prettier --write, eslint --fix

📝 完善注释
  src/core/stage/autoLayoutEngine/autoLayoutFastTreeMode.tsx
  src/core/stageObject/StageObject.tsx
  src/core/stageObject/entity/Section.tsx
  src/core/stageObject/entity/TextNode.tsx
  src/core/stageObject/entity/UrlNode.tsx
Due: prettier --write, eslint --fix

🐛 增加草稿丢弃直接新开的选项
  src/pages/_app_menu.tsx
Due: prettier --write, eslint --fix

🚸 优化导出面板的说明
  src/pages/_export_text_panel.tsx
Due: prettier --write, eslint --fix

🧑‍💻 增加获取最小非折叠父级section的api
  src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  src/core/stage/stageManager/StageManager.tsx
Due: prettier --write, eslint --fix

♻️ 移动获取节点最小非折叠父级的函数位置
  src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  src/core/stage/stageManager/StageManager.tsx
Due: prettier --write, eslint --fix

♻️ getEdgeView
  src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
Due: prettier --write, eslint --fix

➕ 使用Vditor来编辑详细信息
  package.json
  pnpm-lock.yaml
  src/pages/_details_edit_side_panel.tsx
  src/pages/_vditor_panel.tsx
  src/pages/test.tsx
Due: prettier --write, eslint --fix

🧪 排除keydown绑定事件导致的问题
  src/pages/_vditor_panel.tsx
  src/pages/test.tsx
Due: prettier --write, eslint --fix

:bug: 修复MacOS的CLI插件问题 (fix #238)
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: prettier --write

♻️ 优化逻辑节点的结构
  src/core/stage/autoComputeEngine/AutoComputeUtils.tsx
  src/core/stage/autoComputeEngine/functions/nodeLogic.tsx
  src/core/stage/autoComputeEngine/logicNodeNameEnum.tsx
  src/core/stage/autoComputeEngine/mainTick.tsx
Due: prettier --write, eslint --fix

:bug: 添加 requestAnimationFrame polyfill (fix #185)
  src/main.tsx
  src/polyfills/requestAnimationFrame.js
Due: prettier --write, eslint --fix

✨ 极简化的Edge自动计算
  src/core/stage/autoComputeEngine/mainTick.tsx
Due: prettier --write, eslint --fix

✨ 增加播放音效的逻辑节点
  src/core/SoundService.tsx
  src/core/stage/autoComputeEngine/functions/nodeLogic.tsx
  src/core/stage/autoComputeEngine/logicNodeNameEnum.tsx
  src/core/stage/autoComputeEngine/mainTick.tsx
Due: prettier --write, eslint --fix

📝 更新官网文档
  docs/features/compute-engine.md
  docs/features/url-node.md
Due: prettier --write

📝 完善文档
  docs/features/compute-engine.md
Due: prettier --write

:sparkles: 命令行导出 SVG 格式
  docs-pg/ProjectGraph开发进程图.json
  docs/.vitepress/config.ts
  docs/features/cli.md
  index.html
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/cli.tsx
  src/main.tsx
  src/utils/commands.tsx
Due: prettier --write, eslint --fix

:construction_worker: 添加自动渲染 SVG 工作流
  .github/workflows/render-docs-svg.yml
Due: prettier --write

:rotating_light: 修复构建错误
  .github/workflows/release.yml
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
Due: prettier --write

:bug: 修复CLI不退出
  src/main.tsx
  src/utils/commands.tsx
Due: prettier --write, eslint --fix

:green_heart: fix ci
  .github/workflows/render-docs-svg.yml
Due: prettier --write

📝 更新开发进程图
  docs-pg/ProjectGraph开发进程图.json
Due: prettier --write

feat: 完善CR曲线
  docs-pg/CublicCatmullRomSpline.md
  src/core/algorithm/random.tsx
  src/core/dataStruct/shape/CublicCatmullRomSpline.tsx
  src/core/render/canvas2d/WorldRenderUtils.tsx
  src/core/render/canvas2d/renderer.tsx
Due: prettier --write, eslint --fix

:sparkles: 支持网页版
  src/cli.tsx
  src/components/ui/FileChooser.tsx
  src/core/ColorManager.tsx
  src/core/KeyBinds.tsx
  src/core/LastLaunch.tsx
  src/core/RecentFileManager.tsx
  src/core/Settings.tsx
  src/core/StartFilesManager.tsx
  src/core/ai/PromptManager.tsx
  src/main.tsx
  src/pages/_app.tsx
  src/pages/_app_menu.tsx
  src/pages/settings/about.tsx
  src/polyfills/requestAnimationFrame.js
  src/utils/commands.tsx
  src/utils/fs.tsx
  src/utils/otherApi.tsx
  src/utils/pathString.tsx
  src/utils/platform.tsx
  src/utils/store.tsx
Due: prettier --write, eslint --fix

:bug: 生产环境禁用devtools
  src-tauri/Cargo.toml
Due: none

:memo: 添加在线使用入口
  docs/index.md
Due: prettier --write

🐛 修复质点颜色在白色主题下的支持
  src/core/render/canvas2d/entityRenderer/EntityRenderer.tsx
Due: prettier --write, eslint --fix

🐛 完善白色主题的一些颜色问题
  src/core/effect/concrete/TextRiseEffect.tsx
  src/core/effect/concrete/ViewFlashEffect.tsx
  src/core/render/canvas2d/WorldRenderUtils.tsx
  src/core/stageStyle/stageStyle.tsx
Due: prettier --write, eslint --fix

🐛 修复增加网页版后导致的pc版本报错：getVersion函数
  src/core/LastLaunch.tsx
  src/pages/settings/about.tsx
  src/utils/otherApi.tsx
  src/utils/platform.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yaml,yml})
  eslint --fix: any of: *.{ts,tsx}
