Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

🐛 修复无法缩放画布
  app/src/core/Project.tsx
  app/src/core/loadAllServices.tsx
  app/src/core/service/controlService/controller/Controller.tsx
  app/src/core/service/controlService/controller/ControllerClass.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityCreate.tsx
  app/src/core/stage/stageManager/basicMethods/SectionMethods.tsx
Due: eslint --fix

🐛 修复创建节点
  app/src/core/render/canvas2d/entityRenderer/edge/EdgeRenderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityLayerMoving.tsx
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyTreeEngine.tsx
  app/src/core/service/controlService/rectangleSelectEngine/rectangleSelectEngine.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/AutoComputeUtils.tsx
  app/src/core/service/dataGenerateService/autoComputeEngine/functions/nodeLogic.tsx
  app/src/core/service/dataGenerateService/generateFromFolderEngine/GenerateFromFolderEngine.tsx
  app/src/core/service/dataGenerateService/stageExportEngine/StageExportSvg.tsx
  app/src/core/service/dataManageService/ComplexityDetector.tsx
  app/src/core/service/dataManageService/copyEngine/pasteImage.tsx
  app/src/core/service/dataManageService/copyEngine/pastePlainText.tsx
  app/src/core/stage/StageDumper.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeAdder.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSerializedAdder.tsx
  app/src/core/stage/stageManager/concreteMethods/StageTagManager.tsx
  app/src/core/stage/stageObject/abstract/StageEntity.tsx
  app/src/core/stage/stageObject/abstract/StageObject.tsx
  app/src/core/stage/stageObject/association/CubicCatmullRomSplineEdge.tsx
  app/src/core/stage/stageObject/association/LineEdge.tsx
  app/src/core/stage/stageObject/association/MutiTargetUndirectedEdge.tsx
  app/src/core/stage/stageObject/entity/ConnectPoint.tsx
  app/src/core/stage/stageObject/entity/ImageNode.tsx
  app/src/core/stage/stageObject/entity/PenStroke.tsx
  app/src/core/stage/stageObject/entity/PortalNode.tsx
  app/src/core/stage/stageObject/entity/Section.tsx
  app/src/core/stage/stageObject/entity/SvgNode.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
  app/src/core/stage/stageObject/entity/UrlNode.tsx
  app/src/pages/_canvas.tsx
  app/src/pages/_sub_window/LogicNodeWindow.tsx
Due: eslint --fix

💚 移除AUR pkgver中的连字符
  .github/scripts/generate-pkgbuild.mjs
Due: none

🐛 修复mac上CPU占满
  app/src/pages/_app.tsx
Due: eslint --fix

🐛 Fix macos lag
  app/src/pages/_app.tsx
Due: eslint --fix

📝 更新文档
  config.xlings
  docs/content/docs/contribute/env.mdx
Due: none

🐛 修复窗口拖拽问题
  .fitten/rules/project_background.md
  app/src/pages/_app.tsx
Due: eslint --fix, prettier --write

🐛 增加hover
  app/src/pages/_app.tsx
Due: eslint --fix

🐛 修复aur
  .github/scripts/generate-pkgbuild.mjs
  .prettierignore
  app/src-tauri/Cargo.toml
  app/src-tauri/capabilities/default.json
  app/src-tauri/tauri.conf.json
  app/src/core/Project.tsx
  app/src/core/service/GlobalMenu.tsx
Due: eslint --fix, prettier --write

✏️ 移除cursor类前的hover:
  app/src/pages/_app.tsx
Due: eslint --fix

🎉 创建vite-plugin-pg-theme，用于自动生成tailwind主题代码
  app/package.json
  app/src/index.css
  app/src/theme.pcss
  app/vite.config.ts
  packages/vite-plugin-pg-theme/.gitignore
  packages/vite-plugin-pg-theme/package.json
  packages/vite-plugin-pg-theme/src/index.ts
  packages/vite-plugin-pg-theme/src/theme.ts
  packages/vite-plugin-pg-theme/src/vite-env.d.ts
  packages/vite-plugin-pg-theme/src/yaml.ts
  packages/vite-plugin-pg-theme/tsconfig.json
  packages/vite-plugin-pg-theme/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

💄 UI组件适配新版主题
  TODO.md
  app/src/components/Box.tsx
  app/src/components/Button.tsx
  app/src/components/Input.tsx
  app/src/components/NavLinkButton.tsx
  app/src/components/Popin.tsx
  app/src/components/Select.tsx
  app/src/components/Slider.tsx
  app/src/components/Switch.tsx
  app/src/components/panel.tsx
  app/src/theme.pcss
  packages/vite-plugin-pg-theme/src/theme.ts
Due: eslint --fix, prettier --write

🧑‍💻 添加Tauri Devtools
  app/src-tauri/Cargo.lock
  app/src-tauri/Cargo.toml
  app/src-tauri/src/lib.rs
Due: none

💄 将Dialog改为新版主题
  app/src/components/dialog.tsx
  app/src/themes/dark.pg-theme
Due: eslint --fix

✨ 添加AI对话功能
  app/package.json
  app/src-tauri/capabilities/default.json
  app/src/components/Button.tsx
  app/src/components/Field.tsx
  app/src/components/IconButton.tsx
  app/src/components/Input.tsx
  app/src/components/Markdown.tsx
  app/src/core/Project.tsx
  app/src/core/loadAllServices.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/Settings.tsx
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/css/index.css
  app/src/css/markdown.css
  app/src/css/theme.pcss
  app/src/locales/zh_CN.yml
  app/src/main.tsx
  app/src/pages/_app.tsx
  app/src/pages/_sub_window/AIWindow.tsx
  app/src/pages/_sub_window/MenuWindow.tsx
  app/src/pages/_sub_window/SettingsWindow/ai.tsx
  app/src/pages/_sub_window/SettingsWindow/index.tsx
  app/src/state.tsx
  app/src/theme.pcss
  app/src/themes/dark.pg-theme
  app/vite.config.ts
  packages/vite-plugin-pg-theme/src/index.ts
  packages/vite-plugin-pg-theme/src/theme.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ 添加AI工具调用框架
  app/src/core/service/dataManageService/aiEngine/AIEngine.tsx
  app/src/core/service/dataManageService/aiEngine/AITools.tsx
  app/src/pages/_sub_window/AIWindow.tsx
Due: eslint --fix

🐛 修复删除实体后红框不会消失
  app/src/core/Project.tsx
  app/src/core/loadAllServices.tsx
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerAssociationReshape.tsx
  app/src/core/service/controlService/controller/concrete/ControllerCutting.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/controller/concrete/utilsControl.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/controlService/shortcutKeysEngine/shortcutKeysRegister.tsx
  app/src/core/stage/stageManager/StageHistoryManager.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageDeleteManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeAdder.tsx
  app/src/core/stage/stageManager/concreteMethods/StageNodeConnector.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectColorManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSectionPackManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageSerializedAdder.tsx
  app/src/core/stage/stageManager/concreteMethods/StageTagManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutEntityManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutManualAlignManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutToSquareManager.tsx
  app/src/core/stage/stageManager/concreteMethods/layoutManager/layoutToTightSquareManager.tsx
  app/src/core/stage/stageObject/entity/ConnectPoint.tsx
  app/src/pages/_sub_window/AIWindow.tsx
  app/src/pages/_toolbar.tsx
Due: eslint --fix

🐛 修复键盘事件不触发
  app/src/core/service/controlService/controller/concrete/ControllerNodeConnection.tsx
  app/src/core/stage/Canvas.tsx
Due: eslint --fix

🐛 修复全局快捷键
  app/package.json
  app/src/components/KeyBind.tsx
  app/src/core/dataStruct/Vector.tsx
  app/src/core/serialize.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/controlService/shortcutKeysEngine/KeyBinds.tsx
  app/src/core/stage/stageObject/abstract/ConnectableEntity.tsx
  app/src/core/stage/stageObject/association/CubicCatmullRomSplineEdge.tsx
  app/src/core/stage/stageObject/collisionBox/collisionBox.tsx
  app/src/core/stage/stageObject/entity/ConnectPoint.tsx
  app/src/core/stage/stageObject/entity/ImageNode.tsx
  app/src/core/stage/stageObject/entity/PenStroke.tsx
  app/src/core/stage/stageObject/entity/PortalNode.tsx
  app/src/core/stage/stageObject/entity/Section.tsx
  app/src/core/stage/stageObject/entity/SvgNode.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
  app/src/core/stage/stageObject/entity/UrlNode.tsx
  app/src/pages/_sub_window/SettingsWindow/keybinds.tsx
  app/src/utils/emacs.tsx
  app/tsconfig.json
  docs/content/docs/app/v2-changelog.mdx
  docs/content/docs/contribute/docs-style-guide.mdx
  docs/content/docs/contribute/meta.json
  docs/content/docs/core/Service.mdx
  docs/content/docs/core/project/file-format.mdx
  docs/content/docs/core/project/index.mdx
  docs/content/docs/core/service.mdx
  docs/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

🐛 🚧 修复特效
  app/src/core/render/canvas2d/entityRenderer/CollisionBoxRenderer.tsx
  app/src/core/service/feedbackService/effectEngine/concrete/EntityCreateFlashEffect.tsx
  app/src/core/service/feedbackService/stageStyle/stageStyle.tsx
  app/src/core/stage/stageObject/association/MutiTargetUndirectedEdge.tsx
  app/src/core/stage/stageObject/collisionBox/collisionBox.tsx
  app/src/core/stage/stageObject/entity/PenStroke.tsx
  app/src/core/stage/stageObject/entity/Section.tsx
Due: eslint --fix

⚡️ 将vite插件改为使用tsdown构建
  packages/vite-plugin-pg-theme/package.json
  packages/vite-plugin-pg-theme/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ 添加vite-plugin-original-class-name
  .github/workflows/publish.yml
  app/package.json
  packages/vite-plugin-original-class-name/.gitignore
  packages/vite-plugin-original-class-name/.npmignore
  packages/vite-plugin-original-class-name/package.json
  packages/vite-plugin-original-class-name/src/index.ts
  packages/vite-plugin-original-class-name/src/vite-env.d.ts
  packages/vite-plugin-original-class-name/tsconfig.json
  packages/vite-plugin-pg-theme/.npmignore
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

✨ 完善vite-plugin-original-class-name的功能
  app/src/vite-env.d.ts
  app/vite.config.ts
  packages/vite-plugin-original-class-name/README.md
  packages/vite-plugin-original-class-name/package.json
  packages/vite-plugin-original-class-name/src/client.d.ts
  packages/vite-plugin-original-class-name/src/index.ts
  packages/vite-plugin-original-class-name/tsdown.config.ts
  packages/vite-plugin-pg-theme/src/index.ts
Due: eslint --fix, prettier --write

📝 添加两个vite插件的文档
  docs/content/docs/app/donate.mdx
  docs/content/docs/vite-plugin-original-class-name/index.mdx
  docs/content/docs/vite-plugin-original-class-name/meta.json
  docs/content/docs/vite-plugin-pg-theme/index.mdx
  docs/content/docs/vite-plugin-pg-theme/meta.json
Due: prettier --write

✨ 反序列化
  app/package.json
  app/src/core/Serializer.tsx
  app/src/core/dataStruct/Color.tsx
  app/src/core/dataStruct/Vector.tsx
  app/src/core/serialize.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/stage/stageObject/collisionBox/collisionBox.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
  app/tests/deco.test.tsx
  app/tests/limitLengthQueue.test.tsx
  app/tests/lruCache.test.tsx
  app/tests/mod.test.tsx
  app/tests/monoStack.test.tsx
  app/tests/parseMarkdownToJSON.test.tsx
  app/tests/plugin.test.tsx
  app/tests/relativePathToAbsolute.test.tsx
  app/tests/validUrl.test.tsx
  app/tests/vector.test.tsx
  app/tests/vitest.test.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

💄 修改AI窗口布局
  app/src/components/Switch.tsx
  app/src/core/service/Settings.tsx
  app/src/css/theme.pcss
  app/src/pages/_sub_window/AIWindow.tsx
  app/src/pages/_sub_window/SettingsWindow/ai.tsx
  app/src/themes/dark.pg-theme
Due: eslint --fix

✨ 完善反序列化
  app/src/core/Serializer.tsx
  app/src/core/dataStruct/shape/Rectangle.tsx
  app/src/core/service/GlobalMenu.tsx
Due: eslint --fix

✨ 添加FileSystemProvider
  app/package.json
  app/src/core/Project.tsx
  app/src/core/dataStruct/StringDict.tsx
  app/src/core/fileSystemProvider/FileSystemProviderFile.tsx
  app/src/core/interfaces/Service.tsx
  app/src/core/loadAllServices.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  docs/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

📦️ 添加@graphif/serializer
  app/package.json
  app/src/core/Project.tsx
  app/src/core/Serializer.tsx
  app/src/core/dataStruct/Color.tsx
  app/src/core/dataStruct/Vector.tsx
  app/src/core/dataStruct/shape/Rectangle.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/service/feedbackService/SoundService.tsx
  app/src/core/stage/stageObject/collisionBox/collisionBox.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
  app/vite.config.ts
  docs/content/docs/contribute/dev.mdx
  docs/content/docs/serializer/advanced-usage.mdx
  docs/content/docs/serializer/index.mdx
  docs/content/docs/serializer/meta.json
  docs/content/docs/vite-plugin-original-class-name/index.mdx
  package.json
  packages/serializer/.gitignore
  packages/serializer/.npmignore
  packages/serializer/README.md
  packages/serializer/package.json
  packages/serializer/src/index.ts
  packages/serializer/tsconfig.json
  packages/vite-plugin-original-class-name/README.md
  packages/vite-plugin-original-class-name/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

📦️ 添加@graphif/data-structures和shapes
  docs/content/docs/serializer/index.mdx
  package.json
  packages/api/package.json
  packages/data-structures/.gitignore
  packages/data-structures/.npmignore
  packages/data-structures/package.json
  packages/data-structures/src/Cache.ts
  packages/data-structures/src/Color.ts
  packages/data-structures/src/LimitLengthQueue.ts
  packages/data-structures/src/MonoStack.ts
  packages/data-structures/src/ProgressNumber.ts
  packages/data-structures/src/Queue.ts
  packages/data-structures/src/Stack.ts
  packages/data-structures/src/Vector.ts
  packages/data-structures/src/index.ts
  packages/data-structures/tsconfig.json
  packages/shapes/.gitignore
  packages/shapes/.npmignore
  packages/shapes/package.json
  packages/shapes/src/Circle.ts
  packages/shapes/src/CubicCatmullRomSpline.ts
  packages/shapes/src/Curve.ts
  packages/shapes/src/Line.ts
  packages/shapes/src/Rectangle.ts
  packages/shapes/src/Shape.ts
  packages/shapes/src/index.ts
  packages/shapes/tsconfig.json
  packages/vite-plugin-pg-theme/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

📝 修复文档构建失败
  docs/content/docs/core/project/file-format.mdx
  docs/content/docs/core/service.mdx
Due: none

♻️ 迁移到@graphif/data-structures和shapes
  app/package.json
  app/src/components/dialog.tsx
  app/src/core/algorithm/numericalIntegration.tsx
  app/src/pages/_popup_panel/_color_auto_panel.tsx
  app/src/pages/_popup_panel/_color_manager_panel.tsx
  app/src/pages/_popup_panel/_searching_node_panel.tsx
  app/src/pages/_render_sub_windows.tsx
  app/src/pages/_sub_window/AIWindow.tsx
  app/src/pages/_sub_window/AutoCompleteWindow.tsx
  app/src/pages/_sub_window/ColorWindow.tsx
  app/src/pages/_sub_window/FindWindow.tsx
  app/src/pages/_sub_window/LogicNodeWindow.tsx
  app/src/pages/_sub_window/MenuWindow.tsx
  app/src/pages/_sub_window/RecentFilesWindow.tsx
  app/src/pages/_sub_window/SettingsWindow/index.tsx
  app/src/pages/_sub_window/TagWindow.tsx
  app/src/pages/_toolbar.tsx
  app/src/utils/font.tsx
  app/src/vite-env.d.ts
  packages/shapes/src/CubicCatmullRomSpline.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

🐛 添加FileSystemProviderDraft
  app/src/core/Project.tsx
  app/src/core/fileSystemProvider/FileSystemProviderDraft.tsx
  app/src/core/loadAllServices.tsx
  app/src/core/service/GlobalMenu.tsx
  app/src/core/stage/ProjectFormatUpgrader.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageObject/collisionBox/collisionBox.tsx
  app/src/core/stage/stageObject/entity/TextNode.tsx
  docs/content/docs/contribute/dev.mdx
  package.json
  packages/data-structures/src/LimitLengthQueue.ts
  packages/shapes/src/Circle.ts
  packages/shapes/src/CubicCatmullRomSpline.ts
  packages/shapes/src/Curve.ts
  packages/shapes/src/Line.ts
  packages/shapes/src/Rectangle.ts
  packages/shapes/src/Shape.ts
  packages/shapes/src/index.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

🐛 删除一个import语句
  app/src/core/service/controlService/controller/concrete/ControllerDragFile.tsx
Due: eslint --fix

🐛 修复StageManager报错
  TODO.md
  app/src/core/render/canvas2d/renderer.tsx
  app/src/core/service/controlService/controller/concrete/ControllerEntityClickSelectAndMove.tsx
  app/src/core/service/controlService/keyboardOnlyEngine/keyboardOnlyEngine.tsx
  app/src/core/service/controlService/rectangleSelectEngine/rectangleSelectEngine.tsx
  app/src/core/service/controlService/secretKeysEngine/secretKeysEngine.tsx
  app/src/core/service/dataManageService/contentSearchEngine/contentSearchEngine.tsx
  app/src/core/stage/stageManager/StageManager.tsx
  app/src/core/stage/stageManager/concreteMethods/StageObjectSelectCounter.tsx
  app/src/core/stage/stageManager/concreteMethods/StageTagManager.tsx
  app/src/core/stage/stageObject/abstract/ConnectableEntity.tsx
Due: eslint --fix, prettier --write

✨ feat(core): 添加新的菜单项和图标
  app/src/core/service/GlobalMenu.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,yaml,yml}
