Repository LiRenTech/project-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write"
  ]
}

:zap: 优化性能
  src/core/render/canvas2d/renderer.tsx
  src/main.js
  src/main.tsx
Due: prettier --write, eslint --fix

:construction_worker: update ci
  .github/workflows/nightly.yml
Due: prettier --write

:green_heart: fix ci
  .github/workflows/nightly.yml
Due: prettier --write

:technologist: 优化KeyBinds
  docs/Project Graph v2.json
  docs/Project Graph v2.json.2024-12-22_18-10-10.backup
  src/core/KeyBinds.tsx
Due: prettier --write, eslint --fix

🙈 忽略backup文件
  .gitignore
  docs/Project Graph v2.json.2024-12-22_18-10-10.backup
Due: none

🎨 添加矩形绘制方法并更新舞台导出为SVG的逻辑
  src/core/render/svg/SvgUtils.tsx
  src/core/stage/StageDumperSvg.tsx
Due: prettier --write, eslint --fix

✨ feat(stage): 增加导出选中内容为SVG功能并添加相关工具栏选项
  src/core/render/svg/SvgUtils.tsx
  src/core/stage/StageDumperSvg.tsx
  src/pages/_toolbar.tsx
Due: prettier --write, eslint --fix

:wrench: add browserslistrc
  .browserslistrc
  postcss.config.js
Due: none

feat(core): 关闭自动保存的时候黑色闪屏特效
  src/core/stage/Stage.tsx
Due: prettier --write, eslint --fix

refactor(core): 移除未使用的代码和注释
  src/core/stage/Stage.tsx
Due: prettier --write, eslint --fix

✨ feat(core): 添加根据节内容计算结果并更新节点文本
  src/core/stage/Stage.tsx
Due: prettier --write, eslint --fix

:memo: use vitepress
  .gitignore
  docs-pg/Project Graph v2.json
  docs-pg/ProjectGraph开发进程图.json
  docs-pg/ProjectGraph继承体系.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/GithubRelease.vue
  docs/.vitepress/theme/Loading.vue
  docs/.vitepress/theme/index.ts
  docs/ProjectGraph开发进程图.json
  docs/ProjectGraph继承体系.json
  docs/contributing.md
  docs/contributors.md
  docs/faq.md
  docs/features/ai.md
  docs/features/camera.md
  docs/features/compute-engine.md
  docs/features/connect-point.md
  docs/features/edge.md
  docs/features/export.md
  docs/features/image.md
  docs/features/link-node.md
  docs/features/node.md
  docs/features/quick-action.md
  docs/features/section.md
  docs/features/split-merge.md
  docs/features/tree.md
  docs/getting-started.md
  docs/index.md
  docs/installation.md
  docs/json-format.md
  docs/public/logo.svg
  docs/roadmap.md
  docs/terms.md
  docs/why-rewriting.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

:memo: update docs
  docs/.vitepress/config.ts
  docs/contributors.md
Due: prettier --write, eslint --fix

:memo: docs
  CONTRIBUTING.md
  README.md
  changelogs/1.1.0.md
  src/pages/settings/about.tsx
  src/pages/settings/plugins.tsx
  src/pages/welcome/index.tsx
Due: prettier --write, eslint --fix

🔥 refactor(core): 移除不必要的TODO注释
  src/core/stage/Camera.tsx
  src/core/stage/stageManager/StageManager.tsx
Due: prettier --write, eslint --fix

feat(core): 增加矩形重叠区域计算与位置调整功能
  src/core/dataStruct/shape/Rectangle.tsx
  src/core/stage/stageManager/concreteMethods/StageEntityMoveManager.tsx
  src/core/stageObject/StageObject.tsx
  src/core/stageObject/entity/Section.tsx
  src/core/stageObject/entity/TextNode.tsx
Due: prettier --write, eslint --fix

:memo: vitepress enable cleanUrls
  docs/.vitepress/config.ts
Due: prettier --write, eslint --fix

:arrow_up: 升级依赖
  package.json
  pnpm-lock.yaml
Due: prettier --write

📝 docs(changelogs): 更新版本1.1.0的变更日志内容
  changelogs/1.1.0.md
Due: prettier --write

:memo: edit version name
  src/assets/versions.json
Due: prettier --write

:green_heart: fix ci
  .github/workflows/release.yml
Due: prettier --write

:rotating_light: fix ts
  src/components/ui/Box.tsx
Due: prettier --write, eslint --fix

✨ feat(core): 添加快捷键功能 fix(core): 移除多余的注释代码 docs(main): 更新快捷键弹窗内容及注释 style(app): 添加自定义快捷键提示及注释
  src/core/KeyBinds.tsx
  src/core/controller/Controller.tsx
  src/main.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

:wrench: change browserslist
  .browserslistrc
Due: none

clippy: removed unused import
  .husky/pre-commit
  src-tauri/src/lib.rs
Due: none

ci/cargo clippy check
  .github/workflows/release.yml
  .husky/pre-commit
Due: prettier --write

fix ci: cargo component add clippy in ci
  .github/workflows/release.yml
Due: prettier --write

🔧 tauri.conf.json
  src-tauri/tauri.conf.json
Due: prettier --write

improve: rust side code
  .husky/pre-commit
  bun.lockb
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/core/RecentFileManager.tsx
  src/core/stage/StageSaveManager.tsx
  src/main.tsx
  src/pages/_toolbar.tsx
Due: prettier --write, eslint --fix

fix/bun build
  src-tauri/tauri.conf.json
Due: prettier --write

fix: unused import in release build
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
Due: prettier --write

:fire: remove bun lock
  bun.lockb
Due: none

:rewind: revert change pre-commit
  .husky/pre-commit
Due: none
